{% macro renderCategory(category, header = false) %}
    <div class="row">
        <div class="col-12">
            {% if header %}
                <h3>
                    {{ category.title }}
                </h3>

                <p class="lead">
                    {{ category.intro }}
                </p>
            {% endif %}

            {% for item in category.items %}
                <h4>
                    {{ item.title }}
                </h4>

                {{ item.text|markdown }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}
