body {
  .margin-top-small {
    margin-top: 10px;
  }

  .margin-top-medium {
    margin-top: 20px;
  }

  .margin-top-large {
    margin-top: 40px;
  }

  .padding-top-small {
    padding-top: 10px;
  }

  .padding-top-medium {
    padding-top: 20px;
  }

  .padding-top-large {
    padding-top: 40px;
  }

  .margin-bottom-small {
    margin-bottom: 10px;
  }

  .margin-bottom-medium {
    margin-bottom: 20px;
  }

  .margin-bottom-large {
    margin-bottom: 40px;
  }

  .padding-bottom-small {
    padding-bottom: 10px;
  }

  .padding-bottom-medium {
    padding-bottom: 20px;
  }

  .padding-bottom-large {
    padding-bottom: 40px;
  }
}