body {
  .tt-dataset {
    max-width: 320px;
    min-width: 160px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    .tt-cursor {
      color: #333333;
      background-color: whitesmoke;
    }
  }
}