{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Chat
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul id="messages"></ul>
                <form class="form-inline" action="">
                    <div class="form-group">
                        <input id="m" class="form-control" autocomplete="off" />
                        <button class="btn btn-success">
                            Absenden
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('ChatPage', null, null, function(chatPage) {
            {% if app.getUser() %}
            chatPage.setUserToken('{{ app.getUser().token }}');
            {% endif %}

            chatPage.startChat();
        });
    </script>
{% endblock %}
