{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Chat{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Chat
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('ChatPage');
    </script>
{% endblock %}
