parameters:
  mailer_transport: sendmail
  mailer_host: 127.0.0.1
  mailer_user: null
  mailer_password: null
  mailer_port: null
  locale: de
  secret: '%env(APP_SECRET)%'
  kernel.secret: '%env(APP_SECRET)%'
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: null
  database_name: '%env(DATABASE_NAME)%'
  database_user: '%env(DATABASE_USER)%'
  database_password: '%env(DATABASE_PASSWORD)%'
  track.gap_width: 10
  strava.client_id: '%env(STRAVA_CLIENT_ID)%'
  strava.token: '%env(STRAVA_TOKEN)%'
  strava.secret: '%env(STRAVA_SECRET)%'
  facebook.app_id: '%env(FACEBOOK_APP_ID)%'
  facebook.app_secret: '%env(FACEBOOK_APP_SECRET)%'
  facebook.default_token: '%env(FACEBOOK_DEFAULT_TOKEN)%'
  runkeeper.client_id: '%env(RUNKEEPER_CLIENT_ID)%'
  runkeeper.secret: '%env(RUNKEEPER_SECRET)%'
  twitter.client_id: '%env(TWITTER_CLIENT_ID)%'
  twitter.token: '%env(TWITTER_TOKEN)%'
  twitter.secret: '%env(TWITTER_SECRET)%'
  photo_tsv.access_key: '%env(PHOTO_TSV_ACCESS_KEY)%'
  timeline.ttl: 60
  notification.mail.sender_address: malte@criticalmass.in
  request_listener.http_port: 80
  request_listener.https_port: 443
  upload_destination.track: '%kernel.project_dir%/public/tracks'
  upload_destination.photo: '%kernel.project_dir%/public/photos'
  upload_destination.city_photo: '%kernel.project_dir%/public/cities'
  upload_destination.ride_photo: '%kernel.project_dir%/public/rides'
  upload_destination.frontpage_teaser: '%kernel.project_dir%/public/teaser'
  upload_destination.user_photo: '%kernel.project_dir%/public/users'
  staticmaps.host: '%env(STATICMAPS_HOST)%'
  assets_version: '%env(ASSETS_VERSION)%'
  friendlycaptcha_api_key: '%env(FRIENDLYCAPTCHA_API_KEY)%'
  friendlycaptcha_site_key: '%env(FRIENDLYCAPTCHA_SITE_KEY)%'
