services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $webRootDir: '%kernel.project_dir%/../public'
            cachePrefix: 'media/cache'

    App\Criticalmass\Imagine\DataLoader\RemoteStreamLoader:
        arguments: ['@liip_imagine']
        tags:
            - { name: liip_imagine.binary.loader, loader: App\Criticalmass\Imagine\DataLoader\RemoteStreamLoader }

    App\Criticalmass\Imagine\CacheResolver\RemoteCacheResolver:
        tags:
            - { name: liip_imagine.cache.resolver, resolver: App\Criticalmass\Imagine\CacheResolver\RemoteCacheResolver }

    caldera.criticalmass.image.filter.blur:
        class: App\Criticalmass\Image\Filter\BlurFilter
        tags:
            - { name: liip_imagine.filter.loader, loader: blur_filter }

    caldera.criticalmass.image.filter.fast_blur:
        class: App\Criticalmass\Image\Filter\FastBlurFilter
        tags:
            - { name: liip_imagine.filter.loader, loader: fast_blur_filter }
