services:
    _defaults:
        autowire: true
        autoconfigure: true

    salavert.twig.time_ago:
        class: Salavert\Twig\Extension\TimeAgoExtension
        arguments:
            - '@translator'
        tags:
            - { name: twig.extension }
