{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Häufig gestellte Fragen zur Critical Mass{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Häufig gestellte Fragen
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                Häufig gestellte Fragen zur Critical Mass
            </h1>

            <p class="lead">
                Beachte bitte, dass diese Antworten auf häufig gestellte Fragen relativ allgemein gehalten sind. Von Stadt zu Stadt kann es Unterschiede geben, was die Handhabung bestimmter Probleme angeht.
            </p>

            <h2>
                Ist das alles überhaupt legal?
            </h2>

            <p>
                Es ist jedenfalls nicht unbedingt verboten. Die Straßenverkehrs-Ordnung erlaubt die Bildung eines so genannten Fahrrad-Verbandes ab 16 Radfahrern in <a href="http://sqi.be/p27stvo">§ 27 StVO</a>. Die Critical Mass nutzt diesen Umstand und fährt dann eben auch mal mit deutlich mehr als 16 Teilnehmern durch die Stadt.
            </p>

            <p>
                In einigen Städten wird die Critical Mass ohnehin von der Polizei begleitet, um bezüglich der Sicherheit einen reibungslaufen Ablauf zu gewährleisten. Der einzelne Teilnehmer muss hingegen in der Regel keine rechtlichen Probleme befürchten, sofern er sich nicht plötzlich mit Megafon und Trillerpfeife als Veranstalter verkauft.
            </p>

            <h2>
                Ist die Critical Mass eine Demonstration?
            </h2>

            <p>
                Eigentlich nicht, auch wenn es zu diesem Aspekt unterschiedliche Auffassungen gibt. Prinzipiell handelt es sich bei einer Critical Mass allerdings eher um eine gemeinsame Fahrrad-Ausfahrt ohne politische Forderungen.
            </p>

            <h2>
                Wer legt den Treffpunkt fest?
            </h2>

            <p>
                Das ist je nach Stadt unterschiedlich.
            </p>

            <p>
                In einigen Städten hat sich über die Zeit ein bestimmter Treffpunkt eingebürgert, in anderen Städten wird der Treffpunkt gemeinsam bestimmt. Eine Besonderheit ist die Critical Mass Hamburg, bei der ein bis heute unbekannter Akteur den Treffpunkt jeweils im Laufe des letzten Freitag des Monats festlegt.
            </p>

            <h2>
                Wie sieht es mit Alkohol aus?
            </h2>

            <p>
                Im Maßen sicherlich kein Problem, in Massen aber lieber nicht. Zwar greift auch bei einer gemeinsamen Critical-Mass-Ausfahrt die übliche Grenze von 1,6 Promille für Radfahrer, trotzdem gibt es bessere Orte als den Straßenverkehr, um sich gepflegt die Kante zu geben. Einerseits macht es keinen guten Eindruck, sich auf dem Rad einen nach dem anderen einzuschenken — auch wenn eine Critical Mass keine Demonstration ist, hat sie ja dennoch eine gewisse Außenwirkung — andererseits gefährdet ein gewisser Pegel nicht nur die eigene Gesundheit auf dem Rad, sondern auch andere Teilnehmer der Tour.
            </p>

            <h2>
                Und Glasflaschen?
            </h2>

            <p>
                Glasflaschen sind tatsächlich eine total uncoole Idee. Auch wenn man aufpasst und sorgfältig zugange ist, lässt es sich nicht vermeiden, dass hin und wieder jemandem eine solche Flasche zu Bruch geht. In Hamburg geht beispielsweise pro tausend Teilnehmer und pro Kilometer etwa eine Glasflasche zu Bruch. Die Scherben liegen dann auf der Fahrbahn herum, der nächste, der reinfährt, hat dann keinen schönen Abend mehr. Noch uncooler: Die leeren Glasflaschen zur Seite ins Straßenbegleitgrün pfeffern und dabei versehentlich das Rad des nächsten Radfahrers treffen.
            </p>

            <h2>
                Wie funktioniert die Sache mit den roten Ampeln?
            </h2>

            <p>
                Da sich die Critical Mass als Fahrradverband wie ein einziges langes Fahrzeug verhält, darf eine Kreuzung von allen Teilnehmern in einem Schwung überquert werden, sofern der erste Radfahrer die Haltlinie bei grünem Licht überquert hat.
            </p>

            <h2>
                Was ist ein Bike-Up?
            </h2>

            <p>
                Bei einem Bike-Up heben die Teilnehmer ihr Fahrrad überkopf nach oben. Das ist quasi sowas wie das internationale Erkennungszeichen einer Critical Mass. Ob ein Bike-Up stattfindet hängt von der jeweiligen Stadt ab, in Hamburg ist es beispielsweise vor der Abfahrt und am Ziel üblich, in Norderstedt eher unüblich.
            </p>

            <h2>
                Was bedeutet Corken?
            </h2>

            <p>
                Unter Corken versteht man das Absperren einer Kreuzung, so dass der Fahrradverband nicht durch einfahrende Kraftfahrzeuge gefährdet wird. Dazu positionieren sich einige Radfahrer aus dem vorderen Bereich des Teilnehmerfeldes so mit ihren Rädern auf der Kreuzung, dass einfahrende oder abbiegende Kraftfahrzeuge blockiert werden. Dieses Vorgehen dient tatsächlich nicht der Provokation des Kraftverkehrs, sondern der Sicherheit der teilnehmenden Radfahrer, da die Möglichkeit, dass das komplette Teilnehmerfeld eine Kreuzung trotz gegenlautender Lichtzeichen in einem Schwung überfährt, immer wieder zu Irritationen führt. Nutzt die Gelegenheit, um wartende Kraftfahrer über die Critical Mass aufzuklären und zu einer Teilnahme im nächsten Monat einzuladen.
            </p>

            <h2>
                Besteht eine Helm- oder Warnwestenpflicht?
            </h2>

            <p>
                Generell nicht.
            </p>

            <p>
                In einigen Städten haben sich die Teilnehmer allerdings darauf geeinigt, nur mit Helmen oder sogar mit Warnwesten loszufahren. Solche Regeln widersprechen eigentlich dem Geist einer Critical Mass — aber zum Glück spricht ja nichts dagegen, eine zweite Critical Mass in der selben Stadt großzuziehen, die dann ohne Helm- und Warnwestenpflicht auskommt.
            </p>

            <h2>
                Müssen die Teilnehmer eines Fahrradverbandes im Sinne von § 27 StVO nicht eine Warnweste tragen?
            </h2>

            <p>
                In <a href="http://sqi.be/p27stvo">§ 27 Abs. 3 S. 2 StVO</a> wird eine Kennzeichnung für Teilnehmer einer Verbandsfahrt explizit nur für Kraftfahrzeuge gefordert. Für einen Fahrradverband genügt es laut § 27 Abs. 3 S. 1 StVO, wenn er für andere Verkehrsteilnehmer als Verband erkennbar ist. Eine Gruppe von Dutzenden, Hunderten oder gar Tausenden Radfahrern dürfte von jedem Verkehrsteilnehmer einwandfrei als Verband erkannt werden, so dass keine Kennzeichnung mit Warnwesten oder Fahnen erforderlich ist.
            </p>

            <h2>
                Ist ein verkehrssicheres Fahrrad nötig?
            </h2>

            <p>
                In der Regel kontrolliert die Polizei nicht die Räder der einzelnen Teilnehmer auf ihre Verkehrssicherheit, trotzdem ist es im eigenen und im Interesse der anderen Teilnehmer keine schlechte Idee, das eigene Rad in einem verkehrssicheren Zustand zu halten. Dazu zählt nicht nur eine funktionierende Beleuchtung, sondern vor allem auch funktionstüchtige Bremsen, mit denen das Rad im Notfall ohne Zuhilfenahme der Schuhsohlen schnell abgebremst werden kann.
            </p>

            <h2>
                Muss ich mich für eine Teilnahme an einer Critical Mass anmelden?
            </h2>

            <p>
                Nein, natürlich nicht: Einfach auf den Sattel steigen und rechtzeitig am Treffpunkt sein. Das ist natürlich alles total unverbindlich und so, es gibt keine Verpflichtungen und ihr könnt die Tour jederzeit wieder verlassen.
            </p>

            <p>
                Dennoch kann es nicht schaden, etwa bei den Veranstaltungseinladungen auf facebook zuzusagen — sonst steht ihr nachher allein am Treffpunkt herum, wenn sich angesichts einer Handvoll zusagen niemand anders für eine Radtour begeistern konnte.
            </p>

            <h2>
                Kann ich zwischendurch einsteigen? Muss ich bis zum Ende mitfahren?
            </h2>

            <p>
                Du kannst kommen und gehen wann du willst.
            </p>

            <h2>
                Wer veranstaltet eine Critical Mass?
            </h2>

            <p>
                Eigentlich niemand — und eigentlich alle Teilnehmer zusammen.
            </p>

            <p>
                In der Regel gibt es keinen offiziellen Veranstalter, es handelt sich vielmehr um einen lose organisierten Zusammenschluss mehrerer Radfahrer.
            </p>

            <p>
                Es gibt allerdings Städte, in denen sich beispielsweise der lokale Fahrradverein oder ein Fahrradladen mehr oder weniger unabsichtlich als Veranstalter zu erkennen gegeben hat. In anderen Städten wird manchmal eine Critical Mass tatsächlich von vornherein als Demonstration angemeldet — das ist allerdings eher die Ausnahme.
            </p>

            <h2>
                Bin ich als Teilnehmer an einer solchen Ausfahrt versichert?
            </h2>

            <p>
                Jeder Teilnehmer fährt auf eigenes Risiko und eigene Haftung mit.
            </p>

            <h2>
                Darf ich meinen Hund mitnehmen?
            </h2>

            <p>
                In Ermangelung eines Veranstalters kann es dir niemand verbieten. Einen Hund in einer Masse von Dutzenden, Hunderten oder gar Tausenden Radfahrern mitlaufen zu lassen, ist allerdings keine gute Idee: Auch wenn dein Tier total gut aufs Wort gehorcht, kann eine Critical Mass mit Klingeln und Geräuschen und der Masse an Teilnehmern deinen Hund überfordern. Bedenke auch, dass nicht jeder Teilnehmer einer Critical Mass aufmerksam genug ist, um auf Hunde zu achten, die deutlich kleiner und unauffälliger als ein Radfahrer im Teilnehmerfeld sind.
            </p>

            <p>
                Falls dein Hund in einen Fahrrad-Korb oder Fahrrad-Anhänger passt, spricht allenfalls noch die Lautstärke in Tunneldurchfahrten gegen eine Teilnahme, denn dort wird gemeinhin laut geklingelt und gerufen, was dein Tier vielleicht nicht so geil finden wird — dann musst du notfalls rechtzeitig das Teilnehmerfeld verlassen und über einen Umweg die Tunnelstrecke umfahren.
            </p>

            <h2>
                Was ist mit Skate- oder Longboards? Kann ich mit Inline-Skates teilnehmen?
            </h2>

            <p>
                Rechtlich gesehen sind Skater keine Fahrräder und dementsprechend auch nicht Teil des Fahrradverbandes aus <a href="http://sqi.be/p27stvo">§ 27 StVO</a>. Andererseits gibt es abseits der rechtlichen Regularien eigentlich keine Probleme. Bedenke aber, dass die Strecke unter Umständen mit ungewohnten Geschwindigkeiten befahren wird oder du plötzlich Steigungen zurücklegen musst, die du bislang nicht gewohnt bist.
            </p>

            <h2>
                Wie lang ist so eine Tour?
            </h2>

            <p>
                Auch das hängt von den jeweiligen Städten ab: Einige sind bis zu drei Stunden unterwegs und legen etwa 35 Kilometer zurück, andere sind schon nach einer Stunde und zehn Kilometern fertig. Schau dir die <a href="/statistic/">Statistik-Seite</a> an, um einen Eindruck von der durchschnittlichen Tourlänge und -dauer zu erhalten.
            </p>

            <h2>
                Wie schnell wird gefahren?
            </h2>

            <p>
                Eher gemächlich: Das Tempo orientiert sich an den Fähigkeiten der langsamereren Teilnehmer und es wird niemand zurückgelassen.
            </p>

            <h2>
                Kann ich Trillerpfeifen und Transparente mitbringen?
            </h2>

            <p>
                Nein, in der Regel bitte nicht. Eine Critical Mass versteht sich nicht als Demonstration und Trillerpfeifen und Transparente bringen allenfalls die einzelnen Teilnehmer in rechtliche Schwierigkeiten.
            </p>

        </div>
    </div>
</div>
{% endblock %}
