{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Häufig gestellte Fragen zu Caldera Critical Mass{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Statistiken
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                Häufig gestellte Fragen zu Caldera Critical Mass
            </h1>

            <h2>
                Wie synchronisiert sich Caldera Critical Mass mit facebook?
            </h2>

            <p>
                Caldera Critical Mass tauscht keine persönlichen Daten mit facebook aus.
            </p>

            <p>
                Sofern für eine Stadt eine Seite auf facebook angegeben wurde, werden alle vier Stunden die öffentlich zugänglichen Daten dieser Seite abgerufen und zu statistischen Zwecken abgespeichert. Darüber lässt sich beispielsweise verfolgen, wie viele Like-Angaben eine Stadt zählt.
            </p>

            <p>
                Wenn eine Tour mit einer Veranstaltung auf facebook verlinkt wurde, werden alle vier Stunden die öffentlich zugänglichen Daten dieser Tour abgerufen und abgespeichert. Das beinhaltet beispielsweise die Anzahl der Teilnehmer oder der eingeladenen Personen, Titel und Beschreibung der Veranstaltung sowie den Treffpunkt.
            </p>

            <p>
                Außerdem versucht Caldera Critical Mass automatisch die öffentlich zugängliche Veranstaltung einer Critical-Mass-Tour auf facebook zu finden. Das klappt aber nur unter folgenden Voraussetzungen:
            </p>

            <ul>
                <li>
                    Die dazugehörige Stadt wurde mit einer Seite auf facebook verlinkt.
                </li>
                <li>
                    Es gibt auf der Seite eine Veranstaltung für die Critical Mass.
                </li>
                <li>
                    Es gibt auf der Seite für den Tag der Tour keine anderen Veranstaltungen.
                </li>
            </ul>

            <p>
                Es gibt außerdem die Möglichkeit, die Daten einer Tour einigermaßen automatisch mit den Veranstaltungsdaten auf facebook zu synchronisieren, um beispielsweise Uhrzeiten und Treffpunkte abzugleichen.
            </p>

            <h2>
                Wie kann man Fotos hochladen?
            </h2>

            <p>
                Die Möglichkeit, Fotos einer Tour hochzuladen, besteht erst nach dem Ende einer Tour. Auf der Seite einer Tour kannst du unter dem Menüpunkt „Galerie“ den Button „Fotos hochladen“ betätigen.
            </p>

            <h2>
                In welcher Größe sollte ich Fotos hochladen?
            </h2>

            <p>
                Gerne so groß wie möglich. Auf dem Server ist genug Platz.
            </p>

            <h2>
                Wie werden hochgeladene Fotos auf der Karte verlinkt?
            </h2>

            <p>
                Um Fotos automatisch auf der Karte zu verorten muss eine der beiden folgenden Voraussetzungen erfüllt sein:
            </p>

            <ul>
                <li>
                    Das Foto beinhaltet bereits GPS-Koordinaten. Das ist beispielsweise der Fall bei Fotos, die mit einem Smartphone oder einer GPS-fähigen Digitalkamera aufgenommen wurden sind. Caldera Critical Mass versucht die GPS-Koordinaten aus den EXIF-Daten der Fotos auszulesen und platziert sie entsprechend auf der Karte.
                </li>
                <li>
                    Der Benutzer, mit dessen Benutzerkonto die Fotos hochgeladen werden, hat einen GPS-Track hochgeladen oder importiert. Anhand des Aufnahmedatums des Fotos versucht Caldera Critical Mass die dazugehörigen Koordinaten zu berechnen und platziert das Foto entsprechend auf der Karte. Für diese Berechnung ist es natürlich hilfreich, wenn die Uhren des GPS-Aufzeichnungsgerätes und der Kamera synchron sind — falls nicht, lassen sich gewisse Zeitverschiebungen manuell im Benutzerkonto korrigieren.
                </li>
            </ul>

            <h2>
                Wie erstellt Caldera Critical Mass automatisch neue Touren?
            </h2>

            <p>
                Für jede Stadt lässt sich angeben, ob monatlich neue Touren generiert werden sollen. Dazu muss lediglich angegeben werden, an welchem Wochentag und an welcher Woche im Monat die Touren stattfinden. Optional lässt sich automatisch die Uhrzeit und der Treffpunkt angeben.
            </p>

            <p>
                Jeweils am Ende des Monats werden die Touren für den jeweils nächsten Monat generiert. Das ist etwas uncool, falls eine Tour am Monatsanfang stattfindet, weil die Tourdaten dann lediglich mit ein paar Tagen Vorlaufzeit zu sehen sind, aber daran arbeiten wir noch.
            </p>

            <h2>
                Wie viel kostet der Anruf an eurer 0700-Nummer?
            </h2>

            <p>
                Kommt auf deinen Anbieter an. Generell bewegen sich die Kosten irgendwo in der Nähe des üblichen Orstarifes. Noch günstiger und besser ist es, wenn du eine E-Mail schickst oder einen Kommentar schreibst.
            </p>

            <h2>
                Woher kommen die Daten für die Statistiken?
            </h2>

            <p>
                Die Teilnehmerzahlen werden aus den Daten errechnet, die als Schätzung zu einer jeweiligen Tour abgespeichert worden sind. Jeder angemeldete Benutzer kann eine solche Schätzung abgeben.
            </p>

            <p>
                Tourlänge und -dauer hingegen werden aus den hochgeladenen GPX-Dateien berechnet.
            </p>

            <p>
                Die Anzahl der Likes der facebook-Seiten und die Teilnehmer-Zusagen einer Veranstaltung auf facebook werden automatisch über die facebook-API abgefragt.
            </p>

            <h2>
                Wie kann man Tracks hochladen?
            </h2>

            <p>
                Nach dem Ende einer Tour kannst du unter dem Reiter „Tracks“ entweder einen Track direkt von Strava importieren oder eine GPX-Datei hochladen.
            </p>

            <h2>
                Wie kann ich meine Strecke zu der Timelapse-Ansicht hinzufügen?
            </h2>

            <p>
                Das passiert ganz automatisch mit dem Hochladen eines Tracks. Voraussetzung ist lediglich, dass deine GPX-Datei sowohl Koordinaten als auch Zeitstempel enthält. Beachte bitte, dass dein Track unter Umständen nicht in der Timelapse-Ansicht dargestellt wird, wenn dein GPX-Aufzeichnungsgerät falsche Zeitstempel eingetragen hat. Das kann beispielsweise passieren, wenn du die Uhr deines Gerätes nicht gestellt hast.
            </p>

            <h2>
                Wie kann ich meine aufgezeichnete Strecke editieren?
            </h2>

            <p>
                Du kannst unter „Dein Benutzerkonto“ und dem Menüpunkt „Deine Tracks“ jede GPX-Aufzeichnung nachträglich beschneiden, um beispielsweise deinen An- oder Abfahrtsweg zu entfernen.
            </p>
        </div>
    </div>
</div>
{% endblock %}