{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Impressum
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>
                Impressum
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                Malte Hübner<br />Mühlenaustieg 10<br />22523 Hamburg
            </p>

            <p>
                Telefon: 0700 11 864 833<br /><a href="mailto:malte@caldera.cc">malte@caldera.cc</a>
            </p>
        </div>

        <div class="col-md-5">
            <div class="alert alert-danger">
                <strong>Zur Demonstration „Colorful Mass“ gegen den G20-Gipfel in Hamburg am 7. Juli 2017:</strong>
                Diese Webseite steht in keinem Zusammenhang mit der so genannten „Colorful Mass“ zum G20-Gipfel in Hamburg. <a href="http://sqi.be/2nimg">Die Hamburger Polizei hat diese Demonstration im G20-Transitkorridor untersagt und angekündigt, gegen Teilnehmer der „Colorful Mass“ rechtlich vorzugehen</a>. Bitte seht von Anfragen per E-Mail oder Telefon zu dieser Thematik ab und informiert euch auf den einschlägigen Internetseiten zur „Colorful Mass“.
            </div>
        </div>
    </div>
</div>
{% endblock %}
