{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Was ist die Critical Mass?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Was ist die Critical Mass?
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Was ist die Critical Mass?
            </h1>

            <p class="lead">
                Im Prinzip ist eine Critical Mass eine Art Fahrradtour, die in der Regel jeweils am letzten Freitag im Monat stattfindet. In einigen Städten treffen sich ein paar Dutzend Radfahrer zu einer solchen Tour, in anderen Städten wiederum mehrere Tausend.
            </p>

            <p>
                Die Critical-Mass-Bewegung versteht sich nicht als Demonstration, schließlich gibt es keinen offiziellen Veranstalter oder Anführer und keine formulierten politischen Ziele. Beinahe zufällig scheinen sich die Teilnehmer zu einem bestimmten Zeitpunkt an einem bestimmten Ort zu versammeln, um dann gemeinsam eine Runde durch die Stadt zu drehen.
            </p>

            <p>
                Die Straßenverkehrs-Ordnung erlaubt in § 27 StVO die Bildung eines so genannten Fahrrad-Verbandes, sobald mindestens 16 Radfahrer gemeinsam unterwegs sind. Ein solcher Fahrrad-Verband darf dann auch trotz benutzungspflichtiger Radwege die Fahrbahn nutzen und verhält sich an ampelgeregelten Kreuzungen wie ein einziges großes Fahrzeug: Wenn der erste Radfahrer bei grünem Licht die Haltinie überquert, dürfen ihm alle anderen folgen, auch wenn die Ampel zwischenzeitlich auf rotes Licht umschaltet.
            </p>

            <h2>
                Was soll das alles?
            </h2>

            <p>
                Eine Critical Mass versteht sich zwar nicht als Demonstration und führt in der Regel keine politischen Forderungen, allerdings lässt sich kaum in Abrede stellen, dass mehrere tausend Radfahrer zusammen ein eindrucksvolles Statement abgeben. Ursprünglich war die Intention, auf die Belange des Radverkehrs aufmerksam zu machen, die in der autogerechten Stadt meistens kaum Beachtung fanden.
            </p>

            <p>
                Es lassen sich unter den Teilnehmern allerdings unterschiedliche Vorstellungen bezüglich der Teilnahme an einer solchen Critical Mass feststellen: Die einen wollen einfach mit ihren Freunden zusammen in Ruhe durch die Stadt fahren, die anderen ein Zeichen für mehr Radverkehr in den Städten setzen. Wiederum andere genießen schlicht das Bild, das sich bei mehreren tausend Radfahrern auf der Straße bietet. Und manch einer soll tatsächlich vor allem wegen der guten Musik mitgeradelt sein, die von verschiedenen Sound-Bikes gespielt wird.
            </p>

            <h2>
                Wer legt die Route fest?
            </h2>

            <p>
                Kommt drauf an: Meistens derjenige, der vorne fährt und sich mit seiner lauten Stimme durchsetzen kann. Oder vielleicht auch derjenige, der den besten Routenvorschlag bringt. Oder jemand, der weiß, dass es drei Straßen weiter eine Baustelle gibt und man deshalb lieber jetzt abbiegen sollte, bevor es zu eng wird. Eigentlich also jeder.
            </p>

            <p>
                Es gibt allerdings lokale Unterschiede, in einigen Städten ist das Befahren bestimmter Streckenabschnitte Tradition, in anderen Städten wird tatsächlich vor Beginn der Tour eine Route festgelegt.
            </p>

            <h2>
                Und was macht die Polizei?
            </h2>

            <p>
                Auch hier gilt: Es kommt drauf an.
            </p>

            <p>
                In kleineren Städten mit übersichtlicher Teilnehmerzahl kann es gut sein, dass sich die Polizei gar nicht für die Critical Mass interessiert. In größeren Städten hat man sich mittlerweile ganz gut eingespielt: Die Polizei kommt mit ein paar Motorrädern und ein oder zwei Begleitfahrzeugen zum Treffpunkt und schaut sich das ganze in Ruhe an.
            </p>
            <p>
                Das erste Zusammentreffen einer jungen Critical Mass mit der Polizei verläuft hingegen meistens nicht so harmonisch. Die Beamten werden versuchen, einen der Teilnehmer als Veranstalter zu identifizeren und unter Umständen die Weiterfahrt untersagen, beziehungsweise die Veranstaltung auflösen. In Hamburg beispielsweise packten im Juni 2011 die Beamten noch Schlagstöcke und Helme aus, um den Fahrrad-Rowdys Einhalt zu gebieten.
            </p>
        </div>
    </div>
</div>
{% endblock %}
