<div class="card d-md-block d-lg-block mb-4">
    <div class="card-body">
        <h6 class="mb-3">
            Live Tracking
        </h6>
        <p class="card-text">
            Suchst du die <strong>Live-Karte</strong>? Die findest du ab jetzt hier:
        </p>

        <a class="btn btn-danger" href="https://criticalmass.live/{{ city.slug }}">
            criticalmass.live
        </a>
    </div>
</div>