<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    Seit 2011 im Sattel. <a href="{{ path('caldera_criticalmass_content_display', { slug: 'about-us/impress' }) }}">Impressum</a>. criticalmass.in by Caldera.
                </div>
            </div>
        </div>
    </div>
</footer>