<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">Seit 2011 im Sattel. <a href="{{ path('caldera_criticalmass_content_display', { slug: 'about-us/impress' }) }}">Impressum</a>. criticalmass.in by Caldera.</p>
    </div>
</footer>