<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCriticalmassSiteBundle:Template:Includes/_meta.html.twig') %}

    <title>{% block title %}{% endblock %} — criticalmass.in</title>

    <link rel="stylesheet" href="{{ asset('bundles/calderacriticalmasssite/css/criticalmass.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript">
        var domReadyQueue = [];
    </script>
    
    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
    {% block masterContent %}{% endblock %}

    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/jquery/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/calderacriticalmasssite/js/external/bootstrap3/bootstrap.min.js') }}"></script>

    {% block additionalFooterElements %}{% endblock %}

    <script type="text/javascript">
        jQuery(function(){
            while (domReadyQueue.length) {
                domReadyQueue.shift()(jQuery);
            }
        });
    </script>
</body>
</html>
