<!DOCTYPE html>
<html lang="en">
<head>
    {% include('CalderaCriticalmassSiteBundle:Template:Meta.html.twig') %}

    <title>{% block title %}{% endblock %} — criticalmass.in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock %}">
    {% block masterContent %}{% endblock %}

    {% block additionalFooterElements %}{% endblock %}
</body>
</html>
