{% extends 'CalderaCriticalmassSiteBundle:Template:MasterTemplate.html.twig' %}

{% block masterContent %}
        {% include('CalderaCriticalmassSiteBundle:Template:Navigation.html.twig') with { 'fullscreenMap': 'false' } %}

        {% block breadcrumbContainer %}
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Critical Mass</a>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ol>
        </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% include('CalderaCriticalmassSiteBundle:Template:Footer.html.twig') %}

        {% block additionalFooterElements %}{% endblock %}

        {% include('CalderaCriticalmassSiteBundle:Template:Piwik.html.twig') %}
{% endblock %}
