{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'security.login_link.title'|trans }}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{ 'security.login_link.heading'|trans }}</h1>

                <p class="lead">
                    {{ 'security.login_link.lead'|trans }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
