{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Login{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Einloggen und losfahren!</h1>

                <p class="lead">
                    Danke. Du hast eine E-Mail mit einem Link zum Einloggen bekommen. Bitte wirf einen Blick in deinen Posteingang.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
