<footer class="footer margin-top-medium margin-bottom-large">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    Seit {{ daysSince('2011-06-24 19:00:00') }} Tagen im Sattel &bull;
                    <a href="{{ path('caldera_criticalmass_content_display', { slug: 'about-us/impress' }) }}">Impressum</a> &bull;
                    <a href="https://www.facebook.com/criticalmass.in">facebook</a> &bull;
                    <a href="https://github.com/calderacc">GitHub</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    Kartendaten und Geocoding von <a href="http://www.openstreetmap.org/">OpenStreetMap</a> &bull;
                    Wetterdaten von <a href="http://www.openweathermap.org/">OpenWeatherMap</a>
                </div>
            </div>
        </div>
    </div>
</footer>