{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Über uns{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
        <li class="active">Über uns</li>
    </ol>

    <h1>Hej, wir lieben Fahrräder!</h1>
    <p class="lead">criticalmass.in zeigt dir seit 2012 den Weg zur nächsten Critical Mass. Und wir sind noch lange nicht fertig.</p>

    <p>Die Idee zu criticalmass.in entstand an einem warmen Sommertag während einer Vorlesung im Informatik-Studiengang an der Fachhochschule Wedel. Nur ein paar Monate vorher hatte sich die Idee der Critical Mass — mal wieder — in Hamburg etabliert. Absprachen zur Tour wurden über facebook getroffen und facebook empfahl mir im Juni 2011, doch auch mal bei dieser Tour mitzuradeln.</p>

    <p>Ich tauchte an jenem 24. Juni 2011 mit meinem Rad an der Mensa der Universität Hamburg auf. Und weil ich nie ohne Kamera aus dem Haus gehe, trug es sich zu, dass ich die folgende zweistündige Radtour mit der Kamera begleitete. Das war eigentlich gar nicht mal so lustig, weil es quer über rote Ampeln mitten in den fließende Querverkehr ging, der Gegenverkehr blockiert wurde und irgendwann die Polizei so sehr die Nase voll hatte, dass einige Teilnehmer mit Gewalt vom Rad gezoge wurden. Zu Hause tippte ich in der ruhigen und überlegten Art, für die ich bekannt bin, einen Beitrag auf facebook, was mir alles nicht gepasst hatte und warum und schwor, nie wieder bei dieser Chaotentruppe aufzutauchen.</p>

    <p>Zwei Tage später stand ich vor dem Problem, knappe 200 Fotos von der Tour mit nach Hause gebracht zu haben. Konsequent wie ich war registrierte ich mir erst einmal den Domainnamen <a href="http://www.criticalmass-hamburg.de/">criticalmass-hamburg.de</a> und baute eine kleine Webseite auf, die eine Galerie mit meinen Fotos und ein paar weiterführende Informationen enthielt. Zweieinhalb Jahre lang verpasste ich keine Tour, flitzte jeweils am Monatsende mit der Kamera von vorne nach hinten und wieder zurück und hielt leider auch mein Gesicht in die Fernsehkameras, was sicherlich nicht zu meinen besten Ideen zählte.</p>

    <p>Da, irgenwo in der Mitte dieser zwei Jahre, tauchte das Problem auf, dass die Webseite der Critical Mass Hamburg zwar total toll und schick war, aber für die Nutzung auf dem Smartphone trotz eines für solche Zwecke optimierten Designs nicht unbedingt geeignet war. Ich baute in einer ruhigen Minute im McCafé in der Hamburger Kollaustraße ein grässliches Stück Software, das nicht viel mehr tat als in eine Datenbank zu greifen und den Treffpunkt der nächsten Tour herauszufischen. Es war wirklich schlimm: Trotz der geringen Komplexität der Software dauerte es jeweils zehn Minuten, um die monatliche Tour in der Datenbank zu speichern. Das musste besser gehen, aber, tja, Zeit, wer hat schon Zeit?</p>

    <p>Es trug sich zu, dass ich neben dem Studium bei einer Firma in der Hamburger Innenstadt arbeitete (bei der recht viele Mitarbeiter auch gerne am Fahrradfreitag teilnahmen), dort eigentlich auch meine Abschlussarbeit schreiben wollte, die Pläne aber wegen unerwarteter Umstrukturierungsmaßnahmen verwerfen musste. Ich rettete mich zurück in die Fachhochschule Wedel und machte das, was ich am besten konnte: Radfahren und Programmieren. In meiner Abschlussarbeit beschäftigte ich mich mit der Entwicklung einer Software, die nicht nur den Treffpunkt anzeigt, sondern über die HTML5-Fähigkeiten eines modernen Webbrowsers auch den Standort der Besucher abfragt und auf einer Karte anzeigt. So konnten interessierte Radfahrer, die noch etwas länger im Bureau oder im Hörsaal festsaßen, noch im Laufe des Abends zur Radtour dazustoßen.</p>

    <p>Nach der Abschlussarbeit ging’s mit einem Master-Studium der IT-Sicherheit an der Fachhochschule Wedel weiter. In diesem Studiengang steht ein recht umfangreiches Projekt auf dem Plan, dass ich mit einigen Kommilitonen bearbeite. Zusammen wollen wir die kleine Web-App, die damals aus meiner Abschlussarbeit purzelte, noch kräftig aufbohren und zu einem zuverlässigen Tool für Critical-Mass-Touren ausbauen.</p>
</div>
{% endblock %}