{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}What is the matrix?{% endblock %}

{% block content %}
<div class="container">
    <h1>Freitagnachtfieber.</h1>
    <p class="lead"></p>

    <p></p>
</div>
{% endblock %}