{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Über uns{% endblock %}

{% block content %}
<div class="container">
    <h1>Hej, wir lieben Fahrräder!</h1>
    <p class="lead">criticalmass.in zeigt dir seit 2012 den Weg zur nächsten Critical Mass. Und wir sind noch lange nicht fertig.</p>
</div>
{% endblock %}