<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>criticalmass.in</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    {% stylesheets
    '@CalderaCriticalmassCoreBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>

<body>
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">criticalmass.in</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="navigationButtonSidebar"><i class="fa fa-list" style="color: white"></i>&nbsp;&nbsp;Städte</a></li>
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-globe" style="color: white"></i>&nbsp;&nbsp;Critical Mass</a></li>
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#glympseModal').modal('show'); return false;"><i class="fa fa-dashboard" style="color: white"></i>&nbsp;&nbsp;Live-Tracking</a></li>
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-question-circle" style="color: white"></i>&nbsp;&nbsp;Über uns</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <h1>Live dabei: Mit Glympse!</h1>
    <p class="lead">criticalmass.in zeigt dir seit 2012 den Weg zur nächsten Critical Mass. Und wir sind noch lange nicht fertig.</p>

    <p>Mit Glympse kannst du einen Aufenthaltsort mit deinen Freunden teilen — und natürlich auch mit criticalmass.in!</p>

    <h2>Warum sollte ich meinen Aufenthaltsort mit euch teilen? Das ist doch Blödsinn!</h2>
    <p>Das ist gar nicht mal so ganz blödsinnig. Wenn du deinen Standort mit uns teilst…</p>
    <ul>
        <li>… zeigst du anderen Radfahrern, die zur Startzeit noch im Bureau, im Hörsaal oder zu Hause stecken, den Weg zur Masse.</li>
        <li>… hilfst du anderen Teilnehmern, die zum Corken, Quatschen oder Bier kaufen stehengeblieben sind, wieder zur Masse zu finden.</li>
        <li>… unterstützst du uns bei der Erstellung wunderschöner Heatmaps und (hoffentlich) hochinteressanter Statistiken.</li>
    </ul>

    <h2>Unerkannt solange du willst.</h2>
    <p>Dass andere Teilnehmer deinen Standort sehen können, wenn du uns eine Glympse-Einladung schickst, ist nunmal Sinn der Sache und wird sich kaum vermeiden lassen. Auf der unserer Karte zeigen wir lediglich deinen aktuellen Aufenthaltsort und den Anzeigenamen an, den du in der Glympse-App eingegeben hast. Wenn du dort nichts eingibst oder ein Pseudonym verwendest, wird erst einmal niemand Rückschlüsse ziehen kann, wer sich gerade unter diesem bunten Kreis auf der Karte bewegt.</p>
    <p>Und die Polizei? Die wird sich vermutlich eh nicht für deinen Aufenthaltsort interessieren, geschweigedenn dass du in der Masse der Teilnehmer zu identifizieren wärest. Wenn du dir Sorgen machst, dass dir die Polizei folgen könnte, solltest du ohnehin kein Mobiltelefon mitführen, das sich über eine so genannte Stille SMS zu erkennen gibt.</p>

    <h2>Sicher ist sicher.</h2>
    <p>Geolocation-Daten sind schon per Definition brisant. Wenn du über Glympse deinen Aufenthaltsort mit uns teilst, bekommen wir von Glympse die folgenden Informationen über deinen Aufenthaltsort:</p>
    <ul>
        <li>Längengrad</li>
        <li>Breitengrad</li>
        <li>ungefähre Genauigkeit von Längen- und Breitengrad in Metern</li>
        <li>Höhe</li>
        <li>ungefähre Genauigkeit der Höhenangabe in Metern</li>
        <li>Bewegungsrichtung</li>
        <li>Bewegungsgeschwindigkeit</li>
        <li>Zeitpunkt der Messung deines Aufenthaltsortes</li>
    </ul>

    <p>Von deinem Aufenthaltsort abgesehen nutzen wir noch die folgenden Daten:</p>
    <ul>
        <li>den Start- und Endzeitpunkt des Zeitraumes, in dem wir Zugriff auf deinen Aufenthaltsort haben</li>
        <li>den Anzeigenamen, den du in der Glympse-App eingespeichert hast</li>
        <li>die individuelle Mitteilung, die du bei deiner Glympse-Einladung festgelegt hast</li>
    </ul>

    <div class="alert alert-info" role="alert">Wir haben <strong>keinen Zugriff</strong> auf dein Adressbuch oder sonstige Funktionen und Eigenschaften deines Gerätes!</div>
</div>


{% javascripts
'@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/factories/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/entities/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/bootstrap.min.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.activearea.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.Control.Sidebar.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/leaflet.groupedlayercontrol.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/map/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
