{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Teile deine Position über Glympse{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">criticalmass.in</a></li>
        <li class="active">Glympse</li>
    </ol>

    <div class="alert alert-warning" role="alert">Falls dein Smartphone Probleme mit der Darstellung dieser Webseite hast, weiche bitte auf unsere für mobile Geräte optimierte Web-App aus: <a href="https://criticalmass.in/">https://criticalmass.in/</a></div>

    <ul class="nav nav-tabs" id="glympseModalTabs">
        <li class="active"><a href="#tabIntro" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;So funktioniert’s</a></li>
        <li><a href="#tabFaq" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;Häufige Fragen</a></li>
    </ul>

    <div class="tab-content" id="glympseTabs" style="padding-top: 10px;">
        <div class="tab-pane fade active in" id="tabIntro">
            <h1>Live dabei: Mit Glympse!</h1>
            <p class="lead">criticalmass.in zeigt dir seit 2012 den Weg zur nächsten Critical Mass. Und wir sind noch lange nicht fertig.</p>

            <p>Mit <a href="https://www.glympse.com/">Glympse</a> kannst du einen Aufenthaltsort mit deinen Freunden teilen — und natürlich auch mit criticalmass.in! Wenn du während der Critical Mass deinen Standort mit uns teilst, können andere Teilnehmer auf unserer Karte sehen, wo die Masse gerade entlangfährt. Es ist ganz einfach:</p>
            <ol>
                <li>Lade dir die kostenlose <a href="https://www.glympse.com/get_glympse">Glympse</a>-App herunter. Glympse gibt es für <a href="https://play.google.com/store/apps/details?id=com.glympse.android.glympse" class="btn btn-default">Android</a>, <a href="https://itunes.apple.com/de/app/glympse-zeig-deinen-freunden/id330316698?mt=8" class="btn btn-default">iOS</a> und <a href="http://www.windowsphone.com/de-de/store/app/glympse/ec418e52-b788-e011-986b-78e7d1fa76f8" class="btn btn-default">Windows Phone</a>.</li>
                <li>Erstelle einen neuen Glympse über vier Stunden, sobald sich die Masse in Bewegung setzt.</li>
                <li>Lade uns ein! Schicke uns direkt aus der App eine Einladung an <code>hamburg@criticalmass.in</code> oder <code>berlin@criticalmass.in</code> oder <code>koeln@criticalmass.in</code> oder wo auch immer du gerade unterwegs bist.</li>
                <li>Fahre los: Glympse gewährt uns für den von dir eingestellten Zeitraum Zugriff auf deinen Aufenthaltsort und deine Position wird auf unserer Karte angezeigt.</li>
                <li>Feierabend? Denke daran, deinen Glympse nach der Tour zu beenden, falls der von dir eingestellte Zeitraum noch nicht abgelaufen sein sollte. Und falls es mal länger dauern sollte: Du kannst in der App den Zeitraum deiner Übertragung manuell um jeweils 15 Minuten verlängern.</li>
            </ol>
        </div>

        <div class="tab-pane fade in" id="tabFaq">
            <h1>Keine Geheimnisse!</h1>
            <p class="lead">Natürlich wollen wir dich irgendwie dazu bewegen, unser Angebot zu nutzen — dazu sollst du natürlich genau wissen, was hier passiert.</p>

            <h2>Warum sollte ich meinen Aufenthaltsort mit euch teilen? Das ist doch Blödsinn!</h2>
            <p>Das ist gar nicht mal so ganz blödsinnig. Wenn du deinen Standort mit uns teilst…</p>
            <ul>
                <li>… zeigst du anderen Radfahrern, die zur Startzeit noch im Bureau, im Hörsaal oder zu Hause stecken, den Weg zur Masse.</li>
                <li>… hilfst du anderen Teilnehmern, die zum Corken, Quatschen oder Bier kaufen stehengeblieben sind, wieder zur Masse zu finden.</li>
                <li>… unterstützst du uns bei der Erstellung wunderschöner Heatmaps und (hoffentlich) hochinteressanter Statistiken.</li>
            </ul>

            <h2>Unerkannt solange du willst.</h2>
            <p>Dass andere Teilnehmer deinen Standort sehen können, wenn du uns eine Glympse-Einladung schickst, ist nunmal Sinn der Sache und wird sich kaum vermeiden lassen. Auf unserer Karte zeigen wir lediglich deinen aktuellen Aufenthaltsort und den Anzeigenamen an, den du in der Glympse-App eingegeben hast. Wenn du dort nichts eingibst oder ein Pseudonym verwendest, wird erst einmal niemand Rückschlüsse ziehen kann, wer sich gerade unter diesem bunten Kreis auf der Karte bewegt.</p>
            <p>Und die Polizei? Die wird sich vermutlich eh nicht für deinen Aufenthaltsort interessieren, geschweigedenn dass du in der Masse der Teilnehmer zu identifizieren wärest. Wenn du dir Sorgen machst, dass dir die Polizei folgen könnte, solltest du ohnehin kein Mobiltelefon mitführen, das sich über eine so genannte Stille SMS zu erkennen gibt.</p>

            <h2>Sicher ist sicher.</h2>
            <p>Geolocation-Daten sind schon per Definition brisant. Wenn du über Glympse deinen Aufenthaltsort mit uns teilst, bekommen wir von Glympse die folgenden Informationen über deinen Aufenthaltsort:</p>
            <ul>
                <li>Längengrad</li>
                <li>Breitengrad</li>
                <li>ungefähre Genauigkeit von Längen- und Breitengrad in Metern</li>
                <li>Höhe</li>
                <li>ungefähre Genauigkeit der Höhenangabe in Metern</li>
                <li>Bewegungsrichtung</li>
                <li>Bewegungsgeschwindigkeit</li>
                <li>Zeitpunkt der Messung deines Aufenthaltsortes</li>
            </ul>

            <p>Von deinem Aufenthaltsort abgesehen nutzen wir noch die folgenden Daten:</p>
            <ul>
                <li>den Start- und Endzeitpunkt des Zeitraumes, in dem wir Zugriff auf deinen Aufenthaltsort haben</li>
                <li>den Anzeigenamen, den du in der Glympse-App eingespeichert hast</li>
                <li>die individuelle Mitteilung, die du bei deiner Glympse-Einladung festgelegt hast</li>
            </ul>

            <p class="text-info">Wir haben <strong>keinen Zugriff</strong> auf dein Adressbuch, deine Telefonnummer, deine E-Mail-Adresse oder sonstige Funktionen und Eigenschaften deines Gerätes!</p>

            <p>Selbstverständlich werden die Daten zwischen deinem Smartphone, dem Glympse-Server, unserem Server und dieser Webseite verschlüsselt übertragen.</p>

            <h2>Und nach der Tour?</h2>
            <p>Kurz nach Ende einer Critical Mass übertragen wir die aufgezeichneten Positionsdaten in GPX-Dateien. Sicherheitshalber schneiden wir alle Strecken ab, die nicht zu der Critical-Mass-Tour gehören, darunter beispielsweise deine An- und Abfahrt. Wir merken auch, wenn du dich zu weit von den übrigen Teilnehmern entfernt hast, weil du beispielsweise auf dem Weg nach Hause oder zur nächsten Party warst, und entfernen diese Teile ebenfalls aus unserer Aufzeichnung. Sofern du deine Einladung nicht explizit mit deinem Benutzerkonto verknüpft hast, lassen sich zu diesem Zeitpunkt keine Rückschlüsse mehr zu deiner Person ziehen: Man kann lediglich sehen, dass jemand deine Strecke entlanggefahren ist, aber nicht, dass du es warst. Die GPX-Datei lagern wir ein, um sie für Statistiken und Heatmaps zu nutzen.</p>
            <p>Wir nutzen GPX-Dateien primär, damit unsere Datenbank nicht irgendwann überläuft, schließlich fallen pro Critical Mass und jedem sendenden Teilnehmer zwischen zehn- und dreißigtausend Positionsdaten an.</p>

            <h2>Falls du es dir anders überlegst.</h2>
            <p>Du kannst die Übertragung deines Standortes natürlich jederzeit abbrechen, indem du die Glympse-Übertragung manuell beendest oder einfach die komplette Glympse-App schließt. Spätestens nach fünf Minuten ist deine Position aus der Karte verschwunden. Und falls du versehentlich noch deinen Heimweg aufgezeichnet hast und wir das nicht bemerkt haben, schicke uns bitte sofort eine Mail an <a href="mailto:gpx@criticalmass.in">gpx@criticalmass.in</a>, wir gehen der Sache sofort nach.</p>
        </div>
    </div>
</div>

{% endblock %}