{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
        <li><a href="{{ path('caldera_criticalmass_desktop_content_aboutus') }}">Über uns</a></li>
        <li class="active">Impressum</li>
    </ol>

    <h1>Impressum</h1>

    <p>criticalmass.in entsteht innerhalb einer Studienleistung an der Fachhochschule Wedel.</p>

    <address>
        <strong>Fachhochschule Wedel</strong><br />
        Malte Hübner<br />
        Feldstraße 143<br />
        22880 Wedel<br />
        Telefon: 0700 11 864 833<br />
        E-Mail: <a href="mailto:malte@criticalmass.in">malte@criticalmass.in</a>
    </address>
</div>
{% endblock %}