<div role="tabpanel" class="tab-pane" id="comments">
    <div class="row">
        <div class="col-md-12">
            {% if app.getUser() %}
                <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                        data-target="#modal-add-post">
                    Kommentar hinzufügen
                </button>
            {% endif %}

            <h3>Kommentare zu dieser Tour</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ render(controller('CalderaCriticalmassSiteBundle:Post:list', { 'rideId': ride.getId() })) }}

            {% if app.getUser() %}
                {{ render(controller('CalderaCriticalmassSiteBundle:Post:write', { 'rideId': ride.getId(), 'noButton': true })) }}
            {% endif %}
        </div>
    </div>
</div>