<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Live</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Suchst du die <strong>Live-Karte</strong>? Die findest du ab jetzt hier:
                </p>

                <p>
                    <a class="btn btn-default" href="{{ path('caldera_criticalmass_live_frontpage') }}">
                        criticalmass.live
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>