{% set hasSocialMedia = city.getUrl() or city.getFacebook() or city.getTwitter() %}

{% if hasSocialMedia %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Soziale Netze</h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="...">
                {% if city.url %}
                    <a class="btn btn-default" href="{{ city.url }}">
                        <i class="fa fa-home"></i>
                    </a>
                {% endif %}

                {% if city.facebook %}
                    <a class="btn btn-default" href="{{ city.facebook }}">
                        <i class="fa fa-facebook"></i>
                    </a>
                {% endif %}

                {% if city.twitter %}
                    <a class="btn btn-default" href="{{ city.twitter }}">
                        <i class="fa fa-twitter"></i>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}