{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Foto{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img id="photo" class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}" />
        </div>
    </div>

    <script>
        CriticalMass.loadModule('PhotoCensorPage', null, null, function (page) {

        });
    </script>

    {% endblock %}
