{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Foto{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img id="photo" class="img-responsive" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}" />
        </div>
    </div>

    <script>
        CriticalMass.loadModule('ViewPhotoPage', null, null, function (page) {
            {% if photo.hasCoordinates() %}
            page.setPhoto('{{ photo|serialize|raw|e('js') }}', '{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}');
            page.initMap();
            {% endif %}
        });
    </script>

    {% endblock %}
