parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        charset: utf8mb4
        default_table_options:
            charset: utf8
            collate: utf8_unicode_ci
        server_version: 'mariadb-10.9.3'
        url: '%env(resolve:DATABASE_URL)%'

        types:
            datetime: App\DBAL\Type\UTCDateTimeType
            date: App\DBAL\Type\UTCDateType
            time: App\DBAL\Type\UTCTimeType

    orm:
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

        dql:
            datetime_functions:
                day: App\DQL\DayFunction
                date: App\DQL\DateFunction
                month: App\DQL\MonthFunction
                year: App\DQL\YearFunction
                dayofweek: App\DQL\DayOfWeekFunction
            numeric_functions:
                rand: App\DQL\RandFunction
                asin: DoctrineExtensions\Query\Mysql\Asin
                cos: DoctrineExtensions\Query\Mysql\Cos
                power: DoctrineExtensions\Query\Mysql\Power
                radians: DoctrineExtensions\Query\Mysql\Radians
                sin: DoctrineExtensions\Query\Mysql\Sin
when@prod:
    doctrine:
        orm:
            metadata_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    services:
        doctrine.result_cache_provider:
            class: Symfony\Component\Cache\FilesystemAdapter
            public: false
            arguments:
                - '@doctrine.result_cache_pool'
        doctrine.system_cache_provider:
            class: Symfony\Component\Cache\FilesystemAdapter
            public: false
            arguments:
                - '@doctrine.system_cache_pool'

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
