framework:
    secret: '%env(APP_SECRET)%'
    #default_locale: en
    #csrf_protection: true
    #http_method_override: true

    #esi: true
    #fragments: true
    php_errors:
        log: true

    cache:
        pools:
            doctrine.system_cache_pool:
                adapter: cache.adapter.filesystem
            doctrine.result_cache_pool:
                adapter: cache.adapter.filesystem

    translator: { fallbacks: [de] }
    form: ~
    csrf_protection:
        enabled: true
    validation:
        enable_annotations: true
    default_locale:  '%locale%'
    session:
        handler_id:  session.handler.native_file
        save_path:   '%kernel.project_dir%/../var/sessions/%kernel.environment%'
    fragments:
        path: /_fragment
    http_method_override: true
    assets:
        version: '%assets_version%'
        json_manifest_path: ~
    router:
        strict_requirements: ~

when@test:
    framework:
        test: true
        session:
            storage_id: session.storage.mock_file
        profiler: { enabled: true, collect: false }
