framework:
    secret: '%env(APP_SECRET)%'
    #default_locale: en
    #csrf_protection: true
    #http_method_override: true

    #esi: true
    #fragments: true
    php_errors:
        log: true

    cache:
        pools:
            doctrine.system_cache_pool:
                adapter: cache.adapter.filesystem
            doctrine.result_cache_pool:
                adapter: cache.adapter.filesystem

    translator: { fallbacks: [de] }
    form: ~
    csrf_protection:
        enabled: true
    validation:
        enable_annotations: true
    default_locale:  '%locale%'
    session:
        handler_id:  session.handler.native_file
        save_path:   '%kernel.project_dir%/../var/sessions/%kernel.environment%'
    fragments:
        path: /_fragment
    http_method_override: true
    assets:
        #version: '%assets_version%'
        json_manifest_path: '%kernel.project_dir%/public/build/manifest.json'
    router:
        strict_requirements: ~

    messenger:
        serializer:
            default_serializer: messenger.transport.symfony_serializer
        transports:
            track_import_candidate:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2
                    max_delay: 2500
                options:
                    exchange:
                        name: track_import_candidate
                        type: direct
                    queues:
                        track_import_candidate: track_import_candidate
        routing:
            App\Entity\TrackImportCandidate: track_import_candidate

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
        profiler: { enabled: true, collect: false }
