knp_menu:
    # use "twig: false" to disable the Twig extension and the TwigRenderer
    twig:
        template: Template/Menu/bootstrap4.html.twig
    #  if true, enables the helper for PHP templates
    templating: false
    # the renderer to use, list is also available by default
    default_renderer: twig
