league_oauth2_server:
    authorization_server:
        private_key: '%kernel.project_dir%/config/jwt/private.pem'
        private_key_passphrase: null
        encryption_key: '%env(OAUTH2_ENCRYPTION_KEY)%'
        enable_grant_types:
            - authorization_code
            - refresh_token
        access_token_ttl: PT1H
        refresh_token_ttl: P1M
    resource_server:
        public_key: '%kernel.project_dir%/config/jwt/public.pem'
    scopes:
        available:
            - track:read
            - track:write
        default:
            - track:read
    persistence:
        doctrine:
            entity_manager: default

when@test:
    league_oauth2_server:
        persistence:
            in_memory: null
