framework:
    messenger:
        failure_transport: failed

        transports:
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'

        routing:
            'App\Criticalmass\ViewStorage\ViewModel\View': async
            'App\Entity\TrackImportCandidate': async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
