security:
    enable_authenticator_manager: true

    providers:
        users:
            entity:
                class: 'App\Entity\User'
                property: 'email'

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api:
            pattern:    ^/api
            stateless:  true
            provider: users
            oauth2: true

        main:
            login_link:
                check_route: login_check
                signature_properties: [ 'email' ]
            provider: users
            pattern: .*
            context: user
            logout:
                invalidate_session: false
            oauth:
                resource_owners:
                    facebook: '/login/check-facebook'
                    strava: '/login/check-strava'
                login_path: '/login'
                failure_path: '/login'
                oauth_user_provider:
                    service: App\Security\UserProvider\UserProvider

    access_control:
        - { path: ^/authorize, role: IS_AUTHENTICATED_FULLY }
        - { path: ^/token, role: PUBLIC_ACCESS }
        - { path: ^/login$, role: PUBLIC_ACCESS }
        - { path: ^/register, role: PUBLIC_ACCESS }
        - { path: ^/resetting, role: PUBLIC_ACCESS }

    role_hierarchy:
        ROLE_USER: []

    access_decision_manager:
        strategy: unanimous
