{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'static.live_tracking.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>
                    {{ 'static.live_tracking.heading'|trans }}
                </h1>

                <p>
                    {{ 'static.live_tracking.outdated_link_text'|trans }}
                </p>

                <p class="text-center">
                    <a href="https://criticalmass.live/" class="btn btn-primary">
                        criticalmass.live
                    </a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
