{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Critical Mass Live Tracking{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Critical Mass Live Tracking
                </h2>

                <p class="lead">
                    Wenn du diese Seite siehst, bist du vermutlich einen veralteten Link gefolgt &mdash; bitte besuche
                    criticalmass.live für weitere Informationen zum Live-Tracking.
                </p>

                <p class="text-center">
                    <a href="https://criticalmass.live/" class="btn btn-primary">
                        criticalmass.live
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
