{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Critical Mass Live Tracking{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1>
                    Critical Mass Live Tracking
                </h1>

                <p>
                    Wenn du diese Seite siehst, bist du vermutlich einem veralteten Link gefolgt &mdash; bitte besuche
                    criticalmass.live für weitere Informationen zum Live-Tracking.
                </p>

                <p class="text-center mt-4">
                    <a href="https://criticalmass.live/" class="btn btn-primary">
                        criticalmass.live
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
