{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Impressum{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Impressum
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2>
                    Impressum
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-5 offset-md-1">
                <div class="card">
                    <h5 class="card-header">
                        Impressum
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Angaben nach § 5 TMG:
                        </p>

                        <p class="card-text">
                            Malte Hübner<br/>Niebuhrstraße 48<br/>24118 Kiel
                        </p>

                        <p class="card-text">
                            Telefon: 0151 172 77 032<br/><a href="mailto:malte@caldera.cc">malte@caldera.cc</a>
                        </p>

                        <p class="card-text">
                            <strong>
                                Bitte beachte, dass diese Kontaktdaten nicht für Support- oder Presseanfragen vorgesehen sind.
                            </strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-5">
                <div class="card">
                    <h5 class="card-header">
                        Kontakt
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">
                            Supportanfragen
                        </h5>

                        <p class="card-text">
                            Wenn du Probleme bei der Bedienung dieser Internetseite oder einen Fehler gefunden hast, schreibe bitte eine Mail an <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a> oder, falls du mit Software-Entwicklung und GitHub vertraut bist, eröffne ein Ticket <a href="https://github.com/calderacc/criticalmass-in/issues">in unserem Repository</a>.
                        </p>

                        <h5 class="card-title">
                            Korrektur von Städtedaten
                        </h5>

                        <p class="card-text">
                            criticalmass.in funktioniert so ähnlich wie Wikipedia: Fehler in den Daten von Städten oder Touren kannst du direkt selbst korrigieren und abändern, du brauchst dazu lediglich ein kostenloses Benutzerkonto auf unserer Webseite. Schicke uns bitte eine Mail an <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>, wenn du Probleme mit der Bedienung der Seite hast.
                        </p>

                        <h5 class="card-title">
                            Rückmeldungen und Kommentare zur Critical Mass
                        </h5>

                        <p class="card-text">
                            Wir bekommen häufig lange E-Mails mit Erfahrungsberichten und Verbesserungsvorschlägen zu allen möglichen Critical-Mass-Touren — leider können wir damit gar nichts anfangen, weil wir nicht dabei waren und überhaupt keinen Einfluss auf den Ablauf der Touren haben. Damit deine Berichte das entsprechende Publikum finden, suchst du am besten deine Stadt aus der <a href="{{ path('caldera_criticalmass_city_list') }}">Städteliste</a> heraus und schreibst deine Erfahrungen entweder als Kommentar unter die jeweilige Tour oder nutzt die Verlinkungen zu sozialen Netzwerken, um dort mit anderen Teilnehmern über die Tour zu diskutieren. Natürlich kannst du auch gerne das <a href="{{ path('caldera_criticalmass_board_overview') }}">Diskussionsforum auf criticalmass.in</a> nutzen.
                        </p>

                        <h5 class="card-title">
                            Presseanfragen
                        </h5>

                        <p class="card-text">
                            Wir können leider nur allgemeine Fragen zur Critical Mass beantworten. Über Details zur Critical Mass in einzelnen Städten oder weiteren Fahrrad-Aktionen wie das Aufstellen von Ghostbikes, Fahrradreparaturwerkstätten oder Fahrradtouren können wir keine Auskunft geben. Bitte suche in der <a href="{{ path('caldera_criticalmass_city_list') }}">Städteliste</a> die jeweilige Stadt heraus und versuche über die Verlinkungen zu sozialen Netzwerken einen Ansprechpartner zu finden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
