symfony/web/css
symfony/web/js
symfony/composer.lock
symfony/app/config/database.yml
symfony/app/config/parameters.yml
symfony/app/config/parameters.yml.dist
.sonar
symfony/web/images/*
symfony/web/fonts
symfony/web/geojson
symfony/web/gpx
symfony/web/photos
symfony/web/bundles
.idea/*
.vagrant/*
symfony/web/tracks
symfony/web/media
symfony/src/Caldera/Bundle/CriticalmassSiteBundle/Resources/public/scss/.sass-cache
