symfony/web/css
symfony/web/js
symfony/composer.lock
symfony/app/config/database.yml
symfony/app/config/parameters.yml
symfony/app/config/parameters.yml.dist
.sonar
symfony/web/images/*
symfony/cache.properties
symfony/web/geojson
symfony/web/gpx
symfony/web/fonts
symfony/web/photos
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/stampede.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
