# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/public/bundles/
/public/uploads/
/public/tracks
/public/photos
/public/cities
/public/images
/public/img
/public/js
/node_modules

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
criticalmass.iml
.idea

###> symfony/framework-bundle ###
/.env
/.env.test
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
