includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - src/Criticalmass/DataQuery/Query/HasCoordinatesQuery.php
        - src/Criticalmass/DataQuery/Query/LocationNameQuery.php
