<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./src/DataFixtures</directory>
      <directory>./src/Migrations</directory>
    </exclude>
  </coverage>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <env name="APP_ENV" value="test" force="true"/>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="FRIENDLYCAPTCHA_API_KEY" value="placeholder"/>
    <env name="FRIENDLYCAPTCHA_SITE_KEY" value="placeholder"/>
  </php>

  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

</phpunit>
