{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Tracks
    </li>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form method="post"
                      action="{{ object_path(track, 'caldera_criticalmass_track_draw') }}">
                    <input type="hidden" id="polyline" name="polyline"/>
                    <input type="hidden" id="geojson" name="geojson"/>

                    <button type="submit" id="save-track" class="btn btn-default">
                        Speichern
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackDrawPage', null, null, function (drawPage) {
            drawPage.setRide('{{ ride|serialize|raw|e('js') }}');

            {% if track %}
            drawPage.setTrack('{{ track|serialize|raw|e('js') }}');
            {% endif %}

            drawPage.init();
        });
    </script>

{% endblock %}
