{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Dein Benutzerkonto', url: path('criticalmass_user_usermanagement') },
            { label: 'Deine Tracks' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="map" style="height: 400px;">

                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <form method="post"
                      action="{{ object_path(track, 'caldera_criticalmass_track_draw') }}">
                    <input type="hidden" id="polyline" name="polyline"/>
                    <input type="hidden" id="geojson" name="geojson"/>

                    <button type="submit" id="save-track" class="btn btn-secondary">
                        Speichern
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
