{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Tracks
    </li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Deine Gpx-Tracks
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Hier siehst du alle Tracks, die du bei deinen bisherigen Critical-Mass-Teilnahmen aufgezeichnet
                    hast.
                </p>

                <p>
                    Klicke in der Übersicht einer Radtour im Reiter „Tracks“ auf den grünen Button, um einen neuen Track
                    hinzuzufügen.
                </p>
            </div>
        </div>

        <div class="row">
            {% for track in pagination %}
                {% include 'Track/_track_list_item.html.twig' with { 'track': track, 'show_user': false } %}
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeleteLabel">Track löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                </div>

                <div class="modal-body">
                    <span id="trackIdLabel"></span>
                    <p>Willst Du diesen Track wirklich löschen?</p>
                </div>

                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Track löschen bestätigen oder abbrechen">
                        <a id="deleteButton" href="#" class="btn btn-success">Ja, löschen</a>
                        <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Nein, abbrechen
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
