{% extends 'Template/StandardTemplate.html.twig' %}{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block title %}Deine Tracks{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Dein Benutzerkonto', path('criticalmass_user_usermanagement')) }}
    {{ bootstrap.breadcrumb_item('Deine Tracks', '', true)) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Deine Gpx-Tracks
                </h2>

                <p class="lead">
                    Hier siehst du alle Tracks, die du bei deinen bisherigen Critical-Mass-Teilnahmen aufgezeichnet hast.
                </p>

                <p>
                    Klicke in der Übersicht einer Radtour im Reiter „Tracks“ auf den grünen Button, um einen neuen Track hinzuzufügen.
                </p>
            </div>
        </div>

        <div class="row">
            {% for track in pagination %}
                {% include('Track/_track_list_item.html.twig') with { 'track': track, 'show_user': false } %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {{ knp_pagination_render(pagination, null, [], { align: 'center' } ) }}
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackListPage');
    </script>
{% endblock %}
