{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Statistiken{% endblock %}

{% block content %}
    <div class="container">
        <h1>Zahlen, bitte.</h1>

        <div class="row">
            <div class="col-md-4">
                <h4>Touren mit den meisten Teilnehmern</h4>
                <table class="table">
                    <tr>
                        <th>Stadt</th>
                        <th>Monat</th>
                        <th>Teilnehmer</th>
                    </tr>

                    {% for ride in topParticipantRides %}
                    <tr>
                        <td>{{ ride.getCity().getCity() }}</td>
                        <td>{{ ride.getDateTime().format('F Y') }}</td>
                        <td>{{ ride.getEstimatedParticipants() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}