{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Statistiken{% endblock %}

{% block content %}
    <div class="container">
        <h1>Zahlen, bitte.</h1>
    </div>
{% endblock %}