<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Arbeits- und Gefahrenstellen</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                Für den {{ ride.dateTime|date('d.m.Y', 'Europe/Berlin') }} wurden {{ incidentCounter }} Arbeits- und Gefahrenstellen eingetragen.
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center margin-top-medium">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_incidents_ride', { citySlug: ride.city.slug, rideDate: ride.getFormattedDate() }) }}">
                        <i class="fa fa-exclamation-triangle"></i>
                        Karte anzeigen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
