{% if not app.getUser() %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <strong>
                    Jetzt live!
                </strong>
                Auf der <a href="{{ path('caldera_criticalmass_live_city', { 'citySlug': city.slug }) }}">Live-Kartenansicht</a> kannst du direkt sehen, wo sich die Masse gerade aufhält!
            </div>
        </div>
    </div>
{% endif %}