{% set hasEstimations = ride.estimatedParticipants or ride.estimatedDistance or ride.estimatedDuration %}

{% if hasEstimations %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Soziale Netze</h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Teilnehmer</dt>
                <dd>{{ ride.estimatedParticipants }}</dd>

                <dt>Distanz</dt>
                <dd>{{ ride.estimatedDistance|round(2) }}&nbsp;Kilometer</dd>

                <dt>Dauer</dt>
                <dd>{{ ride.estimatedDuration|round(2) }}&nbsp;Stunden</dd>

                <dt>Durchschnittsgeschwindigkeit</dt>
                <dd>{{ ride.getAverageVelocity() }} Kilometer&nbsp;pro&nbsp;Stunde</dd>
            </dl>
        </div>
    </div>
{% endif %}