{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block breadcrumb %}
    {{ bootstrap.breadcrumb_item('Kennwort vergessen', '', true) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2>
                    Okay, rufe jetzt deine E-Mails ab
                </h2>

                <p>
                    Du solltest eine E-Mail bekommen haben. In dieser Mail klickst du bitte auf den enthaltenen Link und bekommst anschließend gleihc ein neues Kennwort zugeschickt, mit dem du dich dann einloggen kannst.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
