{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Okay, rufe jetzt deine E-Mails ab
                </h2>

                <p>
                    Du solltest eine E-Mail bekommen haben. In dieser Mail klickst du bitte auf den enthaltenen Link und
                    bekommst anschließend gleihc ein neues Kennwort zugeschickt, mit dem du dich dann einloggen kannst.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
