{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Stopp!
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Für diesen Benutzernamen wurde in den letzten 24 Stunden bereits ein neues Kennwort beantragt. Bitte
                    warte noch etwas ab, bis du es erneut versuchst.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
