{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Kennwort vergessen?
                </h2>

                <p class="lead">
                    Keine Panik: Wenn du dein Kennwort vergessen hast, kannst du dir hier ganz unkompliziert ein neues generieren lassen. Bitte gib in das folgende Eingabefeld deinen Benutzernamen ein und wir schicken dir eine Mail mit weiteren Informationen zum Zurücksetzen deines Kennwortes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kennwort zurücksetzen
                    </div>
                    <div class="panel-body">
                        <form action="{#{{ path('fos_user_resetting_send_email') }}#}" method="POST" class="fos_user_resetting_request">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    {% if invalid_username is defined %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>
                                                Hoppla…
                                            </strong>
                                            Offenbar hast du einen ungültigen Benutzernamen eingegeben.
                                        </div>
                                    {% endif %}

                                    <label for="username" class="col-md-4 control-label">
                                        Dein Benutzername
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="username" name="username" required="required" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success">
                                            Kennwort zurücksetzen
                                        </button>
                                        <a href="{{ path('caldera_criticalmass_frontpage') }}" class="btn btn-default">
                                            Abbrechen
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
