<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Willkommen auf criticalmass.in!</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="aboutTabs">
                    <li class="active"><a href="#aboutTabsAbout" data-toggle="tab"><i class="halflings info-sign"></i>&nbsp;Über
                            uns</a></li>
                    <li><a href="#aboutTabsContact" data-toggle="tab"><i
                                    class="halflings envelope"></i>&nbsp;Kontakt</a></li>
                    <li><a href="#aboutTabsImpress" data-toggle="tab"><i class="halflings exclamation-circle"></i>&nbsp;Impressum</a>
                    </li>
                </ul>
                <div class="tab-content" id="aboutTabsContent" style="padding-top: 10px;">
                    <div id="aboutTabsAbout" class="tab-pane fade active in">
                        <div class="jumbotron"
                             style="background-image: url(https://www.criticalmass.cm/images/header/about-us-hamburg.jpg); background-position: bottom left; text-align: right; height: 150px; padding-top: 16px;">
                            <h2 style="color: white; text-shadow: black 0 0 3px;">Hej, wir fahren Fahrrad!</h2>
                            <p style="color: white; text-shadow: black 0 0 3px;">Und wir lieben es. Seit 2011.</p>
                        </div>

                        <p>Auf den Sattel, fertig, los: criticalmass.in zeigt dir, wo</p>
                    </div>

                    <div id="aboutTabsImpress" class="tab-pane fade">
                        <p>criticalmass.in ist ein Projekt an der Fachhochschule Wedel.</p>
                        <p>Fachhochschule Wedel<br/>Feldstraße 143<br/>22880 Wedel</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a><br/><span
                                    class="glyphicon glyphicon-earphone"></span> 0700 11 864 833</p>
                        <p>Eine Bitte: Wir sind weder an Newslettern, Produktempfehlungen, Partnerprogrammen und
                            ähnlichen Angeboten interessiert. Schickt uns bitte diesbezüglich keine E-Mails und ruft uns
                            auch nicht an. Wir vermitteln auch wirklich keine Pressekontakte zu einzelnen
                            Critical-Mass-Touren.</p>
                    </div>

                    <div id="aboutTabsContact" class="tab-pane fade">
                        <p>Am besten erreichst du uns per E-Mail oder über <a
                                    href="https://www.facebook.com/criticalmass.in">unsere Seite auf facebook</a>
                            (Vorsicht, der Link führt zu facebook). Allgemeine Hinweise, Vorschläge und Tipps lesen wir
                            wirklich gerne unter <a href="mailto:mail@criticalmass.in">mail@criticalmass.in</a>.</p>
                        <p>Wegen <strong>fehlerhafter Daten</strong> von Critical-Mass-Touren und <strong>neuen
                                Städten</strong> schreibe uns bitte unter <a href="mailto:ride@criticalmass.in">ride@criticalmass.in</a>.
                        </p>
                        <p><strong>Fehlermeldungen</strong> nehmen wir gerne, aber auch ein ganz bisschen
                            zähneknirschend, unter <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>
                            entgegen. Schreibe uns bitte in einer solchen Mail, was passiert ist, welchen Browser du
                            benutzt und wenn möglich die genaue Fehlermeldung. Falls du nicht genau weißt, was passiert
                            ist, schreib uns bitte trotzdem: Wir kriegen das schon irgendwie zusammen hin!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>