<div>
    <ul class="nav nav-tabs" role="tablist">
        {% if timelineContentList.standard is defined %}
            <li role="presentation" class="active">
                <a href="#standard" aria-controls="standard" role="tab" data-toggle="tab">
                    <i class="far fa-clock"></i>
                </a>
            </li>
        {% endif %}

        {% if timelineContentList.facebook is defined %}
            <li role="presentation">
                <a href="#facebook" aria-controls="facebook" role="tab" data-toggle="tab">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
        {% endif %}

        {% if timelineContentList.twitter is defined %}
            <li role="presentation">
                <a href="#twitter" aria-controls="twitter" role="tab" data-toggle="tab">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        {% endif %}

        {% if timelineContentList.www is defined %}
            <li role="presentation">
                <a href="#www" aria-controls="www" role="tab" data-toggle="tab">
                    <i class="far fa-globe"></i>
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        {% set hasActive = false %}

        {% if timelineContentList.standard is defined %}
            <div role="tabpanel" class="tab-pane{% if hasActive == false %}active{% endif %}" id="standard">
                {% for content in timelineContentList.standard %}
                    {{ content|raw }}
                {% endfor %}
            </div>

            {% set hasActive = true %}
        {% endif %}

        {% if timelineContentList.facebook is defined %}
            <div role="tabpanel" class="tab-pane{% if hasActive == false %}active{% endif %}" id="facebook">
                {% for content in timelineContentList.facebook %}
                    {{ content|raw }}
                {% endfor %}
            </div>

            {% set hasActive = true %}
        {% endif %}

        {% if timelineContentList.twitter is defined %}
            <div role="tabpanel" class="tab-pane{% if hasActive == false %}active{% endif %}" id="twitter">
                {% for content in timelineContentList.twitter %}
                    {{ content|raw }}
                {% endfor %}
            </div>

            {% set hasActive = true %}
        {% endif %}

        {% if timelineContentList.www is defined %}
            <div role="tabpanel" class="tab-pane{% if hasActive == false %}active{% endif %}" id="www">
                {% for content in timelineContentList.www %}
                    {{ content|raw }}
                {% endfor %}
            </div>

            {% set hasActive = true %}
        {% endif %}
    </div>
</div>
