{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Verbinde dich mit Strava
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Mit <a href="http://www.strava.com/">Strava</a> kannst du nicht nur Critical-Mass-Touren, sondern sämtliche deiner sportlichen Aktivitäten aufzeichnen und verwalten. Wenn du deine Tour mit Strava aufgezeichnet hast, kannst du deine Strecke mit zwei Mausklicks importieren. Klicke auf „Connect with Strava“, um eine Liste deiner Aktivitäten anzuzeigen und eine Strecke zu importieren.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img src="{{ asset('/bundles/calderacriticalmasssite/images/strava/connect.png') }}" alt="Connect with Strava" />
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path(ride) }}" class="btn btn-default pull-right">
                    Abbrechen
                </a>
            </div>
        </div>
    </div>
{% endblock %}
