{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Wähle eine Aktivität aus
                </h1>
            </div>
        </div>

        {% for activity in activities %}
        <div class="row">
            <div class="col-md-12">
                {{ activity.id }}, {{ activity.name }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
