{% if dateTime %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Uhrzeit</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        In {{ city.city }} ist gerade:
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <strong>
                            {{ dateTime.format('d.m.Y H:i:s') }}&nbsp;Uhr
                        </strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        (Zeitzone: {{ city.timezone }})
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}