{% if locations|length > 1 %}
    <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
            <h6 class="mb-3">
                Treffpunkte
            </h6>
            <ul class="list-unstyled list-spaced">
                {% for location in locations %}
                    <li>
                        <span class="text-muted far fa-map-marker"></span>
                        <a href="{{ object_path(location) }}">
                            {{ location.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}