{% if nearCities|length > 0 %}
<div class="card d-md-block d-lg-block mb-4">
    <div class="card-body">
        <h6 class="mb-3">
            Städte in der Nähe
        </h6>
        <ul class="list-unstyled list-spaced">
            {% for city in nearCities %}
            <li>
                <span class="text-muted far fa-university"></span>
                <a href="{{ objectPath(city) }}">
                    {{  city.city }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}