{% if photos|length > 0 %}
<div class="card d-md-block d-lg-block mb-4">
    <div class="card-body">
        <h6 class="mb-3">
            Fotos aus {{ city.city }} <small>· <a href="{{ objectPath(city, 'caldera_criticalmass_city_listgalleries') }}">Liste</a></small>
        </h6>
        <div data-grid="images" data-target-height="150" class="text-center">
        {% for photo in photos %}
            <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                <img data-width="640" data-height="640" data-action="zoom" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}" style="width: 84px; height: 85px;">
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
