<div class="dropdown" id="cityRideListButton">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="cityListDropdown" data-bs-toggle="dropdown">
        <i class="far fa-sort"></i>
        Sortierung
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="cityListDropdown">
        <li role="presentation" class="sortOption" data-sortAttribute="rideDate">
            <a role="menuitem" tabindex="-1" href="#">
                Datum
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideTitle">
            <a role="menuitem" tabindex="-1" href="#">
                Titel
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideLocation">
            <a role="menuitem" tabindex="-1" href="#">
                Treffpunkt
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideParticipants">
            <a role="menuitem" tabindex="-1" href="#">
                Teilnehmer
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideDistance">
            <a role="menuitem" tabindex="-1" href="#">
                Distanz
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="rideDuration">
            <a role="menuitem" tabindex="-1" href="#">
                Dauer
            </a>
        </li>
    </ul>
</div>
