<div class="card d-md-block d-lg-block mb-4">
    <div class="card-body">
        <h6 class="mb-3">
            Statistiken
        </h6>
        <p class="card-text">
            Teilnehmerzahlen, Fahrtlänge und Fahrtdauer: Schau dir Statistiken aus {{ city.city }} an!
        </p>

        <a href="{{ objectPath(city, 'caldera_criticalmass_statistic_city') }}" class="btn btn-primary">
            <i class="far fa-chart-bar"></i>
            Statistiken
        </a>
    </div>
</div>
