{% extends 'CalderaCriticalmassMobileBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getCity }}{% endblock %}

{% block body %}
    <div id="map"></div>

    {% if app.user != null %}
        <div data-role="collapsible-set">
            <div data-role="collapsible">
                <h3 data-qa-ta="mobile_map_gpssettings">GPS-Einstellungen</h3>
                <label for="flip-auto-center">automatisch zentrieren:</label>
                <select name="flip-auto-center" id="flip-auto-center" data-role="slider" data-qa-ta="mobile_map_centring">
                    <option value="off">Aus</option>
                    <option value="on" selected="selected">An</option>
                </select>

                <label for="flip-gps-sender">GPS-Übertragung:</label>
                <select name="flip-gps-sender" id="flip-gps-sender" data-role="slider" data-qa-ta="mobile_map_gpssender">
                    <option value="off"{% if app.user.sendGPSInformation == 0 %} selected="selected"{% endif %}>Aus</option>
                    <option value="on"{% if app.user.sendGPSInformation == 1 %} selected="selected"{% endif %}>An</option>
                </select>

                <label for="slider-gps-interval">GPS-Intervall in Sekunden:</label>
                <input type="range" name="slider-gps-interval" id="slider-gps-interval" value="{{ app.user.gpsinterval }}" min="1" max="30" data-qa-ta="mobile_map_interval"/>
            </div>

            <div data-role="collapsible">
                <h3 data-qa-ta="mobile_map_statistic">Statistik</h3>
                <p class="lastmodified">zuletzt aktualisiert: <span id="datetime">nie</span></p>
                <p class="usercounter">Einberechnete Benutzer: <span id="usercounter">0</span></p>
                <p class="averagespeed">Durchschnittsgeschwindigkeit: <span id="averagespeed">0</span> Kilometer pro Stunde</p>
            </div>
        </div>

    {% else %}
        <p>Bitte <a href="{{ url('fos_user_security_login') }}">logge dich ein</a> oder <a href="{{ url('fos_user_registration_register') }}">registriere dich</a>, um GPS-Daten zu senden.</p>
    {% endif %}
{% endblock %}
