<p>Willst Du diesen Track wirklich löschen?</p>

{{ form_start(form, {'attr': {'role': 'form'}}) }}

<div class="form-group">
</div>

<button type="submit" class="btn btn-primary">Ja, löschen</button>
{{ form_end(form) }}