<div class="modal fade" id="impressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Impressum</h4>
            </div>
            <div class="modal-body">
                <p>
                    Malte Hübner
                    <br />
                    Mühlenaustieg 10
                    <br />
                    22523 Hamburg
                </p>

                <p>
                    Telefon: 0700 11 864 833
                    <br />
                    E-Mail: <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>
                </p>
            </div>
            {#
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Schließen
                </button>
            </div>#}
        </div>
    </div>
</div>