<div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Rechtliche Hinweise</h4>
            </div>
            <div class="modal-body">
                <p>
                    Kartendaten und Geocoding von <a href="http://sqi.be/gojuq">OpenStreetMap</a>, &copy; OpenStreetMap-Mitwirkende, <a href="http://sqi.be/dc9ux">Lizensiert unter CC BY-SA 2.0</a>
                </p>

                <p>
                    Wetterdaten von <a href="http://sqi.be/fedj6">OpenWeatherMap</a>, <a href="http://sqi.be/hzo71">Lizensiert unter CC BY-SA 4.0</a>
                </p>
            </div>
            {#
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Schließen
                </button>
            </div>#}
        </div>
    </div>
</div>