<div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="legalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="legalModalLabel">Impressum</h4>
            </div>
            <div class="modal-body">
                <p>
                    Malte Hübner
                    <br />
                    Mühlenaustieg 10
                    <br />
                    22523 Hamburg
                </p>

                <p>
                    Telefon: 0700 11 864 833
                    <br />
                    E-Mail: <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>
                </p>

                <p>
                    Kartendaten und Geocoding von <a href="http://sqi.be/gojuq">OpenStreetMap</a>, &copy; OpenStreetMap-Mitwirkende, <a href="http://sqi.be/dc9ux">Lizensiert unter CC BY-SA 2.0</a>
                </p>

                <p>
                    Wetterdaten von <a href="http://sqi.be/fedj6">OpenWeatherMap</a>, <a href="http://sqi.be/hzo71">lizensiert unter CC BY-SA 4.0</a>
                </p>
            </div>
        </div>
    </div>
</div>