{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ ride.title }}{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: ride.city.city, url: object_path(ride.city) },
            { label: ride.title },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {{ ride.title }}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    {{ blocked.description }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
