{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ ride.title }}{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: city.city, url: object_path(city) },
            { label: ride.title, active: true }
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block bodyClass %}ride{% if not ride.enabled %} ride-disabled{% endif %}{% endblock %}

{% block content %}
    <div class="container ride" itemscope itemtype="http://schema.org/Event">
        {{ include('Flash/_flash.html.twig') }}

        {% include 'Ride/Includes/_registrationHint.html.twig' %}

        {% include 'Ride/Ride.html.twig' with { 'ride': ride, 'tracks': tracks, 'participation': participation } %}

        {% include 'Ride/Includes/_pagination.html.twig' with { 'ride': ride } %}
    </div>
{% endblock %}
