body.standardBody
{
    padding-top: 70px !important;
    overflow: scroll;
}

.leaflet-control-layers-toggle
{
    background-image: url(http://cdn.leafletjs.com/leaflet-0.7.3/images/layers-2x.png) !important;
}

.edit-subride, .post .edit-post
{
    display: none;
}

.subride:hover .edit-subride, .post:hover .edit-post
{
    display: block;
}

@media (min-width:768px)
{
    div.leaflet-popup-content dl.dl-horizontal dt {
        width: 80px;
    }

    div.leaflet-popup-content dl.dl-horizontal dd {
        margin-left: 90px;
    }
}

.halflings::before
{
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Halflings Regular';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.social::before
{
    position:relative;
    top:1px;
    display:inline-block;
    font-family:'Glyphicons Social Regular';
    font-style:normal;
    font-weight:400;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}