div.infowindow h2.citytitle
{
    position: absolute;
    font-weight: bold;
    font-size: 1.6em;
    display: block;
    left: 10px;
    top: 170px;
    color: white;
    text-shadow: 0 0 10px black;
}

div.infowindow img.citylogo
{
    width: 500px;
    height: 200px;
}

div.infowindow p
{
    max-width: 500px;
}

header#mainheader
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 50px;
    z-index: 2;
    border: 1px #ccc solid;
    background-color: white;
}