body.standardBody
{
    padding-top: 70px !important;
    overflow: scroll;
}

.leaflet-control-layers-toggle
{
    background-image: url(http://cdn.leafletjs.com/leaflet-0.7.3/images/layers-2x.png) !important;
}