body
{
	font: 1em Helvetica, Arial, Sans-Serif;
	margin: 0;
	padding: 0;
}

section#content, footer
{
	margin: 0 auto;
	width: 300px;
	padding: 10px;
}

footer
{
	text-align: center;
}

footer img.icon
{
	width: 70px;
	height: 70px;
	margin: 10px;
}

p.locationunknown
{
	border: 1px red solid;
	background: #fdd;
	padding: 3px;
}