.flipcounter {
    width: 150px;
    height: 70px;
    padding-left: 2px;
    background: linear-gradient(to bottom, #000, #121212);
    //box-shadow: 5px 5px 5px rgba(200, 200, 200, .05), 0 -5px 20px black;

    border-width: 10px;
    border-color: #222;
    border-style: solid;
    border-radius: 5px;
}

.flipcounter .digit {
    width: 30px;
    height: 50px;

    overflow: hidden;
    float: left;

    background: #333;
    background: linear-gradient(to bottom, #383838, #363636);

    box-shadow: 0 1px 0 black inset, 0 2px 0 rgba(255, 255, 255, .1) inset;

    font-weight: 600;
    font-size: 48px;
    text-align: center;
    letter-spacing: -10px;
    line-height: 48px;
    color: white;

    border-radius: 5px;
    text-indent: -10px;
}

.flipcounter .flipbreak {
    width: 130px;
    height: 25px;

    display: block;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 25px;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.4));
    box-shadow: 0 -1px 0 black inset, 0 1px 0 rgba(255, 255, 255, 0.04), 0 5px 100px rgba(255, 255, 255, 0.3);
    pointer-events: none;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.flipcounter .digit + .digit {
    margin-left: 2px;
}
