{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städteliste</a></li>
            <li class="active">Kalender</li>
        </ol>

        <h1>hic sunt birotarii</h1>

        {% for date,day in calendar %}
        <div class="col-md-1">
            {{ date }}

            {% if loop.index % 7 == 0 %}
            </div><div class="row">
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}