<div role="tabpanel" class="tab-pane" id="comments">
    <div class="row">
        <div class="col-md-12">
            <h3>Kommentare zu dieser Tour</h3>
            {{ render(controller('CalderaCriticalmassTimelineBundle:Post:list', { 'rideId': ride.getId() })) }}

            {% if app.getUser() %}
                {{ render(controller('CalderaCriticalmassTimelineBundle:Post:write', { 'rideId': ride.getId() })) }}
            {% endif %}
        </div>
    </div>
</div>