{{ form_start(form, {'attr': {'role': 'form'}}) }}

<div class="form-group">
    <label for="">Dein Kommentar:</label>
    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
</div>

<button type="submit" class="btn btn-success pull-right">Absenden</button>

{{ form_widget(form._token) }}

</form>