{% extends 'CalderaCriticalmassMobileBundle:Default:layout.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}

	<h2>Impressum</h2>

	<p>Angaben nach § 5 TMG:</p>
	<p>Malte Hübner<br />Fritz-Reuter-Straße 57<br />24782 Büdelsdorf</p>
	<p><a href="mailto:malte@criticalmass-hamburg.de">malte@criticalmass-hamburg.de</a><br />0700 11 864 833</p>

{% endblock %}

