{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Registrierung
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Hej {{ user.username }}!
                </h2>

                <p>
                    Dein Benutzerkonto wurde gerade erstellt. Bitte rufe jetzt deine E-Mails ab und klicke auf den darin enthaltenen Link, um dein neues Benutzerkonto zu aktivieren.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
