{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Registrierung
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>
                    Hej {{ user.username }}! Willkommen in der Masse!
                </h2>

                <p>
                    Dein Benutzerkonto wurde gerade erstellt. Du kannst dich ab sofort mit deinem Benutzernamen
                    <code>{{ user.username }}</code> und deinem Kennwort einloggen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
