{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kennwort zurücksetzen{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_frontpage') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Profil</a></li>
            <li class="active">Kennwort ändern</li>
        </ol>

        <h1>Sie haben Post.</h1>

        <p>Wir haben dir eine E-Mail geschickt! Diese Mail enthält einen Link, hinter dem du ein neues Kennwort anfordern kannst.</p>
    </div>
{% endblock %}