{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Kennwort zurücksetzen{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Profil</a></li>
            <li class="active">Kennwort ändern</li>
        </ol>

        <h1>Halt, Stop!</h1>

        <p>Für diesen Benutzernamen oder diese E-Mail-Adresse wurde innerhalb der letzten 24 Stunden bereits ein neues Kennwort beantragt.</p>
    </div>
{% endblock %}