{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getCity }}{% endblock %}

{% block body %}

		<div id="map-canvas" class="mapcanvas"></div>


{% endblock %}
