<div class="row">
    <img src="http://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64" />

    <strong>{{ post.getUser().getUsername() }}</strong>
    <date>{{ post.getDateTime().format('d.m.Y H:i') }} Uhr</date>
    {{ post.getMessage() }}
</div>