<div class="row post media">
    <span class="pull-left">
        <img class="media-object" src="http://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64" class="gravatar" />
    </span>

    <div class="media-body">
        <h4 class="media-heading username">{{ post.getUser().getUsername() }}</h4>
        <time>{{ post.getDateTime().format('d.m.Y H:i') }} Uhr</time>
        {{ post.getMessage()|nl2br }}
    </div>
</div>