

<div class="modal fade" id="glympseModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Schick uns deinen Glympse!
                </h4>
            </div>
            <div class="modal-body">
                <p>Wir wollen wissen, wo du bist! Ein ganz wichtiger Bestandteil von criticalmass.in ist das so genannte Live-Tracking, mit dem du deinen Aufenthaltsort während einer Critical-Mass-Radtour auf unserer Karte anzeigen lassen kannst.</p>
                <p>Einerseits hilfst du mit deiner Teilnahme am Tracking den Teilnehmern, die es nicht rechtzeitig zum Treffpunkt schaffen, den Hungrigen und Durstigen, die zwischendurch an einer Tankstelle anhalten, und den Corkern, die über eine Abkürzung wieder an die Spitze fahren wollen, wieder zur Masse zu finden. Andererseits hilft uns dein Track bei der Erstellung interessanter Statistiken und Heatmaps, die nicht nur gut aussehen, sondern auch interessante Informationen über die Critical Mass in deiner Stadt verraten.</p>
                <p>Zur Teilname am Live-Tracking brauchst du lediglich die Glympse-App, die es kostenlos für iOS und Android gibt:</p>

                <div class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" href="https://itunes.apple.com/de/app/glympse-zeig-deinen-freunden/id330316698">Glympse für iOS</button>
                        <button type="button" class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.glympse.android.glympse&hl=de">Glympse für Android</button>
                    </div>
                </div>

                <p>Du musst dich zur Teilnahme am Tracking weder auf criticalmass.in noch bei Glympse registrieren! Es ist ganz einfach:</p>

                <ol>
                    <li>Erstelle in der Glympse-App einen neuen Glympse über vier Stunden.</li>
                    <li>Lade uns ein: Schicke uns aus der App heraus eine Einladung an <code><strong>deine-stadt</strong>@criticalmass.in</code>, also <code>hamburg@criticalmass.in</code> für die Hamburger Critical Mass oder <code>berlin@criticalmass.in</code> für die Berliner Critical Mass.</li>
                    <li>Fahre los! Wir fragen Glympse in regelmäßigen Abständen nach deinem aktuellen Aufenthaltsort und zeichnen dich in unserer Karte ein.</li>
                </ol>
                <p>Achte bitte darauf, dass dein Glympse nicht zu früh abläuft: Im „Notfall“ kannst du auf der Übersichtsseite in der Glympse-App deinen Glympse verlängern. Andererseits solltest du deinen Glympse recht bald nach Ende der Tour löschen. Deine Position wird fünf Minuten später aus der Karte gelöscht.</p>
            </div>
        </div>
    </div>
</div>