<div role="tabpanel" class="tab-pane active" id="details">
    <div class="row">
        <div class="col-md-12">
            {% if app.getUser() %}
                <div class="btn-group btn-group pull-right" style="margin-top: 16px;">
                    <a class="btn btn-success" href="{{ path('caldera_criticalmass_desktop_ride_edit', { citySlug: ride.getCity().getMainSlugString(), rideDate: ride.getDateTime().format('Y-m-d') } ) }}" title="Tour bearbeiten">
                        <i class="fa fa-cogs"></i> Tour editieren
                    </a>
                </div>
            {% endif %}

            <h3>{{ ride.getFancyTitle() }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            {% if ride.description %}
                {{ ride.description|markdown }}
            {% endif %}
        </div>

        <div class="col-md-4">
            {% include 'CalderaCriticalmassSiteBundle:Ride:Includes/_rideDetails.html.twig' with { 'ride': ride, 'weatherForecast': weatherForecast } %}
            {% include 'CalderaCriticalmassSiteBundle:Ride:Includes/_socialMedia.html.twig' with { 'ride': ride } %}
            {% include 'CalderaCriticalmassSiteBundle:Ride:Includes/_rideEstimate.html.twig' with { 'ride': ride } %}
        </div>
    </div>
</div>