<div role="tabpanel" class="tab-pane" id="timelapse">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Timelapse
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <strong>
                    Vorsicht!
                </strong>

                Die Timelapse-Ansicht befindet sich noch in einem frühen Beta-Stadium und funktioniert unter Umständen nicht einwandfrei.
            </div>
        </div>
    </div>
</div>