<div role="tabpanel" class="tab-pane" id="timelapse">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Timelapse
            </h3>
        </div>
    </div>
</div>