<div role="tabpanel" class="tab-pane" id="timelapse">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Timelapse
            </h3>
        </div>
    </div>

    <div class="row margin-top-medium">
        <div class="col-md-8">
            <div class="alert alert-info" role="alert">
                <strong>
                    Vorsicht!
                </strong>

                Die Timelapse-Ansicht befindet sich noch in einem frühen Beta-Stadium und funktioniert unter Umständen nicht einwandfrei.
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Steuerung</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="btn-group" id="control-buttons" role="group" aria-label="...">
                                    <button type="button" id="step-backward-button" class="btn btn-default">
                                        <i class="fa fa-backward"></i>
                                    </button>
                                    <button type="button" id="pause-button"  class="btn btn-default">
                                        <i class="fa fa-pause"></i>
                                    </button>
                                    <button type="button" id="stop-button"  class="btn btn-default">
                                        <i class="fa fa-stop"></i>
                                    </button>
                                    <button type="button" id="play-button" class="btn btn-default">
                                        <i class="fa fa-play"></i>
                                    </button>
                                    <button type="button" id="step-forward-button"  class="btn btn-default">
                                        <i class="fa fa-forward"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12">
                            Geschwindigkeit:
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12">
                            <input id="speed-slider-input" type="text" style="width: 100%;" />
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12">
                            Zeitpunkt:
                        </div>
                    </div>

                    <div class="row margin-top-medium">
                        <div class="col-md-12">
                            <input id="time-slider-input" type="text" style="width: 100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>