<html>
<head>
    <title>CalderaCriticalmassDesktopBundle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% stylesheets '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script>
        var map;
        var elementsArray = [];
        var infoWindowArray = [];

        function addLoadedMarkers(result)
        {
            for (cityId in result.cities)
            {
                var city = result.cities[cityId];
/*
                elementsArray[cityId]  = new google.maps.Marker({
                    position: new google.maps.LatLng(city.center.latitude, city.center.longitude),
                    map: map,
                    title: city.city,
                    maxWidth: 500
                });

                infoWindowArray[cityId] = new google.maps.InfoWindow({ content: city.description });

                google.maps.event.addListener(elementsArray[cityId], 'click', function(cityId) {
                    return function() {
                        infoWindowArray[cityId].open(map, elementsArray[cityId]);
                    }
                }(cityId));*/
                // add a marker in the given location, attach some popup content to it and open the popup
                L.marker([city.center.latitude, city.center.longitude], { riseOnHover: true }).addTo(map)
                        .bindPopup(city.description);
            }
        }

        /*window.onload = function()
        {
        // create a map in the "map" div, set the view to a given place and zoom
        map = L.map('map').setView([53, 9], 5);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18
        }).addTo(map);


            $.ajax({
                type: 'GET',
                url: '/api/listcities',
                cache: false,
                success: addLoadedMarkers
            });
        }*/
    </script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">criticalmass.in</a>
        <ul class="nav">
            <li class="active"><a href="#">Übersicht</a></li>
            <li><a href="#">Galerie</a></li>
            <li><a href="#">Impressum</a></li>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown" class="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Hamburg
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>A</li>
                    <li>B</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% javascripts '@CalderaCriticalmassDesktopBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>