<html>
<head>
    <title>CalderaCriticalmassDesktopBundle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% stylesheets '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script>
        var citySlugString = 'hamburg';
    </script>
</head>
<body>
<header class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="#">criticalmass.in</a>
        <ul class="nav">
            <li class="active"><a href="#">Übersicht</a></li>
            <li><a href="#">Galerie</a></li>
            <li><a href="#">Impressum</a></li>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="currentCitySlugButton">
                    Hamburg
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">A</a></li>
                    <li><a href="#">B</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#myModal">
                    Kartenoptionen
                </a>
            </li>
        </ul>
    </div>
</header>
<section id="map" style="width: 100%; height: 85%; z-index: 0;"></section>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Kartenoptionen</h4>
            </header>
            <section class="modal-body">
                <p>Zeige die folgenden Elemente auf der Karte an:</p>
                <section class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">GPS-Positionen:</label>
                        <ul class="controls">
                            <input type="checkbox" id="inputEmail" />
                        </ul>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Permanente Positionen:</label>
                        <ul class="controls">
                            <input type="checkbox" id="inputEmail" />
                        </ul>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Bilder anzeigen:</label>
                        <ul class="controls">
                            <input type="checkbox" id="inputEmail" />
                        </ul>
                    </div>
                </section>
            </section>
            <footer class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary">Speichern</button>
            </footer>
        </div>
    </div>
</div>

{% javascripts '@CalderaCriticalmassDesktopBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>