div#map
{
    height: 320px;
}


div.leaflet-popup-content section.ride h2,
div.leaflet-popup-content section.position h2
{
    font-weight: bold;
    font-size: 1.2em;
}

div.leaflet-popup-content section.ride time
{
    display: block;
}


div.notification
{
    background-color: #fc0;
    padding: 10px;
    margin: -15px -15px 10px -15px;
}

#colorPage div#colorExample
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
}


div.messagePopup img
{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.messagePopup time,
li.commentItem time
{
    display: block;
    font-size: 0.8em;
    color: #aaaaaa;
}

li.commentItem p
{
    white-space: normal;
}

form#writeCommentForm
{
    margin-bottom: 25px;
}