div#map
{
    height: 320px;
}


div.leaflet-popup-content section.ride h2,
div.leaflet-popup-content section.position h2
{
    font-weight: bold;
    font-size: 1.2em;
}

div.leaflet-popup-content section.ride time
{
    display: block;
}


div.notification
{
    background-color: #fc0;
    padding: 10px;
    margin: -15px -15px 10px -15px;
}