{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block breadcrumb %}
    <li class="active">Diskussionen</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Beschreibung
                            </th>
                            <th>
                                Themen
                            </th>
                            <th>
                                Beiträge
                            </th>
                            <th>
                                letzter Beitrag
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for board in boards %}
                        <tr>
                            <td>
                                <a href="{{ path(board) }}">
                                    {{ board.title }}
                                </a>
                            </td>
                            <td>
                                {{ board.threadNumber }}
                            </td>
                            <td>
                                {{ board.postNumber }}
                            </td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}