{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}{% endblock %}

{% block breadcrumb %}
    <li class="active">Diskussionen</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ thread.title }}
                </h2>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            {% if posts|length > 0 %}
                <div class="post-list">
                    {% for post in posts %}
                        {% include('CalderaCriticalmassSiteBundle:Post:post.html.twig') with { 'post':  post } %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <strong>Schade!</strong> Bislang hat noch niemand einen Kommentar geschrieben!
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}