{% if today(ride.dateTime) %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                Live
            </h3>
        </div>
        <div class="panel-body text-center">
            <p>
                Verfolge die Critical Mass live auf deinem Smartphone!
            </p>

            <ins data-revive-zoneid="16" data-revive-id="41009926173ca0d1c900a7dc0a6dd401"></ins>
            <script async src="//adserver.caldera.cc/delivery/asyncjs.php"></script>
        </div>
    </div>
{% endif %}
