{% set previousRide = previous_ride(ride) %}
{% set nextRide = next_ride(ride) %}

<nav aria-label="Tour Navigation" class="mt-4">
    <div class="d-flex justify-content-between">
        {% if previousRide %}
            <a href="{{ object_path(previousRide) }}" class="btn btn-outline-secondary">
                <i class="far fa-chevron-left me-2"></i>
                <span class="d-none d-sm-inline">{{ previousRide.dateTime|date('d.m.Y') }}</span>
                <span class="d-sm-none">Vorige</span>
            </a>
        {% else %}
            <span></span>
        {% endif %}

        {% if nextRide %}
            <a href="{{ object_path(nextRide) }}" class="btn btn-outline-secondary">
                <span class="d-none d-sm-inline">{{ nextRide.dateTime|date('d.m.Y') }}</span>
                <span class="d-sm-none">Nächste</span>
                <i class="far fa-chevron-right ms-2"></i>
            </a>
        {% else %}
            <span></span>
        {% endif %}
    </div>
</nav>
