{% set previous_ride = previous_entity(ride) %}
{% set next_ride = next_entity(ride) %}

<nav aria-label="Tour Navigation" class="mt-4">
    <div class="d-flex justify-content-between">
        {% if previous_ride %}
            <a href="{{ object_path(previous_ride) }}" class="btn btn-outline-secondary">
                <i class="far fa-chevron-left me-2"></i>
                <span class="d-none d-sm-inline">{{ previous_ride.dateTime|date('d.m.Y') }}</span>
                <span class="d-sm-none">Vorige</span>
            </a>
        {% else %}
            <span></span>
        {% endif %}

        {% if next_ride %}
            <a href="{{ object_path(next_ride) }}" class="btn btn-outline-secondary">
                <span class="d-none d-sm-inline">{{ next_ride.dateTime|date('d.m.Y') }}</span>
                <span class="d-sm-none">Nächste</span>
                <i class="far fa-chevron-right ms-2"></i>
            </a>
        {% else %}
            <span></span>
        {% endif %}
    </div>
</nav>
