{% set previous_ride = previous_entity(ride) %}
{% set next_ride = next_entity(ride) %}

<nav aria-label="Ride navigation" class="text-center m-4">
    <ul class="pagination justify-content-center">
        {% if previous_ride %}
        <li class="page-item">
            <a class="page-link" href="{{ object_path(previous_ride) }}">
                &larr; Vorige Tour
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                &larr; Vorige Tour
            </a>
        </li>
        {% endif %}

        {% if next_ride %}
        <li class="page-item">
            <a class="page-link" href="{{ object_path(nextRide) }}">
                Nächste Tour &rarr;
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                Nächste Tour &rarr;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
