{% set previous_ride = previous_entity(ride) %}
{% set next_ride = next_entity(ride) %}

<nav aria-label="Tour Navigation">
    <ul class="pagination justify-content-between">
        <li class="page-item{% if not previous_ride %} disabled{% endif %}">
            <a class="page-link" href="{% if previous_ride %}{{ object_path(previous_ride) }}{% else %}#{% endif %}">
                &larr; Vorige Tour
            </a>
        </li>

        <li class="page-item{% if not next_ride %} disabled{% endif %}">
            <a class="page-link" href="{% if next_ride %}{{ object_path(next_ride) }}{% else %}#{% endif %}">
                Nächste Tour &rarr;
            </a>
        </li>
    </ul>
</nav>
