{# Show hint for non logged in users #}
{% if not app.user %}
    <div class="alert alert-info border-0 d-flex align-items-center mb-4" role="alert">
        <i class="far fa-user-plus fa-lg me-3"></i>
        <div>
            {{ 'ride.registration_hint'|trans({'%login_url%': path('login')})|raw }}
        </div>
    </div>
{% endif %}
