{# Show hint for non logged in users #}
{% if not app.user %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <strong>
                    Hej!
                </strong>
                Mit einem <a href="{{ path('login') }}">criticalmass.in-Benutzerkonto</a> könntest du die Daten dieser Tour aktualisieren.
            </div>
        </div>
    </div>
{% endif %}
