{% if weatherForecast %}
<div class="card border-0 bg-light mb-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-3 text-muted">
            <i class="far fa-cloud-sun me-2"></i>Wetter
        </h6>
        <p class="card-text mb-0">{{ weatherForecast }}</p>
    </div>
</div>
{% endif %}
