{% if weatherForecast %}
<div class="card border-0 bg-light mb-3">
    <div class="card-body">
        <h6 class="card-subtitle mb-3 text-muted">
            <i class="far fa-cloud-sun me-2"></i>{{ 'ride.details_weather'|trans }}
        </h6>
        <p class="card-text mb-2">{{ weatherForecast }}</p>
        <small class="text-muted">
            {{ 'ride.details_weather_source'|trans({'%url%': 'https://openweathermap.org/'})|raw }}
        </small>
    </div>
</div>
{% endif %}
