{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Bikeright
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <small class="pull-right">
                    Anzeige
                </small>

                <h2>
                    Dein Bikeright-Rabattcode
                </h2>

                <p class="lead">
                    Ab sofort erhalten Community-Mitglieder kostenfreien Zugang zu fahrradrechtlicher Beratung auf
                    bikeright.de!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-bikeright">
                    <div class="panel-heading">
                        Dein Rabattcode
                    </div>

                    <div class="panel-body text-center">
                        {% if bikerightVoucher %}
                            <div class="well well-sm">
                                {{ bikerightVoucher.code }}
                            </div>
                        {% else %}
                            <a href="{{ path('criticalmass_user_bikeright_generate') }}" class="btn btn-bikeright">
                                Code anfordern
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>
                    Rabatt-Code einlösen &mdash; So einfach geht’s:
                </h3>

                <ol>
                    <li>
                        Rechtsberatungs-Thema auf <a href="https://bikeright.de">www.bikeright.de</a> auswählen
                    </li>

                    <li>
                        Im Warenkorb Code eingeben und 100% Discount erhalten!
                    </li>

                    <li>
                        Beratungstermin vereinbaren
                    </li>

                    <li>
                        Unsere Anwälte rufen dich zum gewünschten Termin an
                    </li>
                </ol>

                <p>
                    Achtung: Der Code wird in deinem Nutzerbereich hinterlegt und ist dort jederzeit einsehbar. Zudem
                    hast du noch bis zum 31.12.2019 Zeit, den Gutschein einzulösen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
