<div class="row mb-1">
    <div class="col-xs-2">
        <img class="img-circle pull-xs-right" src="https://www.gravatar.com/avatar/{{ post.getUser().getGravatarHash() }}&s=64"/>
    </div>

    <div class="col-xs-10">
        <strong>
            {{ post.getUser().getUsername() }}
        </strong>

        <div>
        {{ post.message|parse }}
        </div>

        <time class="small pull-xs-right">
            {{ post.dateTime|date('d.m.Y H:i', 'Europe/Berlin') }}&nbsp;Uhr
        </time>
    </div>
</div>