.cluster-counter-outer {
    background-color: #aaa;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    opacity: 0.8;
}

.cluster-counter-inner {
    background-color: #ddd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-top: 4px;
    line-height: 24px;
    text-align: center;
    opacity: 1.0;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-1 {
    margin-top: 1em;
}

.m-t-2 {
    margin-top: 2em;
}

.m-t-3 {
    margin-top: 3em;
}

.m-t-4 {
    margin-top: 4em;
}

.m-t-5 {
    margin-top: 5em;
}