.cluster-counter-outer {
    background-color: #aaa;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    opacity: 0.8;
}

.cluster-counter-inner {
    background-color: #ddd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-top: 4px;
    line-height: 24px;
    text-align: center;
    opacity: 1.0;
}

.img-circle {
    border-radius: 50%;
}