<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-center">
    <p>
        <small>
            <time>
                {{ item.dateTime|time_ago_in_words }}
            </time>
        </small>
    </p>
</div>
