<nav id="navigation" class="navbar navbar-default">
    {% if fullscreen is defined and fullscreen == true %}
    <div class="container-fluid">
        {% else %}
        <div class="container">
            {% endif %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">
                    Toggle navigation
                </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ path('caldera_cycleways_incident_map_city', { citySlug: 'hamburg' }) }}">
                    Cycleways
                </a>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('caldera_cycleways_incident_add', { citySlug: 'hamburg' }) }}">
                            <i class="fa fa-plus"></i>
                            Eintrag hinzufügen
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('caldera_cycleways_incident_list_city', { citySlug: 'hamburg' }) }}">
                            <i class="fa fa-list"></i>
                            Einträge auflisten
                        </a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right" role="search"
                      action="{{ path('caldera_criticalmass_search_query') }}">
                    <div class="form-group">
                        <input id="search-input" type="text" class="form-control"
                               placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}"
                               name="query"/>
                    </div>
                    <button type="submit" class="btn btn-success">
                        {% trans %}criticalmass.navigation.search.search{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
</nav>

<script type="text/javascript">
    //CriticalMass.loadModule('Search', '#search-input');
</script>
