@import "bootstrap5";
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css";
@import "criticalmass/criticalmass";
@import "criticalmass/frontpage3";
@import "criticalmass/explore";

.input-daterange input {
  text-align: left !important;
}

input[type="file"] {
  display: inline !important;
}

#github-ribbon {
  position: absolute;
  top: 42px;
  right: 0;
  border: 0;
  z-index: 1000;
}

.captcha-input-group .input-group-text {
  padding: 0;
}