{#<a href="https://github.com/calderacc/criticalmass-in">
    <img class="d-none d-md-block"
         src="{{ asset('/images/github/yellow-topright.png') }}"
         alt="Fork me on GitHub"
         id="github-ribbon"
    />
</a>#}
