<a href="https://github.com/calderacc/criticalmass-in">
    <img class="hidden-xs hidden-sm"
         src="{{ asset('/images/github/yellow-topright.png') }}"
         alt="Fork me on GitHub"
         id="github-ribbon"
    />
</a>
