doctrine:
    dbal:
        driver:   pdo_mysql
        host:     '%database_host%'
        port:     '%database_port%'
        dbname:   '%database_name%'
        user:     '%database_user%'
        password: '%database_password%'
        charset:  UTF8
        types:
            datetime: AppBundle\DBAL\Type\UTCDateTimeType
            date: AppBundle\DBAL\Type\UTCDateType
            time: AppBundle\DBAL\Type\UTCTimeType
        mapping_types:
            enum: string
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        auto_mapping: true
        dql:
            datetime_functions:
                day: AppBundle\DQL\DayFunction
                date: AppBundle\DQL\DateFunction
                month: AppBundle\DQL\MonthFunction
                year: AppBundle\DQL\YearFunction
                dayofweek: AppBundle\DQL\DayOfWeekFunction
            numeric_functions:
                rand: AppBundle\DQL\RandFunction
