{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Datenschutzerkl채rung{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Datenschutzerkl채rung
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        </div>

        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#">
                        Dein Profil
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Login 체ber soziale Netzwerke
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Fotos
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Tracks
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Touren
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        St채dte
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Statistiken
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Diskussionsforum
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Landkarten
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Werbung
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
