{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Datenschutzerklärung{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Datenschutzerklärung
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>
                Touren
            </h3>
            
            <h3>
                Tracks
            </h3>

            <p>
                Als Track bezeichnen wir die Aufzeichnung einer Strecke, die ein Teilnehmer während einer Critical-Mass-Tour zurückgelegt hat. Aus technischer Sicht besteht ein Track aus einer Liste von Coordinaten und Zeitstempeln, aus denen ersichtlich ist, zu welchem Zeitpunkt sich ein Nutzer an einem bestimmten Ort aufgehalten hat.
            </p>

            <p>
                Wir nutzen Tracks zu statistischen Zwecken. Erfahrungsgemäß ist es für die Teilnehmer einer Tour im Nachhinein immer recht interessant, wohin die Reise ging, außerdem lassen sich aus Tracks einerseits Statistiken über die Länge und Dauer einer Tour generieren, andererseits so genannte Heatmaps erstellen.
            </p>

            <p>
                Bei einer Heatmap handelt es sich um eine Kartenansicht, aus der hervor geht, wie oft eine bestimmte Strecke im Verhältnis zu anderen Strecken befahren wurde. Stell dir vor, die Critical Mass deiner Stadt startet beispielsweise an einem zentral gelegenen Marktplatz und fährt Monat für Monat die gleiche Straße von diesem Marktplatz herunter. Diese Straße würde sehr stark befahren in roter Farbe auf der Karte dargestellt. Anschließend wird aber rechts oder links abgebogen, vielleicht geradeaus gefahren, die Masse sucht sich jedes Mal neue Strecken. An bestimmten Straßen kommt man häufiger vorbei, weniger stark befahrene Stadtviertel bleiben auf der Heatmap dunkel.
            </p>

            <p>
                Du kannst Tracks entweder manuell als GPX-Datei hochladen oder über das soziale Fahrrad-Netzwerk Strava importieren. Wenn du dich für einen Importvorgang über Strava entscheidest, erteilst du uns die einmalige Erlaubnis, auf die von dir dort gespeicherten Touren zuzugreifen. Wir fragen über eine technische Schnittstelle zunächst jene Touren ab, die am Tag einer Critical Mass stattgefunden haben. Diese Touren präsentieren wir dir als Liste, von denen du eine einzelne Tour zum Importieren auswählen kannst. Wir laden anschließend von Strava nur die Positions- und Zeitdaten herunter, etwaige Gesundheitsdaten wie beispielsweise deine Herzfrequenz, oder zusätzliche Daten wie deine Trittfrequenz fragen wir nicht an.
            </p>

            <p>
                Selbstverständlich kannst du deine Tracks anschließend verwalten. Dir stehen verschiedene Werkzeuge zur Verfügung, mit denen du deinen Track unsichtbar schalten kannst, um ihn von anderen Nutzern und aus den Heatmaps zu verbergen, oder mit denen du deinen Track kürzen kannst, um etwa die An- und Abfahrt zu einer Critical Mass herauszuschneiden. Natürlich kannst du deine Track auch komplett aus unserer Webseite löschen. Die damit verknüpften statistischen Daten werden dann ebenfalls entfernt.
            </p>

            <h3>
                Werbung
            </h3>

            <p>
                Auf einigen Seiten unseres Internetangebotes wirst du Werbeanzeigen sehen. Diese Anzeigen werden ausnahmslos von unserem eigenen Server <code>adserver.caldera.cc</code> ausgespielt. Es handelt sich ausschließlich um unbezahlte Werbeanzeigen für Projekte oder Webseiten, die wir für unterstützungswert oder interessant halten. Die Werbeanzeigen werden nach dem Zufallsprinzip ausgepsielt, es findet keine Profilbildung oder zusätzliche Datenerhebung statt, unser Webserver loggt keine personenbezogenen Daten. Es wird lediglcih eine anonymisierte Statistik erhoben, welche Anzeige zu welchem Zeitpunkt ausgespielt wurde.
            </p>
        </div>

        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="#">
                        Dein Profil
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Login über soziale Netzwerke
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Fotos
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Tracks
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Touren
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Städte
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Statistiken
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Diskussionsforum
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Landkarten
                    </a>
                </li>

                <li role="presentation">
                    <a href="#">
                        Werbung
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
