{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block body %}
	<section id="content" data-role="content">
		<div id="map-canvas" style="width: 500px; height: 500px; margin: 10px auto;"></div>
	</section>
{% endblock %}