{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}{{ city.getTitle }}{% endblock %}

{% block body %}
	<section id="content" data-role="content">
		<div id="map-canvas" style="width: 500px; height: 500px; margin: 10px auto;"></div>

		<div data-role="fieldcontain">
			<label for="flip-gps-sender">GPS-Übertragung:</label>
				<select name="flip-gps-sender" id="flip-gps-sender" data-role="slider">
					<option value="off">Aus</option>
					<option value="on">An</option>
				</select>
			<label for="slider-gps-interval">GPS-Intervall in Sekunden:</label>
				<input type="range" name="slider-gps-interval" id="slider-gps-interval" value="15" min="1" max="300" />
		</div>
		
	</section>
{% endblock %}