.calendar {
  width: 100%;

  th {
    padding: 5px;
    text-align: center;
  }

  .day,
  .none-day {
    border: 1px grey solid;
    vertical-align: top;
    height: 175px;

    .day-number {
      background-color: red;
      text-align: right;
      padding: 3px;
      color: white;
      font-weight: bold;
      height: 25px;
    }

    ul {
      overflow: scroll;
      height: 150px;
      margin: 0;
      padding: 5px;
    }

    &.shadow {
      box-shadow: inset 0 -10px 10px -10px #000000;
    }
  }

  .none-day .day-number {
    background-color: maroon;
  }
}