.carousel {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;

  .carousel-item {
    height: 500px;
    background-position: center;

    .carousel-caption {
      text-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.9);
    }
  }
}