body.ride.ride-disabled {
  h1 {
    text-decoration: line-through;
  }

  div.container.ride {
    color: $gray;
  }

  div#map {
    filter: grayscale(100%) brightness(75%) blur(1px);
  }
}

.ride-list tr.ride--disabled,
#ride-list-table tr.ride--disabled {
  &,
  a {
    text-decoration: line-through;
    color: $gray;
  }
}

.timeline-item-ride {
  &--disabled {
    h4,
    .ride-title a {
      color: $gray;
      text-decoration: line-through;
    }

    div.timeline-item-ride-map {
      filter: grayscale(100%) brightness(75%) blur(1px);
    }
  }
}
