body {
  .transit-hvv {
    color: white;
    font-weight: bold;
    width: 35px;
    display: inline-block;
    text-align: center;
  }

  .transit-hvv-s1,
  .transit-hvv-s11,
  .transit-hvv-s2,
  .transit-hvv-s21,
  .transit-hvv-s3,
  .transit-hvv-s31,
  .transit-hvv-a1,
  .transit-hvv-a2,
  .transit-hvv-a3 {
    border-radius: 15px;
  }

  .transit-hvv-s1 {
    background-color: rgb(20, 149, 51);
  }

  .transit-hvv-s11 {
    border: 3px rgb(20, 149, 51) solid;
    color: rgb(20, 149, 51);
  }

  .transit-hvv-s2 {
    border: 3px rgb(179, 25, 60) solid;
    color: rgb(179, 25, 60);
  }

  .transit-hvv-s21 {
    background-color: rgb(179, 25, 60);
  }

  .transit-hvv-s3 {
    background-color: rgb(83, 36, 108);
  }

  .transit-hvv-s31 {
    background-color: rgb(83, 36, 108);
  }

  .transit-hvv-u1 {
    background-color: rgb(11, 92, 162);
  }

  .transit-hvv-u2 {
    background-color: rgb(234, 12, 42);
  }

  .transit-hvv-u3 {
    background-color: rgb(254, 212, 48);
  }

  .transit-hvv-u4 {
    background-color: rgb(19, 139, 142);
  }

  .transit-hvv-a1,
  .transit-hvv-a2,
  .transit-hvv-a3 {
    background-color: rgb(231, 135, 58);
  }
}
