{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Track hochladen{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li><a href="{{ path('caldera_criticalmass_statistic_track_list') }}">Deine Tracks</a></li>
            <li class="active">Track hinzufügen</li>
        </ol>


        <h1>Hoppla, schiefgegangen.</h1>

        <p>Das hat leider nicht so richtig geklappt. Wir haben wochenlang an diesem kleinen Feature geschraubt, aber es gibt irgendwie tausende Fehlerfälle, die wir nicht alle beachtet haben, und einen von diesen tausend hast du gerade gefunden:</p>

        <ul>
            <li>War das wirklich eine GPX-Datei? Mit Bildern, Textdokumenten oder Filmen können wir leider nichts anfangen.</li>
            <li>Eventuell lädst du eine GPX-Datei zu einer uns unbekannten Tour hoch. Wir kennen recht viele Critical-Mass-Touren seit Mai 2014, davor wird es nichts und danach teilweise noch immer recht eng.</li>
            <li>Enthält deine GPX-Datei keine Zeitstempel zu den einzelnen Wegpunkten? Dann sind wir leider ein bisschen aufgeschmissen, aber wir arbeiten daran, die Sache zu verbessern. Wenn du die Datei von einem Anbieter wie Strava oder GPSies heruntergeladen hast, kann es passieren, dass die Zeitstempel abhanden kommen.</li>
            <li>Ist die Uhr deines Gerätes vernünftig eingestellt? Mit ein paar Stunden Abweichung kommen wir zurecht, aber danach wird’s echt kompliziert.</li>
            <li>Egal, woran es liegt: Du würdest uns einen echt mega-großen Gefallen tun, wenn du uns unter <a href="mailto:gpx@criticalmass.in">gpx@criticalmass.in</a> kontaktierst, damit wir der Sache auf den Grund gehen können.</li>
        </ul>
    </div>
{% endblock %}