{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Track hochladen{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li><a href="{{ path('caldera_criticalmass_statistic_track_list') }}">Deine Tracks</a></li>
            <li class="active">Track hinzufügen</li>
        </ol>

        <h1>Hoppla, schiefgegangen.</h1>

        <p>Das hat leider nicht so richtig geklappt. Wir haben wochenlang an diesem kleinen Feature geschraubt, aber es gibt irgendwie tausende Fehlerfälle, die wir nicht alle beachtet haben, und einen von diesen tausend hast du gerade gefunden:</p>

        <ul>
            
        </ul>
    </div>
{% endblock %}