<p>Wenn du eine Critical-Mass-Tour aufgezeichnet ist, kannst du hier deren Track als GPX-Datei hochladen.</p>

{{ form_start(form, {'attr': {'role': 'form'}}) }}

<div class="form-group">
    <label for="">Datei:</label>
    {{ form_widget(form.file, {'attr': {'class': 'form-control' }}) }}
</div>

<button type="submit" class="btn btn-default">Track hochladen</button>
{{ form_end(form) }}