{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ track.getId() }}</h1>

        <div id="map" class="col-lg-12" style="height: 350px;"></div>

        {% javascripts
        '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            var map = L.map('map');
            var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });

            tileLayer.addTo(map);
            map.setView([53, 9], 10);

            // create a red polyline from an arrays of LatLng points
            var polyline = L.polyline({{ track.getJson() }}, {color: 'red'}).addTo(map);

            // zoom the map to the polyline
            map.fitBounds(polyline.getBounds());

        </script>
    </div>
{% endblock %}