{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Deine Tracks{% endblock %}

{% block content %}
    <div class="container">
        wdwdwd
    </div>
{% endblock %}