<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title">
            Live Tracking
        </h4>

        <p class="card-text">
            Suchst du die <strong>Live-Karte</strong>? Die findest du ab jetzt hier:
        </p>

        <a class="btn btn-danger" href="https://criticalmass.live/{{ city.slug }}">
            criticalmass.live
        </a>
    </div>
</div>
