{% if locations|length > 1 %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Treffpunkte
            </h4>

            <ul class="list-unstyled">
                {% for location in locations %}
                    <li>
                        <a href="{{ objectPath(location) }}">
                            {{ location.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}


