<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Städte in der Umgebung
        </h4>

        <ul>
            {% for city in nearCities %}
                <li>
                    <a href="{{ objectPath(city) }}">
                        {{ city.city }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>