{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Gefahrenstellen in {{ city.city }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Gefahrenstellen in {{ city.city }}
                </h1>
            </div>
        </div>
    </div>
{% endblock %}