{% extends 'CalderaCyclewaysBundle:Template:StandardTemplate.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            {{ incident.title }}
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Details
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('CyclewaysIncidentShowPage', null, null, function (incidentPage) {
            incidentPage.setIncident('{{ incident|serialize|raw|e('js') }}');
            incidentPage.focus();
        });
    </script>
{% endblock %}
