{% extends 'Template/StandardTemplate.html.twig' %}

{% set bootstrap4 = true %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Bikeright
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <small class="pull-right">
                    Anzeige
                </small>

                <h2>
                    Dein Bikeright-Rabattcode
                </h2>

                <p class="lead">
                    Ab sofort erhalten Community-Mitglieder kostenfreien Zugang zu fahrradrechtlicher Beratung auf
                    bikeright.de!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card card-bikeright">
                    <h5 class="card-header">
                        Dein Rabattcode
                    </h5>

                    <div class="card-body text-center">
                        {% if bikerightVoucher %}
                            <input class="form-control form-control-lg w-25 d-block m-auto text-center" type="text" value="{{ bikerightVoucher.code }}" disabled="disabled" />
                        {% else %}
                            <a href="{{ path('criticalmass_user_bikeright_generate') }}" class="btn btn-bikeright">
                                Code anfordern
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-md-8 offset-md-2">
                <h4>
                    Rabatt-Code einlösen &mdash; So einfach geht’s:
                </h4>

                <ol>
                    <li>
                        Rechtsberatungs-Thema auf <a href="https://bikeright.de">www.bikeright.de</a> auswählen
                    </li>

                    <li>
                        Im Warenkorb Code eingeben und 100% Discount erhalten!
                    </li>

                    <li>
                        Beratungstermin vereinbaren
                    </li>

                    <li>
                        Unsere Anwälte rufen dich zum gewünschten Termin an
                    </li>
                </ol>

                <p>
                    Achtung: Der Code wird in deinem Nutzerbereich hinterlegt und ist dort jederzeit einsehbar. Zudem hast du noch bis zum 31.12.2019 Zeit, den Gutschein einzulösen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
