{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Deine Touren{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li class="active">
        Deine Touren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a href="#table" aria-controls="profile" role="tab" data-toggle="tab">
                            Übersicht
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#list" aria-controls="profile" role="tab" data-toggle="tab">
                            Liste
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="table">
                        {{ include('UserBundle:Participation:_table.html.twig') }}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="list">
                        {{ include('UserBundle:Participation:_list.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
