{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block breadcrumb %}
    <li class="active">Critical-Mass-Kalender</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Dein weltweiter Critical-Mass-Kalender
                </h1>

                <p class="lead">
                    Hier siehst du eine Übersicht über alle in unserer Datenbank vorhandenen Critical-Mass-Touren.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>
                    {{ time|format_date('MMMM YYYY') }}
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="calendar" class="calendar">
                    <thead>
                    <tr>
                        <th width="14%">
                            Montag
                        </th>

                        <th width="14%">
                            Dienstag
                        </th>

                        <th width="14%">
                            Mittwoch
                        </th>

                        <th width="14%">
                            Donnerstag
                        </th>

                        <th width="14%">
                            Freitag
                        </th>

                        <th width="14%">
                            Sonnabend
                        </th>

                        <th width="14%">
                            Sonntag
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% set daysInMonth = time|date('t') %}
                        {% set startDow = time|date('F 1\\s\\t Y')|date('w') - 1%}
                        {% set dow = startDow %}

                        {% for day in range(1, startDow) %}
                        <td class="none-day">
                            <div class="day-number">

                            </div>
                        </td>
                        {% endfor %}

                        {% for day,rideList in dayList %}

                        <td class="day">
                            <div class="day-number">
                                {{ day|date('d') }}
                            </div>

                            {% if rideList|length %}
                            <ul class="ride-list list-unstyled">
                                {% for ride in rideList %}
                                <li>
                                    <a href="{{ objectPath(ride) }}">
                                        {{ ride.city.city }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>

                        {% if dow == 6 %}
                        {% set dow = 0 %}
                    </tr>
                    <tr>
                        {% else %}
                            {% set dow = dow + 1 %}
                        {% endif %}
                        {% endfor %}

                        {% for day in range(dow, 6) %}
                            <td class="none-day">
                                <div class="day-number">

                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('CalendarPage', '#calendar');
    </script>

{% endblock %}
