{% extends 'CalderaCyclewaysBundle:Template:FullscreenTemplate.html.twig' %}

{% set menu_selected = 'two' %}

{% block title %}Live{% endblock %}

{% block additionalHeaderElements %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% javascripts
    '@CalderaCriticalmassSiteBundle/Resources/public/js/core/Url.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/Map.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/MapPositions.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/entity/*.js'
    '@CalderaCyclewaysBundle/Resources/public/js/entity/*.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/external/leaflet/leaflet.groupedlayercontrol.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/external/leaflet/L.Control.Locate.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <style>
        #map {
            position: absolute;
            top: 30px;
            bottom: 0;
            width: 100%;
            z-index: 0;

        }
    </style>
{% endblock %}

{% block content %}
    <div id="map">
    </div>
{% endblock %}

{% block additionalFooterElements %}
    <script>
        $(function() {
            $('#map').css('top', $('nav#navigation').css('height'));

            var map = new Map('map', []);
        
            var incident = null;
        
            {% for incident in incidents %}
            incident = new Incident('foo', 'bla', '{{ incident.creationDateTime.format('d.m.Y H:i') }}', {{ incident.latitude }}, {{ incident.longitude }});
            incident.addTo(map.map);
            {% endfor %}
     

            map.map.setView([53.4015275, 9.7984212], 12);

            function processGeolocation(mapCenter) {
                map.map.setView(mapCenter, 16);
                
                var marker = L.marker(mapCenter);
                marker.addTo(map.map);

                marker.openPopup('Zieh die Karte auf die richtige Stelle! <button id="select-position">Weiter</button>');

                map.map.on('move', function () {
                    marker.setLatLng(map.map.getCenter());
                    //console.log(map.getCenter());
                });
                //Dragend event of map for update marker position
                map.map.on('dragend', function(e) {
                    var cnt = map.map.getCenter();
                    var position = marker.getLatLng();
                    lat = Number(position['lat']).toFixed(5);
                    lng = Number(position['lng']).toFixed(5);
                    //console.log(position);
                    //setLeafLatLong(lat, lng);
                });

            }
            
            $('#add-incident-menu').on('click', function() {
                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var mapCenter = [position.coords.latitude, position.coords.longitude];
                                
                        processGeolocation(mapCenter);
                    });
                } else {
                    mapCenter = map.map.getCenter();
                    
                    processGeolocation(mapCenter);
                }
                
            })
        });
    </script>
{% endblock %}