$bikeright-dark: rgb(64, 63, 76);
$bikeright-light: #7cbdce;

$panel-bikeright-text: $bikeright-dark !default;
$panel-bikeright-border: $bikeright-dark !default;
$panel-bikeright-heading-bg: $bikeright-light !default;

.panel-bikeright {
  @include panel-variant($panel-bikeright-border, $panel-bikeright-text, $panel-bikeright-heading-bg, $panel-bikeright-border);
}

$btn-bikeright-color: $bikeright-dark !default;
$btn-bikeright-bg: $bikeright-light !default;
$btn-bikeright-border: $bikeright-dark !default;

.btn-bikeright {
  @include button-variant($btn-bikeright-color, $btn-bikeright-bg, $btn-bikeright-border);
}
