body {
  .margin-top-small {
    margin-top: 10px;
  }

  .margin-top-medium {
    margin-top: 20px;
  }

  .margin-top-large {
    margin-top: 40px;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .padding-top-small {
    padding-top: 10px;
  }

  .padding-top-medium {
    padding-top: 20px;
  }

  .padding-top-large {
    padding-top: 40px;
  }

  .no-padding-top {
    padding-top: 0;
  }

  .margin-bottom-small {
    margin-bottom: 10px;
  }

  .margin-bottom-medium {
    margin-bottom: 20px;
  }

  .margin-bottom-large {
    margin-bottom: 40px;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .padding-bottom-small {
    padding-bottom: 10px;
  }

  .padding-bottom-medium {
    padding-bottom: 20px;
  }

  .padding-bottom-large {
    padding-bottom: 40px;
  }

  .no-padding-bottom {
    padding-bottom: 0;
  }
}