<a href="https://github.com/calderacc/criticalmass-in">
    <img class="hidden-xs hidden-sm"
         style="position: absolute; top: 42px; right: 0; border: 0;"
         src="{{ asset('bundles/app/images/github/yellow-topright.png') }}"
         alt="Fork me on GitHub"
    />
</a>
