blockquote {
    display:block;
    background: #fff;
    padding: 0 15px 0 55px;
    position: relative;
    color: #666;
    border-left: 15px solid #ddd;
    min-height: 3.5rem;
}

blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px;
}

blockquote::after {
    content: "";
}

blockquote p {
    margin-bottom: 0;
}


header {
    height: 300px;
    background-position: center center;
}

h2 {
    font-weight: 400 !important;
}

h3 {
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    font-weight: 400 !important;
    text-align: center;
}

a {
    color: #999 !important;
    text-decoration: underline !important;
}