.blog article blockquote {
    display:block;
    background: #fff;
    padding: 0 15px 0 55px;
    position: relative;
    color: #666;
    border-left: 15px solid #ddd;
    min-height: 3.5rem;
}

.blog article blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 5px;
}

.blog article blockquote::after {
    content: "";
}

.blog article blockquote p {
    margin-bottom: 0;
}

.blog header {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.blog h1 a,
.blog h1 a:hover,
.blog h2 a,
.blog h2 a:hover {
    text-decoration: none;
    color: black;
}

.blog h2 {
    font-weight: 400 !important;
}

.blog h3 {
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    font-weight: 400 !important;
    text-align: center;
}

.blog article a,
.blog article a:hover {
    color: #999;
}

.blog article a {
    text-decoration: underline;
}

.obfuscate {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}