		<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
			{% for result in cityResults %}
			<li class="ui-li ui-li-static ui-btn-up-c">
				<p class="ui-li-aside ui-li-desc">{{ result['distance']|number_format(1) }} Kilometer</p>
				<h3 class="ui-li-heading">{{ result['city'].getCity }}</h3>
				{% if result['ride'] %}
				<p class="ui-li-desc"><strong>{{ result['ride'].getDate|date("d.m.") }}, {{ result['ride'].getTime|date("H:i") }} Uhr</strong></p>
				{% endif %}
				<p class="ui-li-desc">In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
			</li>
		{% endfor %}
		</ul>
