{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ contentItem.getTitle() }}</h1>

        {{ contentItem.getParsedText() }}
    </div>
{% endblock %}