<nav id="navigation" class="navbar navbar-default">
    <div class="container">
        {{ include('AppBundle:Template/Navigation:_navbar_header.html.twig') }}
        {{ include('AppBundle:Template/Navigation:_navbar_content.html.twig') }}
    </div>
</nav>
