@import "bootstrap3/bootstrap";
@import "external/leaflet/extramarkers";
@import "criticalmass/criticalmass";
@import "criticalmass/bikeright3";
@import "criticalmass/frontpage3";

.form-control.datepicker {
  padding: 0.5rem 0.75rem !important;
}

.input-daterange input {
  text-align: left !important;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  color: $breadcrumb-color;
}

input[type="file"] {
  display: inline !important;
}
