@import "bootstrap3/bootstrap.scss";
@import "external/leaflet/_extramarkers.scss";
@import "criticalmass/_criticalmass.scss";
@import "criticalmass/_bikeright3.scss";
@import "criticalmass/_fahrradstadt3.scss";
@import "criticalmass/_frontpage3.scss";

.form-control.datepicker {
  padding: 0.5rem 0.75rem !important;
}

.input-daterange input {
  text-align: left !important;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  color: $breadcrumb-color;
}
