{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="auto-scale" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_standard') }}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                 <li class="previous disabled"><a href="#">&larr; Vorige Tour</a></li>

                 <li class="next disabled"><a href="#">Nächste Tour &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block additionalFooterElements %}
<script src="https://raw.githubusercontent.com/gestixi/image-scale/master/image-scale.js"></script>

    <script>
        domReadyQueue.push(function($) {
            var $img = $('img.auto-scale');

            $img.load(function() {
                var parentWidth = $img.parent().width();
                var maxHeight = 100;    // Max height for the image
                var ratio = 0;  // Used for aspect ratio
                var width = $img.width();    // Current image width
                var height = $img.height();  // Current image height

                // Check if the current width is larger than the max
                if(width > parentWidth){
                    ratio = parentWidth / width;   // get ratio for scaling image
                    $(this).css("width", parentWidth); // Set new width
                    $(this).css("height", height * ratio);  // Scale height based on ratio
                    height = height * ratio;    // Reset height to match scaled image
                    width = width * ratio;    // Reset width to match scaled image
                }
            });
        });
    </script>
{% endblock %}