<html>
<head>
    <title>criticalmass.in</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    {% javascripts '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/factories/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/entities/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/map/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/*'
    '@CalderaCriticalmassDesktopBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <script>
        function setElementHeight(elementLocator, height)
        {
            $(elementLocator).height(height);
        }

        function refreshHeight()
        {
            var height = $(document).height() - $('header#header').height() - $('footer#footer').height();

            setElementHeight('section#content', height);
            setElementHeight('#map', height);
        }

        $(document).ready(function()
        {
            refreshHeight();
        });

        $(window).resize(function()
        {
            refreshHeight();
        });

        window.onload = function()
        {
            var map = new DesktopMap('map');

            CityFactory.refreshAllStoredCities();
        }
    </script>
</head>
<body>
    <header id="header" class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">criticalmass.in</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </header>

    <section id="content">
        {% block body %}{% endblock %}
    </section>

    <footer id="footer">
        Ride on. Impressum? Datenschutz!
    </footer>
</body>
</html>