<html>
<head>
    <title>criticalmass.in</title>
    {% javascripts '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/factories/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/entities/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/map/*'
    '@CalderaCriticalmassCoreBundle/Resources/public/js/*'
    '@CalderaCriticalmassDesktopBundle/Resources/public/js/*'
    '@CalderaCriticalmassDesktopBundle/Resources/public/js/external/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/external/*.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <script>
        function setElementHeight(elementLocator, height)
        {
            $(elementLocator).height(height);
        }

        function refreshHeight()
        {
            var height = $(document).height() - $('header#header').height() - $('footer#footer').height();

            setElementHeight('section#content', height);
            setElementHeight('#map', height);
        }

        $(document).ready(function()
        {
            refreshHeight();
        });

        $(window).resize(function()
        {
            refreshHeight();
        });

        window.onload = function()
        {
            var map = new DesktopMap('map');

            CityFactory.refreshAllStoredCities();
        }
    </script>
</head>
<body>
    <header id="header" class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">criticalmass.in</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('caldera_criticalmass_desktop_city_list') }}">Städte</a></li>
                    <li><a href="#">Live</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistik<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('caldera_criticalmass_desktop_statistic_participants') }}">Teilnehmerzahlen</a></li>
                            <li><a href="#">Streckenlängen</a></li>
                            <li><a href="#">Heatmaps</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hilfe<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Critical Mass</a></li>
                            <li><a href="#">Verkehrsregeln</a></li>
                            <li><a href="#">Häufig gestellte Fragen</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Über uns<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Über criticalmass.in</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section id="content">
        {% block body %}{% endblock %}
    </section>
</body>
</html>