<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>criticalmass.in</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    {% stylesheets
    '@CalderaCriticalmassCoreBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

    <script>
        var cityslug = null;

        window.onload = function()
        {
            function loadingCompletedCallback()
            {
                if (CallbackHell.hasEventListenerBeenFired('cityListRefreshed') &&
                        CallbackHell.hasEventListenerBeenFired('rideListRefreshed') &&
                        CallbackHell.hasEventListenerBeenFired('tileLayerListRefreshed')
                        )
                {
                    {% if citySlug is defined %}
                    citySlug = '{{ citySlug }}';
                    {% endif %}

                    initApp();

                    {% if citySlug is defined %}
                    showCityInfo('{{ citySlug }}');
                    {% endif %}
                }
            }

            CallbackHell.registerEventListener('cityListRefreshed', loadingCompletedCallback);
            CallbackHell.registerEventListener('rideListRefreshed', loadingCompletedCallback);
            CallbackHell.registerEventListener('tileLayerListRefreshed', loadingCompletedCallback);

            CityFactory.refreshAllStoredCities();
            RideFactory.refreshAllStoredRides();
            TileLayerFactory.refreshAllStoredTileLayers();
        };
    </script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">criticalmass.in</a>
    </div>
    <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
        <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="sidebar.toggle(); return false;"><i class="fa fa-list" style="color: white"></i>&nbsp;&nbsp;Städte</a></li>
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-globe" style="color: white"></i>&nbsp;&nbsp;Critical Mass</a></li>
            <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#aboutModal').modal('show'); return false;"><i class="fa fa-question-circle" style="color: white"></i>&nbsp;&nbsp;Über uns</a></li>
        </ul>
    </div><!--/.navbar-collapse -->
</div>

<div id="map"></div>
<div id="sidebar">
    <div class="sidebar-wrapper">
        <div class="panel panel-default" style="margin: 0px; border: none; border-radius: 0px; -webkit-box-shadow: none; box-shadow: none;">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline;">Critical Mass<button type="button" class="btn btn-xs btn-default pull-right" onclick="sidebar.hide();"><i class="fa fa-chevron-left"></i></button></h3>
            </div>
            <div class="panel-body">
                <div class="sidebar-table">
                    <table class="table table-hover" id="theater-table">
                        <tbody class="list" id="cityList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Willkommen auf criticalmass.in!</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="aboutTabs">
                    <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;Über uns</a></li>
                    <li><a href="#contact" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;Kontakt</a></li>
                    <li><a href="#disclaimer" data-toggle="tab"><i class="fa fa-exclamation-circle"></i>&nbsp;Impressum</a></li>
                </ul>
                <div class="tab-content" id="aboutTabsContent" style="padding-top: 10px;">
                    <div class="tab-pane fade active in" id="about">
                        <p>A simple, responsive template for building web mapping applications with <a href="http://getbootstrap.com/">Bootstrap 3</a>, <a href="http://leafletjs.com/" target="_blank">Leaflet</a>, and <a href="http://twitter.github.io/typeahead.js/" target="_blank">typeahead.js</a>. Open source, MIT licensed, and available on <a href="https://github.com/bmcbride/bootleaf" target="_blank">GitHub</a>.</p>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Features</div>
                            <ul class="list-group">
                                <li class="list-group-item">Fullscreen mobile-friendly map template with responsive navbar and modal placeholders</li>
                                <li class="list-group-item">jQuery loading of external GeoJSON files</li>
                                <li class="list-group-item">Logical multiple layer marker clustering via the <a href="https://github.com/Leaflet/Leaflet.markercluster" target="_blank">leaflet marker cluster plugin</a></li>
                                <li class="list-group-item">Elegant client-side multi-layer feature search with autocomplete using <a href="http://twitter.github.io/typeahead.js/" target="_blank">typeahead.js</a></li>
                                <li class="list-group-item">Responsive sidebar feature list with sorting and filtering via the <a href="https://github.com/turbo87/leaflet-sidebar/" target="_blank">leaflet-sidebar plugin</a> and <a href="http://listjs.com/" target="_blank">list.js</a></li>
                                <li class="list-group-item">Marker icons included in grouped layer control via the <a href="https://github.com/ismyrnow/Leaflet.groupedlayercontrol" target="_blank">grouped layer control plugin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="disclaimer" class="tab-pane fade">
                        <p>criticalmass.in ist ein Projekt an der Fachhochschule Wedel.</p>
                        <p>Fachhochschule Wedel<br />Feldstraße 143<br />22880 Wedel</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:malte@criticalmass.in">malte@criticalmass.in</a><br /><span class="glyphicon glyphicon-earphone"></span> 0700 11 864 833</p>
                    </div>
                    <div class="tab-pane fade" id="contact">
                        <form id="contact-form">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="first-name">First Name:</label>
                                            <input type="text" class="form-control" id="first-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="last-name">Last Name:</label>
                                            <input type="text" class="form-control" id="last-email">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="text" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="message">Message:</label>
                                        <textarea class="form-control" rows="8" id="message"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Submit</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="boroughs-tab">
                        <p>Borough data courtesy of <a href="http://www.nyc.gov/html/dcp/html/bytes/meta_dis_nyboroughwi.shtml" target="_blank">New York City Department of City Planning</a></p>
                    </div>
                    <div class="tab-pane fade" id="subway-lines-tab">
                        <p><a href="http://spatialityblog.com/2010/07/08/mta-gis-data-update/#datalinks" target="_blank">MTA Subway data</a> courtesy of the <a href="http://www.urbanresearch.org/about/cur-components/cuny-mapping-service" target="_blank">CUNY Mapping Service at the Center for Urban Research</a></p>
                    </div>
                    <div class="tab-pane fade" id="theaters-tab">
                        <p>Theater data courtesy of <a href="https://data.cityofnewyork.us/Recreation/Theaters/kdu2-865w" target="_blank">NYC Department of Information & Telecommunications (DoITT)</a></p>
                    </div>
                    <div class="tab-pane fade" id="museums-tab">
                        <p>Museum data courtesy of <a href="https://data.cityofnewyork.us/Recreation/Museums-and-Galleries/sat5-adpb" target="_blank">NYC Department of Information & Telecommunications (DoITT)</a></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="legendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Map Legend</h4>
            </div>
            <div class="modal-body">
                <p>Map Legend goes here...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editRideModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form id="contact-form">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">Username:</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="email">Password:</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Login</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="cityInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-primary" id="cityModalTitle"></h4>
            </div>
            <div class="modal-body" id="cityModalBody">
                <ul class="nav nav-tabs" id="cityModalTabs">
                    <li class="active"><a href="#cityModalInfoTab" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;Stadtinfo</a></li>
                    <li><a href="#cityModalRideTab" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;Nächste Tour</a></li>
                </ul>

                <div class="tab-content" id="cityModalTabsContent" style="padding-top: 10px;">
                    <div class="tab-pane fade active in" id="cityModalInfoTab">
                        <div class="jumbotron" id="cityModalTabInfoJumbotron">
                            <h2 id="cityModalTabInfoJumbotronTitle">Hello, world!</h2>
                        </div>

                        <h2 id="cityModalTabInfoTitle">Hello, world!</h2>
                        <p id="cityModalTabInfoDescription"></p>
                        <div id="cityModalTabInfoSocialMedia" class="btn-group"></div>
                    </div>

                    <div id="cityModalRideTab" class="tab-pane fade">
                        <div class="jumbotron" id="cityModalTabNextRideJumbotron">
                            <h2 id="cityModalTabNextRideJumbotronTitle" style="color: white; text-shadow: black 0 0 3px;">Hello, world!</h2>
                        </div>

                        <h2 id="cityModalTabNextRideTitle"></h2>
                        <p id="cityModalTabNextRideDescription"></p>

                        <div class="row">
                            <div class="col-md-12" id="cityModalTabNextRideLocation"><strong>Treffpunkt:</strong> <span></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="cityModalTabNextRideDate"><strong>Datum:</strong> <time></time></div>
                            <div class="col-md-6" id="cityModalTabNextRideTime"><strong>Uhrzeit:</strong> <time></time></strong></div>
                        </div>

                        <div id="cityModalTabNextRideSocialMedia" class="btn-group"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="attributionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    Developed by <a href='http://bryanmcbride.com'>bryanmcbride.com</a>
                </h4>
            </div>
            <div class="modal-body">
                <div id="attribution"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% javascripts '@CalderaCriticalmassCoreBundle/Resources/public/js/external/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/factories/*'
'@CalderaCriticalmassCoreBundle/Resources/public/js/entities/*'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/bootstrap.min.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.activearea.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/L.Control.Sidebar.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/external/leaflet.groupedlayercontrol.js'
'@CalderaCriticalmassDesktopBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
