{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}Suchergebnisse{% endblock %}

{% import 'Bootstrap/bootstrap_macros.html.twig' as bootstrap %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Deine Suchergebnisse
                </h2>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        Suche
                    </div>
                    <div class="card-body form-group">
                        <form action="{{ path('caldera_criticalmass_search_query') }}" method="get">
                            <label for="query-input">
                                Deine Suchanfrage
                            </label>
                            <input type="text" class="form-control" name="query" value="{{ query }}" id="query-input" placeholder="Deine Suchanfrage"/>

                            <button type="submit" class="btn btn-primary pull-right mt-1">
                                Finden
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% set tab_list = [
                { tab: 'cities', caption: '<i class="far fa-university"></i> Städte', active: true },
                { tab: 'rides', caption: '<i class="fa fa-bicycle"></i> Touren' },
            ] %}

            {% set ride_tab_content %}
                {% for cityResult in cityResults %}
                    {% include 'Search/includes/_city.html.twig' with { city: cityResult } %}
                {% endfor %}

                {% if cityResults|length == 0 %}
                    <div class="alert alert-info">
                        Zu deiner Suchanfrage wurden leider keine Städte gefunden.
                    </div>
                {% endif %}
            {% endset %}

            {% set city_tab_content %}
                {% for rideResult in rideResults %}
                    {% include 'Search/includes/_ride.html.twig' with { ride: rideResult } %}
                {% endfor %}

                {% if rideResults|length == 0 %}
                    <div class="alert alert-info">
                        Zu deiner Suchanfrage wurden leider keine Touren gefunden.
                    </div>
                {% endif %}
            {% endset %}

            {% set tab_content_list = [
                { id: 'cities', active: true, content: city_tab_content },
                { id: 'rides', content: ride_tab_content },
            ] %}

            <div class="col-12 col-md-9">
                {{ bootstrap.tabs(tab_list) }}

                {{ bootstrap.tab_panels(tab_content_list) }}
            </div>
        </div>
    </div>
{% endblock %}
