{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Timeline{% endblock %}
{% block content %}
    <div class="container">
        {% for post in posts %}
            {{ post.getMessage() }}
        {% endfor %}
        </div>
{% endblock %}