{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Timeline{% endblock %}
{% block content %}
    <div class="container">
        blablabla
        </div>
{% endblock %}