{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Timeline{% endblock %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_desktop_index') }}">criticalmass.in</a></li>
            <li class="active">Timeline</li>
        </ol>

        <h1>Schau was gerade passiert.</h1>

        {{ form(form) }}

        {% for post in posts %}
            {% include('CalderaCriticalmassTimelineBundle:Common:post.html.twig') with { 'post' :  post } %}
        {% endfor %}
        </div>
{% endblock %}