<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} — criticalmass.in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    {% stylesheets
    '@CalderaCriticalmassCoreBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassTimelineBundle/Resources/public/css/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/social/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/halflings/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/glyphicons/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

    {% block additionalHeaderElements %}{% endblock %}
</head>

<body class="standardBody">
    {% include('CalderaCriticalmassDesktopBundle:Common:Navigation.html.twig') with { 'fullscreenMap': 'false' } %}

{% block content %}{% endblock %}

    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">Seit 2011 im Sattel. <a href="{{ path('caldera_criticalmass_content_display', { slug: 'impress' }) }}">Impressum</a>. criticalmass.in by Caldera.</p>
        </div>
    </footer>

{% block additionalFooterElements %}{% endblock %}
    
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.www.criticalmass.in"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.caldera.cc/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 2]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="http://piwik.caldera.cc/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

<script>
    $('ul.nav-tabs li a').on('click', function()
    {
        var title = $(this).html().match(/&nbsp;(.*)/);
        _paq.push(['trackEvent', 'tabClick', title]);
    });
</script>
</body>
</html>
