{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Fotogalerie{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>
    <li class="active">
        Fotogalerie
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Fotogalerie
                </h1>
            </div>
        </div>

        {% set cityString = '' %}
        {% for city in cities %}
            {% set cityString = cityString ~ '<a href="' ~ object_path(city) ~ '">' ~ city.city ~ '</a>' %}

            {% if loop.revindex0 > 1 %}
                {% set cityString = cityString ~ ', ' %}
            {% endif %}

            {% if loop.revindex0 == 1 %}
                {% set cityString = cityString ~ ' und ' %}
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Neugierig geworden? Hier siehst du ein paar zufällig ausgewählte Fotos von früheren
                    Critical-Mass-Touren aus {{ cityString|raw }}. Viel Spaß beim Herumblättern!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="photo-list">
                {% for photo in photos %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="photo-thumb margin-bottom-medium text-center">
                            <a href="{{ object_path(photo) }}">
                                <img src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('gallery_photo_thumb') }}"/>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
