{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Fotos ausrichten{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: ride.city.title, url: object_path(ride.city) },
            { label: ride.title, url: object_path(ride) },
            { label: 'Fotos verwalten', url: object_path(ride, 'caldera_criticalmass_photo_manage') },
            { label: 'Fotos ausrichten' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Fotos ausrichten</h1>
            </div>
        </div>

        {% if track %}
            <div class="row mt-3">
                <div class="col-12">
                    <div id="map" style="height: 350px;"></div>
                </div>
            </div>
        {% else %}
            <div class="row mt-3">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Kein Track gefunden!</strong>
                        Bitte lade erst einen GPX-Track deiner Tour hoch, um anschließend Fotos zu verorten.
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
