{% extends 'Template/StandardTemplate.html.twig' %}
{% import 'Template/Macros/breadcrumb.html.twig' as breadcrumb %}

{% block title %}Fotos ausrichten{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb.item(ride.city.title, object_path(ride.city)) }}
    {{ breadcrumb.item(ride.title, object_path(ride)) }}
    {{ breadcrumb.item('Fotos verwalten', object_path(ride, 'caldera_criticalmass_photo_manage')) }}
    {{ breadcrumb.active('Fotos ausrichten') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Fotos ausrichten</h1>
            </div>
        </div>

        {% if track %}
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;">
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            <strong>Kein Track gefunden!</strong> Bitte lade erst einen GPX-Track deiner Tour hoch, um
                            anschließend Fotos zu verorten.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
