<!DOCTYPE html>
<html lang="de">
<head>
    <title>criticalmass.in</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <link rel="stylesheet" href="/themes/jquery.mobile.icons.min.css" />
    <script>
        var isPageLoaded = false;
        var citySlug = '{{ citySlug }}';

        function getCurrentPageId() {
            return $(":mobile-pagecontainer").pagecontainer( "getActivePage" )[0].id;
        }

        window.onload = function()
        {
            function loadingCompletedCallback()
            {
                if (CityFactory.hasCities() && RideFactory.hasRides() && !isPageLoaded)
                {
                    isPageLoaded = true;

                    var mapPage = new MapPage('mapPage');
                    var startPage = new StartPage('startPage');
                    var loginPage = new LoginPage('loginPage');
                    var globalPage = new GlobalPage();

                    var positionSender = new PositionSender(mapPage);
                }
            }

            $(function() { $( "body>[data-role='panel']" ).panel().enhanceWithin(); });

            CityFactory.refreshAllStoredCities(loadingCompletedCallback);
            RideFactory.refreshAllStoredRides(loadingCompletedCallback);
        };

    </script>
    {% stylesheets '@CalderaCriticalmassMobileBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body id="webapp">
<!-- Menü -->
<section data-role="panel" id="mainpanel" data-position="left" data-qa-ta="mainpanel">
    <ul data-role="listview" data-theme="a">
        <li data-icon="delete"><a href="#" data-rel="close" data-qa-ta="mobile-mainpanel-close">Menü schließen</a></li>
            <li><a href="#startPage" data-qa-ta="mobile-mainpanel-startpage">Startseite</a></li>
            <li data-role="list-divider" data-qa-ta="mainpanel-city-title" class="city-full-title"></li>
            <li><a href="#mapPage" data-ajax="false" data-qa-ta="mobile-mainpanel-mapPage">Karte</a></li>
        <li data-role="list-divider" data-qa-ta="mainpanel-city-title">criticalmass.in</li>
            <li><a id="profileButton" class="show-loggedin-only" style="display: none;" href="#profilePage" data-qa-ta="mobile-mainpanel-profile">Dein Profil</a></li>
            <li><a id="logoutButton" class="show-loggedin-only" style="display: none;" href="#" data-ajax="false" data-qa-ta="mobile-mainpanel-logout">Logout</a></li>
            <li><a id="registerButton" class="show-loggedout-only" style="display: none;" href="#registerPage" data-qa-ta="mobile-mainpanel-register">Registrierung</a></li>
            <li><a id="loginButton" class="show-loggedout-only" style="display: none;" href="#loginPage" data-qa-ta="mobile-mainpanel-login">Login</a></li>
        <li><a href="#impressPage" data-qa-ta="mobile-mainpanel-impress">Impressum</a></li>
        <li><a href="#privacyPage" data-qa-ta="mobile-mainpanel-privacy">Datenschutz</a></li>
    </ul>
</section>

<!-- Karte -->
<section data-role="page" id="mapPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1 class="city-full-title"></h1>
    </header>
    <section data-role="content" id="mapPageContent">

        <section id="section-force-map-loading"><h2>Hoppla :(</h2>
            <p>Aus technischen Gründen konnte die Übersichtskarte leider nicht geladen werden. Bitte versuche es noch einmal:</p>
            <button id="button-force-map-loading" data-icon="star">Karte laden</button>
        </section>

        <div id="map"></div>

        <div id="map-control-panel" data-role="collapsible-set">
            <div data-role="collapsible" class="show-loggedin-only" style="display: none;">
                <h3 data-qa-ta="mobile-map-gpssettings">GPS-Einstellungen</h3>
                <label for="flip-auto-center">automatisch zentrieren:</label>
                <select name="flip-auto-center" id="flip-auto-center" data-role="slider" data-qa-ta="mobile-map-centring">
                    <option value="off">Aus</option>
                    <option value="on" selected="selected">An</option>
                </select>

                <label for="flip-gps-sender">GPS-Übertragung:</label>
                <select name="flip-gps-sender" id="flip-gps-sender" data-role="slider" data-qa-ta="mobile-map-gpssender">
                    <option value="off">Aus</option>
                    <option value="on" selected="selected">An</option>
                </select>
            </div>

            <div data-role="collapsible">
                <h3 data-qa-ta="mobile-map-statistic">Statistik</h3>
                <p class="lastmodified">zuletzt aktualisiert: <span id="datetime" data-qa-ta="mobile-map-datetime">nie</span></p>
                <p class="usercounter">Einberechnete Benutzer: <span id="usercounter" data-qa-ta="mobile-map-usercounter">0</span></p>
                <p class="averagespeed">Durchschnittsgeschwindigkeit: <span id="averagespeed" data-qa-ta="mobile-map-averagespeed">0</span> Kilometer pro Stunde</p>
                <p class="gpsquality">GPS-Qualität: <span id="gpsquality" data-qa-ta="mobile-map-gpsquality">unbekannt</span></p>
            </div>
        </div>
    </section>
</section>

<!-- Startseite -->
<section data-role="page" id="startPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Critical Mass</h1>
    </header>
    <section data-role="content" id="startPageContent">
        <h2>„Hej! We are traffic!“</h2>
        <p>Überall auf der Welt treffen sich tausende Radfahrer an einem ganz besonderen Tag im Monat zu einer gemeinsamen Radtour. Wähle deine Stadt und sei dabei!</p>

        <ul id="cityList" data-role="listview">

        </ul>

    </section>
</section>

<!-- GPS-Page -->
<section data-role="page" id="gpsPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Critical Mass</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="gpsPageContent">

        <p>Jo!</p>

    </section>
</section>

<!-- Impressum -->
<section data-role="page" id="impressPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Impressum</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="impressPageContent">
        <h2>Impressum</h2>

        <p>Angaben nach § 5 TMG:</p>
        <p>Malte Hübner<br />Fritz-Reuter-Straße 57<br />24782 Büdelsdorf</p>
        <p><a href="mailto:malte@criticalmass.in">malte@criticalmass.in</a><br />0700 11 864 833</p>
    </section>
</section>

<!-- Datenschutz -->
<section data-role="page" id="privacyPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Datenschutz</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="privacyPageContent">
        <h2>Datenschutz</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</section>

<!-- Login -->
<section data-role="page" id="loginPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Login</h1>
    </header>
    <section data-role="content" id="loginPageContent">
        <form action="" method="post" id="form-login" class="show-loggedout-only" style="display: none;">
            <label for="username">Dein Benutzername:</label>
            <input type="text" id="username" name="_username" required="required" />

            <label for="password">Dein Kennwort:</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Eingeloggt bleiben?</label>

            <input type="submit" id="_submit" name="_submit" value="Aufsatteln!" />
        </form>

        <section class="show-loggedin-only"><h2>Stop!</h2><p>Du bist doch schon eingeloggt.</p></div>
    </section>
</section>

<!-- Registrierung -->
<section data-role="page" id="registerPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Registrierung</h1>
    </header>
    <section data-role="content" id="registerPageContent">
        <h2>Registrierung</h2>
        <p>Aus technischen Gründen ist momentan leider keine Registrierung über diese App möglich. Bitte <s>rufe die Vollversion von criticalmass.in auf,</s> warte noch ein paar Tage, bis die Desktop-Version von criticalmass.in fertig ist, um ein Benutzerkonto zu erstellen.</p>
    </section>
</section>

<!-- Profil -->
<section data-role="page" id="profilePage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Dein Benutzerprofil</h1>
    </header>
    <section data-role="content" id="profilePageContent">
        <h2>Dein Benutzerprofil</h2>
        <p>Hier kommen bei Gelegenheit noch kluge Dinge rein.</p>
    </section>
</section>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.www.criticalmass.in"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.caldera.cc/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="http://piwik.caldera.cc/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
{% javascripts '@CalderaCriticalmassMobileBundle/Resources/public/js/*' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
