<!DOCTYPE html>
<html lang="de">
<head>
    <title>criticalmass.in</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script>
        var isPageLoaded = false;
        var citySlug = '{{ citySlug }}';



        window.onload = function()
        {
            function loadingCompletedCallback()
            {
                if (CityFactory.hasCities() && RideFactory.hasRides() && !isPageLoaded)
                {
                    PageDispatcher.registerPageSwitchCallback();
                    PageDispatcher.handleCurrentPage();

                    isPageLoaded = true;

                    var globalPage = new GlobalPage();

                    globalPage.initPage();
                }
            }

            $(function() { $( "body>[data-role='panel']" ).panel().enhanceWithin(); });

            CityFactory.refreshAllStoredCities(loadingCompletedCallback);
            RideFactory.refreshAllStoredRides(loadingCompletedCallback);
        };

    </script>
    {% stylesheets '@CalderaCriticalmassMobileBundle/Resources/public/css/*.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {% javascripts '@CalderaCriticalmassMobileBundle/Resources/public/js/external/*'
                   '@CalderaCriticalmassMobileBundle/Resources/public/js/factories/*'
                   '@CalderaCriticalmassMobileBundle/Resources/public/js/pages/*'
                   '@CalderaCriticalmassMobileBundle/Resources/public/js/entities/*'
                   '@CalderaCriticalmassMobileBundle/Resources/public/js/map/*'
                   '@CalderaCriticalmassMobileBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body id="webapp">
<!-- Menü -->
<section data-role="panel" id="mainpanel" data-position="left" data-qa-ta="mainpanel">
    <ul data-role="listview" data-theme="a">
        <li data-icon="delete"><a href="#" data-rel="close" data-qa-ta="mobile-mainpanel-close">Menü schließen</a></li>
            <li><a href="#startPage" data-qa-ta="mobile-mainpanel-startpage">Startseite</a></li>
            <li data-role="list-divider" data-qa-ta="mainpanel-city-title" class="city-full-title"></li>
            <li><a href="#mapPage" data-qa-ta="mobile-mainpanel-mapPage">Karte</a></li>
            <li><a href="#commentPage" data-qa-ta="mobile-mainpanel-commentPage">Kommentare</a></li>
        <li data-role="list-divider" data-qa-ta="mainpanel-city-title">criticalmass.in</li>
            <li><a id="tokenButton" class="show-loggedin-only" href="#tokenPage" data-qa-ta="mobile-mainpanel-token">Ping</a></li>
            <li><a id="profileButton" class="show-loggedin-only" style="display: none;" href="#colorPage" data-qa-ta="mobile-mainpanel-color">Farbe wählen</a></li>
            <li><a id="logoutButton" class="show-loggedin-only" style="display: none;" href="#" data-ajax="false" data-qa-ta="mobile-mainpanel-logout">Logout</a></li>
            <li><a id="registerButton" class="show-loggedout-only" style="display: none;" href="#registerPage" data-qa-ta="mobile-mainpanel-register">Registrierung</a></li>
            <li><a id="loginButton" class="show-loggedout-only" style="display: none;" href="#loginPage" data-qa-ta="mobile-mainpanel-login">Login</a></li>
            <li><a href="#impressPage" data-qa-ta="mobile-mainpanel-impress">Impressum</a></li>
            <li><a href="#privacyPage" data-qa-ta="mobile-mainpanel-privacy">Datenschutz</a></li>
    </ul>
</section>

<!-- Karte -->
<section data-role="page" id="mapPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1 class="city-short-title"></h1>
    </header>
    <section data-role="content" id="mapPageContent">
        <div id="map"></div>

        <div id="map-control-panel" data-role="collapsible-set">
            <div data-role="collapsible" id="mapSettings">
                <h3 data-qa-ta="mobile-map-settings">Einstellungen</h3>
                <label for="flip-gps-sender">GPS-Übertragung:</label>
                <select name="flip-gps-sender" id="flip-gps-sender" data-role="slider" data-qa-ta="mobile-map-gpssender">
                    <option value="off">Aus</option>
                    <option value="on" selected="selected">An</option>
                </select>
                <label for="flip-show-ownPosition">Eigene Position anzeigen:</label>
                <select name="flip-show-ownPosition" id="flip-show-ownPosition" data-role="slider" data-qa-ta="mobile-map-ownPosition">
                    <option value="off">Aus</option>
                    <option value="on" selected="selected">An</option>
                </select>
            </div>
            <div data-role="collapsible" id="quickLinks">
                <h3 data-qa-ta="mobile-map-statistic">Schnellzugriff</h3>

                <button id="quicklinkOwnPosition" disabled="true">Zur eigenen Position</button>
                <button id="quicklinkLocation">Zum Treffpunkt</button>
                <button id="quicklinkLatestPosition" disabled="true">Zur neusten Position</button>
            </div>
        </div>
    </section>
</section>

<!-- Startseite -->
<section data-role="page" id="startPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Critical Mass</h1>
    </header>
    <section data-role="content" id="startPageContent">
        <h2>„Hej! We are traffic!“</h2>
        <p>Überall auf der Welt treffen sich tausende Radfahrer an einem ganz besonderen Tag im Monat zu einer gemeinsamen Radtour. Wähle deine Stadt und sei dabei!</p>

        <ul id="cityList" data-role="listview">

        </ul>

    </section>
</section>

<!-- Farben-Seite -->
<section data-role="page" id="colorPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Deine Lieblingsfarbe</h1>
    </header>
    <section data-role="content" id="colorPageContent">
        <h2>Wähle deine Farbe</h2>

        <p>Konfiguriere hier die Farbe, mit der deine Position für andere Teilnehmer auf der Karte angezeigt wird: <div id="colorExample"></div></p>

        <input type="range" name="slider-usercolor-red" id="slider-usercolor-red" value="0" min="0" max="255" data-qa-ta="mobile-usercolor-red"/>
        <input type="range" name="slider-usercolor-green" id="slider-usercolor-green" value="0" min="0" max="255" data-qa-ta="mobile-usercolor-green"/>
        <input type="range" name="slider-usercolor-blue" id="slider-usercolor-blue" value="0" min="0" max="255" data-qa-ta="mobile-usercolor-blue"/>

        <button id="randomColorButton">Ich kann mich nicht entscheiden!</button>
    </section>
</section>

<!-- Kommentar-Seite -->
<section data-role="page" id="commentPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Kommentare</h1>
    </header>
    <section data-role="content" id="commentPageContent">
        <form id="writeCommentForm" style="display: none;" class="show-loggedin-only">
            <label for="commentText">Schreib etwas:</label>
            <textarea name="commentText" id="commentText"></textarea>
            <button id="submitCommentButton">Abschicken</button>
        </form>

        <ul id="commentList" data-role="listview">

        </ul>
    </section>
</section>

<!-- Impressum -->
<section data-role="page" id="impressPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Impressum</h1>
    </header>
    <section class="menu"></section>
    <section data-role="content" id="impressPageContent">
        <h2>Impressum</h2>

        <p>Angaben nach § 5 TMG:</p>
        <p>Malte Hübner<br />Fachhochschule Wedel<br />Feldstraße 143<br />22880 Wedel</p>
        <p><a href="mailto:malte@criticalmass.in">malte@criticalmass.in</a><br />0700 11 864 833</p>
    </section>
</section>

<!-- Login -->
<section data-role="page" id="loginPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Login</h1>
    </header>
    <section data-role="content" id="loginPageContent">
        <span id="loginErrorMessage" class="errorMessage"></span>
        <form action="" method="post" id="form-login" class="show-loggedout-only" style="display: none;">
            <label for="username">Dein Benutzername:</label>
            <input type="text" id="loginUsernameInput" name="_username" required="required" />

            <label for="password">Dein Kennwort:</label>
            <input type="password" id="loginPasswordInput" name="_password" required="required" />

            <button id="loginSubmitButton" name="_submit">Aufsatteln!</button>
        </form>

        <section class="show-loggedin-only"><h2>Stop!</h2><p>Du bist doch schon eingeloggt.</p></section>
    </section>
</section>

<!-- Login erfolgreich -->
<section data-role="page" id="loginSuccessPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Login</h1>
    </header>
    <section data-role="content" id="loginSuccessPageContent">
        <h2>Hui! Willkommen zurück!</h2>

        <p>Du kannst jetzt <a href="#startPage">deine Stadt auswählen</a>, <a href="#mapPage">die Karte betrachten</a> oder <a href="#colorPage">deine Farbe ändern</a>.</p>
    </section>
</section>

<!-- Informationen -->
<section data-role="page" id="cityPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1 class="city-short-title"></h1>
    </header>
    <section data-role="content" id="cityPageContent">
        <h1 class="city-full-title"></h1>

        <section id="cityFullDescription"></section>

        <h2>Mehr dazu im Social Web:</h2>
        <section id="citySocialMediaLinks" class="ui-grid-b">
            <div class="ui-block-a"><button type="button" data-theme="a">facebook</button></div>
            <div class="ui-block-b"><button type="button" data-theme="a">twitter</button></div>
            <div class="ui-block-c"><button type="button" data-theme="a">WWW</button></div>
        </section>

        <h2>Inhalte auf criticalmass.in:</h2>
        <section class="ui-grid-a">
            <div class="ui-block-a"><button type="button" data-theme="a" id="cityRideButton">37 Touren</button></div>
            <div class="ui-block-b"><button type="button" data-theme="a" id="cityHeatmapButton">43 Heatmaps</button></div>
        </section>
    </section>
</section>

<!-- Registrierung -->
<section data-role="page" id="registerPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Registrierung</h1>
    </header>
    <section data-role="content" id="registerPageContent">
        <h2>Registrierung</h2>

        <p>Hier bekommst du dein Benutzerkonto, mit dem du während der Fahrt deine Positionsdaten und Kommentare senden kannst (und in naher Zukunft noch weitere Vorteile hast, aber daran arbeiten wir noch).</p>

        <form action="" method="post" id="form-register" class="show-loggedout-only" style="display: none;">
            <label for="username">Dein Benutzername:</label>
            <span class="errorMessage" id="registrationUsernameError"></span>
            <input type="text" id="username" name="_username" required="required" value="" />

            <label for="password">Dein Kennwort:</label>
            <span class="errorMessage" id="registrationPasswordError"></span>
            <input type="password" id="password" name="_password" required="required" value="" />

            <label for="email">Deine E-Mail-Adresse:</label>
            <span class="errorMessage" id="registrationAddressError"></span>
            <input type="email" id="email" name="_email" required="required" value="" />

            <button id="submitRegistrationButton" name="_submit">Auf geht’s</button>
        </form>
    </section>
</section>

<!-- Registrierung erfolgreich -->
<section data-role="page" id="registerSuccessPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Registrierung</h1>
    </header>
    <section data-role="content" id="registerSuccessPageContent">
        <h2>Registrierung</h2>

        <p>Prima, herzlich willkommen! Du kannst dich jetzt auf der <a href="#loginPage">Login-Seite</a> anmelden.</p>
    </section>
</section>

<!-- TokenPage -->
<section data-role="page" id="tokenPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Ping</h1>
    </header>
    <section data-role="content" id="tokenPageContent">
        <h2>Unsere App: Ping</h2>

        <p>Eine Web-App läuft zwar ohne Installation und superschnell im Browser, hat aber einen großen Nachteil: Sie wird beendet, sobald der Browser geschlossen wird oder das Smartphone in den Ruhezustand wechselt. Um regelmäßig während einer Critical Mass Positionsdaten zu senden, müsste das Smartphone regelmäßig aufgeweckt werden. Unsere Ping-App gibt’s hoffentlich bald für iOS und sammelt auch im Hintergrund deine Positionsdaten. Bitte lade dir Ping herunter und kopiere den folgenden Code in die App:</p>

        <label for="pingToken">Dein Token:</label>
        <input type="text" name="pingToken" id="pingToken" readonly="true" />
    </section>
</section>

<!-- Datensicherheit -->
<section data-role="page" id="privacyPage">
    <header data-role="header">
        <a class="openmenubutton" href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-qa-ta="mobile-mainpanel-open">Menü</a>
        <h1>Datensicherheit</h1>
    </header>
    <section data-role="content" id="privacyPageContent">
        <h2>Datensicherheit</h2>

        <p>Positionsdaten sind recht kritische Daten, darum behandeln wir sie äußerst vorsichtig. Wenn du die Übermittlung deines Aufenthaltsortes einschaltest, werden deine Positionsdaten über eine gesicherte Verbindung zusammen mit deinem Benutzernamen an unseren Server übertragen. Von dort aus können andere Teilnehmer deinen Aufenthaltsort auf einer Karte eingezeichnet abrufen. Nach dem Ende einer Critical Mass werden deine Positionsdaten anonymisiert und mit den Daten anderer Benutzer verrrechnet, um eine Übersicht der gefahrenen Route zu erhalten.</p>
        <h2>Analysedienste</h2>
        <p>Unsere Website verwendet Piwik, dabei handelt es sich um einen sogenannten Webanalysedienst. Piwik verwendet sog. “Cookies”, das sind Textdateien, die auf Ihrem Computer gespeichert werden und die unsererseits eine Analyse der Benutzung der Webseite ermöglichen. Zu diesem Zweck werden die durch den Cookie erzeugten Nutzungsinformationen (einschließlich Ihrer gekürzten IP-Adresse) an unseren Server übertragen und zu Nutzungsanalysezwecken gespeichert, was der Webseitenoptimierung unsererseits dient. Ihre IP-Adresse wird bei diesem Vorgang umge­hend anony­mi­siert, so dass Sie als Nutzer für uns anonym bleiben. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden nicht an Dritte weitergegeben. Sie können die Verwendung der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern, es kann jedoch sein, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können.</p>
        <p>Wenn Sie mit der Spei­che­rung und Aus­wer­tung die­ser Daten aus Ihrem Besuch nicht ein­ver­stan­den sind, dann kön­nen Sie der Spei­che­rung und Nut­zung nachfolgend per Maus­klick jederzeit wider­spre­chen. In diesem Fall wird in Ihrem Browser ein sog. Opt-Out-Cookie abgelegt, was zur Folge hat, dass Piwik kei­ner­lei Sit­zungs­da­ten erhebt. Achtung: Wenn Sie Ihre Cookies löschen, so hat dies zur Folge, dass auch das Opt-Out-Cookie gelöscht wird und ggf. von Ihnen erneut aktiviert werden muss.</p>

        <p>(Hinweis übernommen mit freundlicher Genehmigung von <a href="http://www.datenschutzbeauftragter-info.de/fachbeitraege/">www.datenschutzbeauftragter-info.de</a>)</p>
        <h3>Widerspruch</h3>

        <iframe style="border: 0; height: 200px; width: 600px;" src="https://piwik.caldera.cc/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>
    </section>
</section>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.www.criticalmass.in"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.caldera.cc/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="http://piwik.caldera.cc/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
