imports:
  - { resource: 'services/*.yaml' }

parameters:
  locale: de
  secret: '%env(APP_SECRET)%'
  kernel.secret: '%env(APP_SECRET)%'
  database_driver: pdo_mysql
  database_host: 127.0.0.1
  database_port: null
  database_name: '%env(DATABASE_NAME)%'
  database_user: '%env(DATABASE_USER)%'
  database_password: '%env(DATABASE_PASSWORD)%'
  track.gap_width: 10
  strava.client_id: '%env(STRAVA_CLIENT_ID)%'
  strava.secret: '%env(STRAVA_SECRET)%'
  facebook.app_id: '%env(FACEBOOK_APP_ID)%'
  facebook.app_secret: '%env(FACEBOOK_APP_SECRET)%'
  facebook.default_token: '%env(FACEBOOK_DEFAULT_TOKEN)%'
  timeline.ttl: 60
  notification.mail.sender_address: malte@criticalmass.in
  request_listener.http_port: 80
  request_listener.https_port: 443
  upload_destination.track: '%kernel.project_dir%/public/tracks'
  upload_destination.photo: '%kernel.project_dir%/public/photos'
  upload_destination.city_photo: '%kernel.project_dir%/public/cities'
  upload_destination.ride_photo: '%kernel.project_dir%/public/rides'
  upload_destination.frontpage_teaser: '%kernel.project_dir%/public/teaser'
  upload_destination.user_photo: '%kernel.project_dir%/public/users'
  assets_version: '%env(ASSETS_VERSION)%'
  friendlycaptcha_api_key: '%env(FRIENDLYCAPTCHA_API_KEY)%'
  friendlycaptcha_site_key: '%env(FRIENDLYCAPTCHA_SITE_KEY)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
    bind:
      $rootDirectory: '%kernel.project_dir%'
      $webRootDir: '%kernel.project_dir%/../public'
      $gapWidth: '%track.gap_width%'
      $facebookAppId: '%facebook.app_id%'
      $facebookAppSecret: '%facebook.app_secret%'
      $facebookDefaultToken: '%facebook.default_token%'
      $uploadDestinationPhoto: '%upload_destination.photo%'
      $uploadDestinationTrack: '%upload_destination.track%'
      $uploadDestinationUserPhoto: '%upload_destination.user_photo%'
      $stravaClientId: '%strava.client_id%'
      $stravaSecret: '%strava.secret%'
      $cachedTimelineTtl: '%timeline.ttl%'
      $projectDirectory: '%kernel.project_dir%'
      $redisUrl: '%env(REDIS_URL)%'
      $criticalmassRideGeneratorUrl: '%env(CRITICALMASS_RIDE_GENERATOR_URL)%'
      $cachePrefix: 'media/cache'

  App\:
    resource: '../src/*'
    exclude: '../src/{DQL,Entity,Manager,Menu,Migrations,Model,Tests,UserProvider,Criticalmass/UploadValidator/UploadValidatorException}'

  App\Controller\:
    resource: '../src/Controller'
    public: true
    tags: ['controller.service_arguments']
