parameters:
    locale: de
    secret: '%env(APP_SECRET)%'
    kernel.secret: '%env(APP_SECRET)%'
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: '%env(DATABASE_NAME)%'
    database_user: '%env(DATABASE_USER)%'
    database_password: '%env(DATABASE_PASSWORD)%'
    track.gap_width: 10
    strava.client_id: '%env(STRAVA_CLIENT_ID)%'
    strava.secret: '%env(STRAVA_SECRET)%'
    facebook.app_id: '%env(FACEBOOK_APP_ID)%'
    facebook.app_secret: '%env(FACEBOOK_APP_SECRET)%'
    twitter.client_id: '%env(TWITTER_CLIENT_ID)%'
    twitter.token: '%env(TWITTER_TOKEN)%'
    timeline.ttl: 60
    notification.mail.sender_address: malte@criticalmass.in
    request_listener.http_port: 80
    request_listener.https_port: 443
    upload_destination.track: '%kernel.project_dir%/public/tracks'
    upload_destination.photo: '%kernel.project_dir%/public/photos'
    upload_destination.city_photo: '%kernel.project_dir%/public/cities'
    upload_destination.ride_photo: '%kernel.project_dir%/public/rides'
    upload_destination.frontpage_teaser: '%kernel.project_dir%/public/teaser'
    upload_destination.user_photo: '%kernel.project_dir%/public/users'
    staticmaps.host: '%env(STATICMAPS_HOST)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $rootDirectory: '%kernel.project_dir%'
            $webRootDir: '%kernel.project_dir%/../public'
            $staticmapsHost: '%staticmaps.host%'
            $gapWidth: '%track.gap_width%'
            $facebookAppId: '%facebook.app_id%'
            $facebookAppSecret: '%facebook.app_secret%'
            $twitterClientId: '%twitter.client_id%'
            $twitterSecret: '%twitter.secret%'
            $uploadDestinationPhoto: '%upload_destination.photo%'
            $uploadDestinationTrack: '%upload_destination.track%'
            $uploadDestinationUserPhoto: '%upload_destination.user_photo%'
            $stravaClientId: '%strava.client_id%'
            $stravaSecret: '%strava.secret%'
            $cachedTimelineTtl: '%timeline.ttl%'
            $projectDirectory: '%kernel.project_dir%'
            $redisUrl: '%env(REDIS_URL)%'
            $criticalmassRideGeneratorUrl: '%env(CRITICALMASS_RIDE_GENERATOR_URL)%'
            $cachePrefix: 'media/cache'

    App\:
        resource: '../src/*'
        exclude: '../src/{DQL,Entity,Manager,Menu,Migrations,Model,Repository,Tests,UserProvider,Criticalmass/UploadValidator/UploadValidatorException}'

    App\Controller\:
        resource: '../src/Controller'
        public: true
        tags: ['controller.service_arguments']

    App\Form\:
      resource: '%kernel.project_dir%/src/App/Form/*'
      autowire: true
      autoconfigure: true
      public: true
      tags: ['form.type']

    Symfony\Component\Routing\RouteCollection: ~

    Sonata\SeoBundle\Seo\SeoPageInterface:
        alias: sonata.seo.page.default

    App\Criticalmass\Image\ExifWrapper\ExifWrapper:
        arguments:
            $flysystemFilesystem: '@oneup_flysystem.flysystem_photo_photo_filesystem'

    App\Criticalmass\Image\PhotoManipulator\Storage\PhotoStorage:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_photo_photo_filesystem'

    App\Criticalmass\Image\PhotoUploader\PhotoUploader:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_photo_photo_filesystem'

    App\Criticalmass\Geo\GpxReader\GpxReader:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_track_track_filesystem'

    App\Criticalmass\Geo\GpxReader\TrackReader:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_track_track_filesystem'

    App\Criticalmass\Geo\GpxWriter\GpxWriter:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_track_track_filesystem'

    App\Criticalmass\ProfilePhotoGenerator\ProfilePhotoGenerator:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_user_photo_filesystem'

    App\Criticalmass\UploadableDataHandler\UploadableDataHandler:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_photo_photo_filesystem'

    App\Criticalmass\UploadValidator\TrackValidator:
        arguments:
            $filesystem: '@oneup_flysystem.flysystem_track_track_filesystem'

    App\Criticalmass\Geocoding\ReverseGeocoderInterface:
        alias: App\Criticalmass\Geocoding\CachedReverseGeocoder

    App\Criticalmass\Website\Obfuscator\ObfuscatorInterface:
        alias: App\Criticalmass\Website\Obfuscator\CaseAwareObfuscator

    App\Criticalmass\Timeline\TimelineInterface:
        alias: App\Criticalmass\Timeline\CachedTimeline
        #alias: App\Criticalmass\Timeline\Timeline

    App\Criticalmass\Geo\Loop\LoopInterface:
        alias: App\Criticalmass\Geo\Loop\TrackLoop

    App\Request\ParamConverter\RideParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: ride_converter }

    App\Request\ParamConverter\RegionParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: region_converter }

    App\Request\ParamConverter\CityParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: city_converter }

    App\Request\ParamConverter\CityCycleParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: citycycle_converter }

    App\Request\ParamConverter\LocationParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: location_converter }

    App\Request\ParamConverter\BoardParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: board_converter }

    App\Request\ParamConverter\ThreadParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: thread_converter }

    App\Request\ParamConverter\ParticipationParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: participation_converter }

    App\Request\ParamConverter\PhotoParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: photo_converter }

    App\Request\ParamConverter\PromotionParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: promotion_converter }

    App\Request\ParamConverter\UserParamConverter:
        tags:
            - { name: request.param_converter, priority: 10, converter: user_converter }

    App\Request\ParamConverter\SocialNetworkProfileParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: socialnetworkprofile_converter }

    App\Request\ParamConverter\SocialNetworkFeedItemParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: socialnetworkfeeditem_converter }

    App\Request\ParamConverter\TrackParamConverter:
        tags:
            - { name: request.param_converter, priority: 0, converter: track_converter }

    App\Criticalmass\Imagine\DataLoader\RemoteStreamLoader:
        arguments: ['@liip_imagine']
        tags:
            - { name: liip_imagine.binary.loader, loader: App\Criticalmass\Imagine\DataLoader\RemoteStreamLoader }

    App\Criticalmass\Imagine\CacheResolver\RemoteCacheResolver:
        tags:
            - { name: liip_imagine.cache.resolver, resolver: App\Criticalmass\Imagine\CacheResolver\RemoteCacheResolver }

    App\Criticalmass\ViewStorage\Cache\RobustViewStorageCache:
        arguments:
            $producer: '@old_sound_rabbit_mq.criticalmass_view_producer'

    App\Criticalmass\ViewStorage\Cache\ViewStorageCache:
        arguments:
            $producer: '@old_sound_rabbit_mq.criticalmass_view_producer'

    App\Criticalmass\MassTrackImport\MassTrackImporter:
        arguments:
            $producer: '@old_sound_rabbit_mq.criticalmass_trackimportcandidate_producer'

    App\Criticalmass\UploadableDataHandler\UploadableDataHandlerInterface:
        alias: App\Criticalmass\UploadableDataHandler\UploadableDataHandler

    App\Criticalmass\ViewStorage\Cache\ViewStorageCacheInterface:
        alias: App\Criticalmass\ViewStorage\Cache\RobustViewStorageCache

    App\Criticalmass\ElasticCityFinder\ElasticCityFinder:
        arguments:
            $finder: '@fos_elastica.finder.criticalmass_city'

    App\Serializer\JMSSerializer\Handler\RelationHandler:
        tags:
            - { name: jms_serializer.handler, type: Relation, direction: serialization, format: json, method: serializeRelation}
            - { name: jms_serializer.handler, type: Relation, direction: deserialization, format: json, method: deserializeRelation}
            - { name: jms_serializer.handler, type: Relation<?>, direction: serialization, format: json, method: serializeRelation}
            - { name: jms_serializer.handler, type: Relation<?>, direction: deserialization, format: json, method: deserializeRelation}

    jms_serializer.naming_strategy:
        alias: jms_serializer.camel_case_naming_strategy

    App\Form\Type\RegistrationType:
        arguments:
            $class: '%fos_user.model.user.class%'

    App\Criticalmass\CriticalmassBlog\CriticalmassBlogInterface:
        alias: App\Criticalmass\CriticalmassBlog\CachedCriticalmassBlog

    App\Controller\Search\SearchController:
        arguments:
            $cityFinder: '@fos_elastica.finder.criticalmass_city'
            $rideFinder: '@fos_elastica.finder.criticalmass_ride'

    CalendR\Extension\Twig\CalendRExtension:
      tags:
        - { name: 'twig.extension' }

    CalendR\Calendar:
      calls:
        - method: 'setEventManager'
          arguments:
            - '@CalendR\Event\Manager'

    CalendR\Event\Manager:
      calls:
        - method: 'addProvider'
          arguments:
            - 'ride_provider'
            - '@App\Criticalmass\Calendar\EventProvider\RideProvider'

    caldera.criticalmass.image.filter.blur:
      class: App\Criticalmass\Image\Filter\BlurFilter
      tags:
        - { name: 'liip_imagine.filter.loader', loader: 'blur_filter' }

    caldera.criticalmass.image.filter.fast_blur:
      class: App\Criticalmass\Image\Filter\FastBlurFilter
      tags:
        - { name: 'liip_imagine.filter.loader', loader: 'fast_blur_filter' }
