{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Heatmap der Critical Mass {{ city.city }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li class="active">
        Heatmap
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="heatmap" style="height: 0.75vh;">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
