{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ promotion.title }}
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ dump(rideList) }}
            </div>
        </div>
    </div>
{% endblock %}
