{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Okay, rufe jetzt deine E-Mails ab
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Du solltest eine E-Mail bekommen haben. In dieser Mail klickst du bitte auf den enthaltenen Link und bekommst anschließend gleihc ein neues Kennwort zugeschickt, mit dem du dich dann einloggen kannst.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
