{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kennwort vergessen?{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Kennwort vergessen?
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {% if invalid_username is defined %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>
                                            Hoppla…
                                        </strong>
                                        Offenbar hast du einen ungültigen Benutzernamen eingegeben.
                                    </div>
                                {% endif %}
                                <label for="username" class="col-md-4 control-label">Dein Benutzername</label>
                                <div class="col-md-8">
                                    <input type="text" id="username" name="username" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success pull-right">
                                Kennwort zurücksetzen
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
