{% extends 'CalderaCriticalmassTipsBundle:Template:MasterTemplate.html.twig' %}

{% block title %}Fotos von Critical-Mass-Radfahrten{% endblock %}

{% block content %}
    <div class="container">
        <div class="row m-t-3">
            <div class="col-xs-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                {{ content.text|parse }}
            </div>
        </div>
    </div>
{% endblock %}