{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Dein Profilfoto{% endblock %}

{% block additionalHeaderElements %}
{% javascripts
'@CalderaCriticalmassSiteBundle/Resources/public/js/external/*'
'@CalderaCriticalmassSiteBundle/Resources/public/js/entity/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('caldera_criticalmass_frontpage') }}">criticalmass.in</a></li>
            <li><a href="{{ path('sonata_user_profile_show') }}">Dein Benutzerkonto</a></li>
            <li class="active">Dein Profilfoto</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
               <h1>Dein Profilfoto</h1>
                
                <p>Dein Profilfoto 端bernehmen wir von Gravatar, einem Internet-Dienst f端r Profilfotos, die mit deiner E-Mail-Adresse verkn端pft sind.</p>
                
                <p>Du kannst auf www.gravatar.com deine E-Mail-Adresse mit einem Profilfoto verkn端pfen und auf abertausenden Webseiten automatisch nutzen.</p>

                <p><a href="http://de.gravatar.com/" class="btn btn-default">Gravatar jetzt besuchen</a></p>
            </div>
        </div>
    </div>
{% endblock %}