<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
    <a class="navbar-brand" href="{{ path('caldera_criticalmass_frontpage') }}">
        criticalmass.in
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{ knp_menu_render('main_menu_bs4') }}
    </div>
</nav>
