<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        {{ include('Template/Navigation/_navbar_header.html.twig') }}
        {{ include('Template/Navigation/_navbar_content.html.twig') }}
    </div>
</nav>
