<nav id="navigation" class="cm-navbar navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-xl cm-navbar__container">
        {{ include('Template/Navigation/_navbar_header.html.twig') }}
        {{ include('Template/Navigation/_navbar_content.html.twig') }}
    </div>
</nav>
