<form class="d-flex ms-auto" role="search"
      action="{{ path('caldera_criticalmass_search_query') }}">
    <input id="search-input" type="text" class="form-control me-2"
           placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}"
           name="query"/>
    <button type="submit" class="btn btn-success">
        {% trans %}criticalmass.navigation.search.search{% endtrans %}
    </button>
</form>
