<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="cm-navbar__primary">
        {{ knp_menu_render('main_menu', {
            'childrenAttributes': { 'class': 'cm-navbar__menu navbar-nav' }
        }) }}
    </div>
</div>
