<form class="search-autocomplete" role="search"
      action="{{ path('caldera_criticalmass_search_query') }}"
      data-controller="search">
    <i class="far fa-search search-autocomplete__icon"></i>
    <input type="text"
           class="form-control search-autocomplete__input"
           placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}"
           name="query"
           data-search-target="input"
           autocomplete="off"
           aria-label="{% trans %}criticalmass.navigation.search.search{% endtrans %}"/>
    <div class="search-autocomplete__results" data-search-target="results"></div>
</form>
