<div class="container">
    <nav id="navigation" class="navbar navbar-default">
        {{ include('Template/Navigation/_navbar_header.html.twig') }}
        {{ include('Template/Navigation/_navbar_content.html.twig') }}
    </nav>
</div>
