<form class="d-flex" role="search"
      action="{{ path('caldera_criticalmass_search_query') }}">
    <input id="search-input"
           name="query"
           type="search"
           class="form-control me-2"
           placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}">

    <button type="submit" class="btn btn-success">
        {% trans %}criticalmass.navigation.search.search{% endtrans %}
    </button>
</form>
