{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Tracks importieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Importiere deine Tracks automatisch
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    Falls du deine Teilnahmen an Critical-Mass-Touren mit Strava aufzeichnest, kannst du ganz einfach und automatisiert deine Tracks importieren lassen. So funktioniert’s:
                </p>

                <ol>
                    <li>
                        Du gestattest criticalmass.in Zugriff auf dein Strava-Konto, um deine Tracks auslesen zu können. Keine Sorge, wir greifen selbstverständlich nicht auf andere Daten zu.
                    </li>

                    <li>
                        Du wählst ein Jahr aus, aus dem du automatisch deine Tracks importieren möchtest.
                    </li>

                    <li>
                        Anschließend laden wir alle deine Tracks aus diesem Jahr von Strava herunter und bewerten mit einem automatisierten Verfahren, ob die Tracks zeitlich und räumlich zu einer Critical Mass aus unserer Datenbank passen.
                    </li>

                    <li>
                        Du erhälst nach einiger Zeit eine Liste mit passenden Tracks, die für einen Import in Frage kommen und kannst diese Tracks mit einem Klick zu deinem Profil hinzufügen.
                    </li>
                </ol>

                <p>
                    Klicke auf „Connect with Strava“ um zu beginnen.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img src="{{ asset('/images/strava/connect.png') }}" alt="Connect with Strava"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
