{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Verbinde dich mit Strava{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Tracks importieren' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Verbinde dich mit Strava
                </h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="{{ authorizationUrl }}">
                        <img
                                src="{{ asset('/images/strava/connect.png') }}"
                                alt="Connect with Strava"
                                class="img-fluid"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
