<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Teilnehmer
        </h3>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt>
                            Teilnahmen
                        </dt>
                        <dd>
                            {{ ride.participationsNumberYes }}
                        </dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>
                            Unsicher
                        </dt>
                        <dd>
                            {{ ride.participationsNumberMaybe }}
                        </dd>
                    </dl>
                </div>

                <div class="col-md-4">
                    <dl>
                        <dt>
                            Absagen
                        </dt>
                        <dd>
                            {{ ride.participationsNumberNo }}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>