<div class="row hidden-xs hidden-sm">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Bald unterwegs
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for month in rideList %}
                        {% for day in month %}
                            <li>
                                <h5>
                                    {{ day.dateTime|format_datetime(pattern='eeee, dd. MMMM yyyy') }}
                                </h5>

                                <ul>
                                    {% for ride in day %}
                                    {% include 'Common/Ride/simple_city_time_list_item.html.twig' with { ride: ride } %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
