<div class="row hidden-xs hidden-sm">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="panel-title">
                    Bald unterwegs
                </h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for day in rideList %}
                        <li class="mt-2">
                            <strong>
                                {{ day.dateTime|format_date('eeee, dd. MMMM YYYY') }}
                            </strong>

                            <ul class="list-unstyled">
                                {% for ride in day %}
                                <li>
                                    <a href="{{ objectPath(ride) }}">
                                        {{ ride.city.city }}
                                    </a>
                                    <small>
                                        ({{ ride.dateTime|date('H:i', ride.city.timezone) }})
                                    </small>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
