<div class="row mt-3 hidden-xs hidden-sm">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">
                Bald unterwegs
            </h5>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for day in rideList %}
                        <li class="mt-2">
                            <strong>
                                {{ day.dateTime|format_date('eeee, dd. MMMM YYYY') }}
                            </strong>

                            <ul class="list-unstyled">
                                {% for ride in day %}
                                {% include 'Common/Ride/simple_city_time_list_item.html.twig' with { ride: ride } %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
