{% extends 'Template/StandardTemplate.html.twig' %}{% block title %}criticalmass.in{% endblock %}

{% block content %}
    {#
    <div class="navbar-wrapper">
        {% include('Template/Navigation/_navigation.html.twig') %}
    </div>

    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-12">
                {% include 'Frontpage/_carousel.html.twig' with { 'frontpageTeaserList': frontpageTeaserList } %}
            </div>
        </div>
    </div>
#}
    <div class="container mt-2">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mt-0">
                            Hej, wir fahren Fahrrad!
                        </h1>

                        <p class="lead">
                            In fast jeder großen Stadt treffen sich am letzten Freitag im Monat Radfahrer zu einer
                            gemeinsamen Ausfahrt. Sei mit dabei und schau dir an, was es alles zu entdecken gibt.
                        </p>

                        <p class="text-center">
                            <a href="{{ path('caldera_criticalmass_intro') }}" class="btn btn-primary">
                                <i class="far fa-bicycle"></i>
                                Erfahre mehr über criticalmass.in
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        {{ include('Timeline/timeline.html.twig') }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                {{ render(controller('App\\Controller\\FrontpageController::rideListAction')) }}
            </div>
        </div>
    </div>

    {% include('Template/Includes/_footer.html.twig') %}
{% endblock %}
