{% extends 'Template/MasterTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block masterContent %}
    <div class="navbar-wrapper">
        {% include('Template/Navigation/_navigation.html.twig') %}
    </div>

    <div class="container-fluid margin-bottom-medium">
        <div class="row">
            <div class="col-md-12">
                {% include 'Frontpage/_carousel.html.twig' with { 'frontpageTeaserList': frontpageTeaserList } %}
            </div>
        </div>
    </div>

    <div class="container margin-top-medium">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            Hej, wir fahren Fahrrad!
                        </h1>

                        <p class="lead">
                            In fast jeder großen Stadt treffen sich am letzten Freitag im Monat Radfahrer zu einer
                            gemeinsamen Ausfahrt. Sei mit dabei und schau dir an, was es alles zu entdecken gibt.
                        </p>

                        <p class="text-center">
                            <a href="{{ path('caldera_criticalmass_intro') }}" class="btn btn-primary">
                                <i class="fa fa-bicycle"></i>
                                Erfahre mehr über criticalmass.in
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row margin-top-medium">
                    <div class="col-md-12">
                        {{ timelineContent|raw }}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% if feature('bikeright') %}
                <div class="row">
                    <div class="col-md-12">
                        {{ include('Frontpage/_bikeright.html.twig') }}
                    </div>
                </div>
                {% endif %}

                {% if feature('frontpage_advertisment') %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Anzeige
                                </h3>
                            </div>
                            <div class="panel-body text-center" style="padding: 0;">
                                <!-- Revive Adserver Asynchronous JS Tag - Generated with Revive Adserver v4.1.3 -->
                                <ins data-revive-zoneid="20" data-revive-id="41009926173ca0d1c900a7dc0a6dd401"></ins>
                                <script async src="//adserver.caldera.cc/delivery/asyncjs.php"></script>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {{ render(controller('App\\Controller\\FrontpageController::rideListAction')) }}
            </div>
        </div>
    </div>

    {% include('Template/Includes/_adserver.html.twig') %}

    {% include('Template/Includes/_footer.html.twig') %}

    {% include('Template/Includes/_piwik.html.twig') %}
{% endblock %}
