{% extends 'Template/MasterTemplate.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block masterContent %}
    {% include('Template/Navigation/_full_navigation.html.twig') %}

    <div class="container-fluid margin-bottom-medium">
        <div class="row">
            <div class="col-md-12">
                {% include 'Frontpage/_carousel.html.twig' with { 'frontpageTeaserList': frontpageTeaserList } %}
            </div>
        </div>
    </div>

    <div class="container margin-top-medium">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margin-top">
                            Hej, wir fahren Fahrrad!
                        </h1>

                        <p class="lead">
                            In fast jeder großen Stadt treffen sich am letzten Freitag im Monat Radfahrer zu einer
                            gemeinsamen Ausfahrt. Sei mit dabei und schau dir an, was es alles zu entdecken gibt.
                        </p>

                        <p class="text-center">
                            <a href="https://criticalmass.blog/criticalmass-one/ueber-criticalmass-in/" class="btn btn-primary">
                                <i class="far fa-bicycle"></i>
                                Erfahre mehr über criticalmass.in
                            </a>
                        </p>
                    </div>
                </div>

                <div class="row margin-top-medium">
                    <div class="col-md-12">
                        <div data-controller="timeline"
                             data-timeline-api-url-value="{{ apiUrl }}"
                             data-timeline-initial-limit-value="10"
                             data-timeline-batch-size-value="20">
                            <div data-timeline-target="loading" class="text-center py-5">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Lädt…</span>
                                </div>
                            </div>

                            <div data-timeline-target="items"></div>

                            <div class="text-center my-4">
                                <button class="btn btn-primary d-none"
                                        data-timeline-target="loadMore"
                                        data-action="timeline#loadMore">
                                    Mehr laden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {{ render(controller('App\\Controller\\FrontpageController::rideListAction')) }}
            </div>
        </div>
    </div>

    {% include('Template/Includes/_footer.html.twig') %}
{% endblock %}
