{% if locations|length > 0 %}
    <div class="card">
        <div class="card-header">
            Treffpunkte
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                {% for location in locations %}
                    <li>
                        <a href="{{ object_path(location) }}">
                            {{ location.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}