{% if nearCities|length > 0 %}
<div class="card">
    <div class="card-header">
        Städte in der Umgebung
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% for city in nearCities %}
                <li>
                    <a href="{{ object_path(city) }}">
                        {{ city.city }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
