{% if nearCities|length > 0 %}
    <div class="card mb-3">
        <div class="card-header">
            <h3 class="card-title mb-0">Städte in der Umgebung</h3>
        </div>
        <div class="card-body">
            <ul class="mb-0">
                {% for city in nearCities %}
                    <li>
                        <a href="{{ object_path(city) }}">
                            {{ city.city }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
