<div class="dropdown" id="cityRideListButton">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
            id="cityListDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-sort"></i>
        Sortierung
    </button>

    <ul class="dropdown-menu" aria-labelledby="cityListDropdown">
        <li class="sortOption" data-sortAttribute="rideDate">
            <a class="dropdown-item" href="#">
                Datum
            </a>
        </li>
        <li class="sortOption" data-sortAttribute="rideTitle">
            <a class="dropdown-item" href="#">
                Titel
            </a>
        </li>
        <li class="sortOption" data-sortAttribute="rideLocation">
            <a class="dropdown-item" href="#">
                Treffpunkt
            </a>
        </li>
        <li class="sortOption" data-sortAttribute="rideParticipants">
            <a class="dropdown-item" href="#">
                Teilnehmer
            </a>
        </li>
        <li class="sortOption" data-sortAttribute="rideDistance">
            <a class="dropdown-item" href="#">
                Distanz
            </a>
        </li>
        <li class="sortOption" data-sortAttribute="rideDuration">
            <a class="dropdown-item" href="#">
                Dauer
            </a>
        </li>
    </ul>
</div>
