{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block breadcrumb %}
    <li class="active">Critical-Mass-Kalender</li>
{% endblock %}

{% block content %}
    {% set month = calendr_month(2018, 02) %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Dein weltweiter Critical-Mass-Kalender
                </h1>

                <p class="lead">
                    Hier siehst du eine Übersicht über alle in unserer Datenbank vorhandenen Critical-Mass-Touren.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3>
                    {{ time|format_date('MMMM YYYY') }}
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="calendar" class="calendar">
                    <thead>
                    <tr>
                        <th width="14%">
                            Montag
                        </th>

                        <th width="14%">
                            Dienstag
                        </th>

                        <th width="14%">
                            Mittwoch
                        </th>

                        <th width="14%">
                            Donnerstag
                        </th>

                        <th width="14%">
                            Freitag
                        </th>

                        <th width="14%">
                            Sonnabend
                        </th>

                        <th width="14%">
                            Sonntag
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for week in month %}
                        <tr>
                        {% for day in week %}
                            <td class="day">
                                <div class="day-number">
                                    {{ day.format('d') }}
                                </div>

{#                                {% if rideList|length %}
                                    <ul class="ride-list list-unstyled">
                                        {% for ride in rideList %}
                                            <li>
                                                <a href="{{ objectPath(ride) }}">
                                                    {{ ride.city.city }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                #}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        CriticalMass.loadModule('CalendarPage', '#calendar');
    </script>

{% endblock %}
