{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<header data-role="header"><h1>Registrierung</h1></header>

<section data-role="content">
	<form action="{{ path('caldera_criticalmass_processuserregistration')}}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" value="Weiter"/>
	</form>
</section>

{% endblock %}