{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}Track-Übersicht{% endblock %}

{% block breadcrumb %}

    <li>
        <a href="{{ path('caldera_criticalmass_city_list') }}">
            Städteliste
        </a>
    </li>

    <li>
        <a href="{{ objectPath(city) }}">
            {{ city.city }}
        </a>
    </li>

    <li class="active">
        Track-Übersicht
    </li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Track-Übersicht
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for track in pagination %}
                    {% include('Track/_track_list_item.html.twig') with { 'track': track, 'show_city': false } %}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Track löschen</h4>
                    </div>
                    <div class="modal-body">
                        <span id="trackIdLabel"></span>
                        <p>Willst Du diesen Track wirklich löschen?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group" role="group" aria-label="...">
                            <a id="deleteButton" href="#" class="btn btn-success">Ja, löschen</a>
                            <button id="cancelButton" class="btn btn-default">Nein, abbrechen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackListPage');
    </script>
{% endblock %}