{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Suchergebnisse{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Suchergebnisse für „{{ query }}“
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for result in results %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ result.title }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
