<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Statistiken
        </h3>
    </div>
    <div class="panel-body">
        <p>
            Teilnehmerzahlen, Fahrtlänge und Fahrtdauer: Schau dir Statistiken aus {{ city.city }} an:
        </p>

        <p class="text-center">
            <a href="{{ path('caldera_criticalmass_statistic_city', { citySlug: city.slug }) }}"
               class="btn btn-success">
                <i class="fa fa-bar-chart"></i>
                Statistiken
            </a>
        </p>
    </div>
</div>