{% extends 'CalderaCriticalmassSiteBundle:Template:FullscreenTemplate.html.twig' %}

{% set menu_selected = 'two' %}

{% block title %}Critical Mass live{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-6 col-md-offset-3">

        </div>
    </div>

{% endblock %}

