{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Timelapse{% endblock %}

{% block additionalHeaderElements %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% javascripts
    '@CalderaCriticalmassSiteBundle/Resources/public/js/external/leaflet/*.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/map/Map.js'
    '@CalderaCriticalmassSiteBundle/Resources/public/js/entity/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="container">
        {% for track in ride.getTracks() %}
            {{ track.getId() }}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>
    </div>

    <script>
        function initMap() {
            var map = new Map('map', []);
        }
        
        domReadyQueue.push(function($) {
            initMap();
        });
        
    </script>
{% endblock %}