body .photo-list .photo-thumb img {
  border: 1px grey solid;
  padding: 2px;
  background: white;
  height: 160px; }

body #city-jumbotron {
  height: 250px; }
  body #city-jumbotron h1,
  body #city-jumbotron p.lead {
    color: white;
    text-shadow: 0 0 3px #000; }

footer#footer {
  background-color: #eeeeee;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
}

body .margin-top-small {
  margin-top: 10px; }
body .margin-top-medium {
  margin-top: 20px; }
body .margin-top-large {
  margin-top: 40px; }
body .no-margin-top {
  margin-top: 0; }
body .padding-top-small {
  padding-top: 10px; }
body .padding-top-medium {
  padding-top: 20px; }
body .padding-top-large {
  padding-top: 40px; }
body .no-padding-top {
  padding-top: 0; }
body .margin-bottom-small {
  margin-bottom: 10px; }
body .margin-bottom-medium {
  margin-bottom: 20px; }
body .margin-bottom-large {
  margin-bottom: 40px; }
body .no-margin-bottom {
  margin-bottom: 0; }
body .padding-bottom-small {
  padding-bottom: 10px; }
body .padding-bottom-medium {
  padding-bottom: 20px; }
body .padding-bottom-large {
  padding-bottom: 40px; }
body .no-padding-bottom {
  padding-bottom: 0; }

body .tt-dataset {
  max-width: 320px;
  min-width: 160px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  body .tt-dataset .tt-cursor {
    color: #333333;
    background-color: whitesmoke; }

body div#map div.user-position {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 black; }
  body div#map div.user-position div.user-position-inline {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    background-position: -5px -5px; }

body nav#navigation {
  z-index: 1000; }

body .transit-hvv {
  color: white;
  font-weight: bold;
  width: 35px;
  display: inline-block;
  text-align: center; }
body .transit-hvv-s1,
body .transit-hvv-s11,
body .transit-hvv-s2,
body .transit-hvv-s21,
body .transit-hvv-s3,
body .transit-hvv-s31,
body .transit-hvv-a1,
body .transit-hvv-a2,
body .transit-hvv-a3 {
  border-radius: 15px; }
body .transit-hvv-s1 {
  background-color: #149533; }
body .transit-hvv-s11 {
  border: 3px #149533 solid;
  color: #149533; }
body .transit-hvv-s2 {
  border: 3px #b3193c solid;
  color: #b3193c; }
body .transit-hvv-s21 {
  background-color: #b3193c; }
body .transit-hvv-s3 {
  background-color: #53246c; }
body .transit-hvv-s31 {
  background-color: #53246c; }
body .transit-hvv-u1 {
  background-color: #0b5ca2; }
body .transit-hvv-u2 {
  background-color: #ea0c2a; }
body .transit-hvv-u3 {
  background-color: #fed430; }
body .transit-hvv-u4 {
  background-color: #138b8e; }
body .transit-hvv-a1,
body .transit-hvv-a2,
body .transit-hvv-a3 {
  background-color: #e7873a; }