<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>criticalmass.in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    {% stylesheets
    '@CalderaCriticalmassCoreBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/external/*.css'
    '@CalderaCriticalmassTimelineBundle/Resources/public/css/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/social/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/halflings/*.css'
    '@CalderaCriticalmassAssetBundle/Resources/public/css/glyphicons/glyphicons/*.css'
    '@CalderaCriticalmassDesktopBundle/Resources/public/css/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>

<body class="fullscreenMapBody">
{% include('CalderaCriticalmassDesktopBundle:Common:Navigation.html.twig') with { 'fullscreenMap': 'true' } %}

<div id="map">
    <div id="glympseLogoContainer">
        <a href="http://www.glympse.com/">
            <img id="glympseLogo" src="/images/glympse/glympse-150.png" />
        </a>
    </div>
</div>


{% javascripts
'@CalderaCriticalmassDesktopBundle/Resources/public/js/pages/live.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script>
    $(function() {
        var live = new Live('hamburg');
    });
</script>
{% endjavascripts %}
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.www.criticalmass.in"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.caldera.cc/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="http://piwik.caldera.cc/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
