{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Dein Benutzerprofil{% endblock %}

{% block breadcrumb %}
    <li class="active">Dein Benutzerkonto</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>
                    Hej {{ app.getUser().getUsername() }}, schön, dass du da bist!
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul>
                    <li><a href="{{ path('fos_user_change_password') }}">Kennwort ändern</a></li>
                    <li><a href="{{ path('caldera_criticalmass_track_list') }}">Deine Tracks</a></li>
                    <li><a href="{{ path('caldera_criticalmass_photo_user_list') }}">Deine Fotos</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
