{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
