{% extends 'AppBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Städte-Übersicht{% endblock %}

{% block breadcrumb %}
    <li class="active">Städteliste</li>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                foo
            </div>
        </div>
    </div>
{% endblock %}