{% if posts|length > 0 %}
    <div class="post-list" data-controller="scroll-to-post">
        {% for post in posts %}
            {% include('Post/post.html.twig') with { 'post':  post } %}
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        <strong>Schade!</strong> Bislang hat noch niemand einen Kommentar geschrieben!
    </div>
{% endif %}
