{% if posts|length > 0 %}
    <div class="post-list" data-controller="scroll-to-post">
        {% for post in posts %}
            {% include('Post/post.html.twig') with { 'post': post } %}
        {% endfor %}
    </div>
{% else %}
    <div class="text-center py-5">
        <i class="far fa-comments fa-3x text-muted mb-3"></i>
        <h5 class="text-muted">{{ 'post.list.empty_label'|trans }}</h5>
        <p class="text-muted mb-0">{{ 'post.list.empty_text'|trans }}</p>
    </div>
{% endif %}
