{% if app.user %}
    <div class="modal fade" id="modal-add-post" tabindex="-1" role="dialog" aria-labelledby="label-add-post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="label-add-post">Kommentar hinzufügen</h4>
                </div>
                {{ form_start(form, {'attr': {'id': 'form-post', 'role': 'form'}}) }}
                <div class="modal-body">
                    <div class="form-group{% if form_errors(form.message) %} has-error has-feedback{% endif %}">
                        <label for="" class="control-label">Dein Kommentar:</label>
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 10}}) }}
                    </div>

                    {{ form_widget(form._token) }}
                </div>
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Abbrechen
                        </button>
                        <button type="submit" id="button-submit-post" class="btn btn-success">
                            <i class="far fa-pencil"></i>
                            Speichern
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endif %}
