{% if app.user %}
    <div class="modal fade" id="modal-add-post" tabindex="-1" aria-labelledby="label-add-post" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="label-add-post">
                        <i class="far fa-comment-alt text-primary me-2"></i>Kommentar schreiben
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                </div>
                {{ form_start(form, {'attr': {'id': 'form-post'}}) }}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label text-muted">Dein Kommentar</label>
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6, 'placeholder': 'Schreibe hier deinen Kommentar...'}}) }}
                    </div>
                    {{ form_widget(form._token) }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" id="button-submit-post" class="btn btn-primary">
                        <i class="far fa-paper-plane me-1"></i>Absenden
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endif %}
