{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}Kommentare{% endblock %}

{% block body %}
<div data-role="header">
	<a href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menü</a>
	<h1>Kommentare</h1>
	<a href="#rightpanel" data-icon="home" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Städte</a>
</div>

<div id="content" data-role="content">
	<ul data-role="listview">
		{% for comment in comments %}
		<li>
			<h3 class="ui-li-heading">Malte Hübner</h3>
			{{ comment.getText }}
		</li>
	{% endfor %}
	</ul>
</div>

{% endblock %}

