{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}Kommentare{% endblock %}

{% block body %}

<p class="error">Für diese Stadt gibt es keine Touren, du kannst leider nicht kommentieren :(</p>

{% endblock %}
