{% extends 'Template/StandardTemplate.html.twig' %}

{% set city = ride.city %}

{% block title %}Fotos hochladen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: city.title, url: object_path(city) },
            { label: ride.title, url: object_path(ride) },
            { label: 'Fotos hochladen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Fotos hochladen</h1>

                <p>
                    Hier kannst du einzelne Fotos zu einer Tour hochladen. Wenn du vorher einen GPX-Track deiner Tour
                    hochlädst oder deine Fotos GPS-Koordinaten enthalten, werden deine Fotos automatisch auf der Karte
                    verortet.
                </p>

                <p>
                    <strong>
                        Mit dem Hochladen von Foto-Dateien bestätigst du, dass du der Urheber dieser Fotos bist. Bitte
                        lade keine Fotos hoch, an denen du keine Urheberrechte besitzt!
                    </strong>
                </p>

                <p>
                    Um mehrere Fotos auf einmal hochzuladen, probiere bitte
                    <a href="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}">
                        Multi-Uploader
                    </a>
                    aus.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="{{ object_path(ride, 'caldera_criticalmass_gallery_legacy_photos_upload_ride') }}"
                      method="post" enctype="multipart/form-data">
                    {{ form_widget(form.imageFile) }}

                    <input type="submit"
                           value="Datei hochladen"
                           class="btn btn-success mt-4">
                </form>
            </div>
        </div>

    </div>
{% endblock %}
