{% extends 'Template/StandardTemplate.html.twig' %}

{% set city = ride.city %}

{% block title %}Fotos hochladen{% endblock %}

{% import '_macros/breadcrumb.html.twig' as bc %}

{% block breadcrumbs %}
    {{ bc.render(
        [
            { label: 'Städteliste', url: path('caldera_criticalmass_city_list') },
            { label: city.title, url: object_path(city) },
            { label: ride.title, url: object_path(ride) },
            { label: 'Fotos hochladen' },
        ],
        {
            homeLabel: 'Critical Mass',
            homeUrl: path('caldera_criticalmass_frontpage')
        }
    ) }}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1>Fotos hochladen</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    Ziehe einfach Fotos von deinem Rechner auf die graue Fläche, um sie zu der Tour hinzuzufügen. Wenn
                    du vorher einen GPX-Track deiner Tour hochlädst oder deine Fotos GPS-Koordinaten
                    enthalten, werden deine Fotos automatisch auf der Karte verortet.
                </p>

                <p>
                    Falls dieser Uploader nicht funktionieren sollte, kannst du auch unseren
                    <a href="{{ object_path(ride, 'caldera_criticalmass_gallery_legacy_photos_upload_ride') }}">
                        alten Uploader
                    </a>
                    ausprobieren.
                </p>

                <p>
                    <strong>
                        Mit dem Hochladen von Foto-Dateien bestätigst du, dass du der Urheber dieser Fotos bist. Bitte
                        lade keine Fotos hoch, an denen du keine Urheberrechte besitzt!
                    </strong>
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <form
                        action="{{ object_path(ride, 'caldera_criticalmass_gallery_photos_upload_ride') }}"
                        class="dropzone"
                        id="photo-dropzone">
                </form>
            </div>
        </div>

    </div>
{% endblock %}
