{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block body %}
	<ul>
	{% for result in cityResults %}
	<li><a href="{{ url('caldera_criticalmass_showcity', {'city': result['city'].getCity }) }}">{{ result['city'].getTitle }}</a> (Entfernung: {{ result['distance']|number_format(2) * 75 }} Kilometer)</li>
	{% endfor %}
	</ul>
{% endblock %}