{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}Push-Notifications{% endblock %}

{% block body %}
<h1>Push-Notifications</h1>

<p>Mit der App <a href="http://www.pushover.net/">Pushover</a> kannst du dir Push-Benachrichtigungen auf dein Smartphone senden lassen, wenn neue Termine eingestellt werden oder der Treffpunkt einer Tour veröffentlicht wird.</p>
<p>Die Pushover-App gibt’s für <a href="https://www.pushover.net/clients/android">Android</a> (3,75 €) und <a href="https://www.pushover.net/clients/ios">iOS</a> (4,99 €). Für dich entstehen außer des einmaligen Kaufpreises keine weiteren Kosten.</p>

<form action="{{ path('caldera_criticalmass_pushnotificationsettings') }}" method="post" {{ form_enctype(form) }} data-ajax="false">
	{{ form_widget(form) }}
	<input type="submit" value="Absenden" />
</form>
{% endblock %}
