{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block body %}
<a href="#rightpanel" data-role="button" data-icon="home">Stadt auswählen</a>
{% endblock %}
