<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="cityListDropdown" data-toggle="dropdown">
        <i class="fa fa-sort"></i>
        Sortierung
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="cityListDropdown">
        <li class="sort-option" data-sort-attribute="cityName" id="sortByCity" role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-university"></i>
                Stadt
            </a>
        </li>
        <li class="sort-option" data-sort-attribute="CityLocation" id="sortByDistance" role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-map-signs"></i>
                Entfernung
            </a>
        </li>
        <li class="sort-option" data-sort-attribute="currentRide" id="sortByNextRide" role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-calendar"></i>
                nächster Tour
            </a>
        </li>
    </ul>
</div>

<script>
    CriticalMass.loadModule('SortableTable', '#cityListTable', { buttonId: 'cityListDropdown' });
</script>