<footer class="footer m-t-3 m-b-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-md-center text-muted">
                    Seit {{ daysSince('2011-06-24 19:00:00') }} Tagen im Sattel &bull;
                    <a href="{{ path('caldera_criticalmass_content_display', { slug: 'about-us/impress' }) }}">
                        Impressum
                    </a>
                    &bull;
                    <a href="http://sqi.be/v4px3">
                        facebook
                    </a>
                    &bull;
                    <a href="http://sqi.be/y1aw6">
                        GitHub
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-md-center text-muted">
                    Kartendaten und Geocoding von
                    <a href="http://sqi.be/gojuq">
                        OpenStreetMap
                    </a>
                    &bull;
                    &copy; OpenStreetMap-Mitwirkende
                    &bull;
                    <a href="http://sqi.be/dc9ux">
                        Lizensiert unter CC BY-SA 2.0
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-md-center text-muted">
                    Wetterdaten von
                    <a href="http://sqi.be/fedj6">
                        OpenWeatherMap
                    </a>
                    &bull;
                    <a href="http://sqi.be/hzo71">
                        Lizensiert unter CC BY-SA 4.0
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-md-center text-muted">
                    Betrieben mit Öko-Strom auf Servern von
                    <a href="http://sqi.be/m2l5s">
                        manitu
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>