{% extends 'CalderaCriticalmassDesktopBundle:Common:StandardTemplate.html.twig' %}

{% block title %}Upload{% endblock %}

{% block content %}
    {% stylesheets
    '@CriticalmassGalleryBundle/Resources/public/css/external/*.css'
    filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% javascripts
    '@CriticalmassGalleryBundle/Resources/public/js/external/dropzone.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}">
        Dropzone.options.myAwesomeDropzone = {
                dictDefaultMessage: "bla"
        };
    </script>
    {% endjavascripts %}


    <div class="container">
        <form action="{{ path('criticalmass_gallery_photos_upload') }}"
              class="dropzone"
              id="my-awesome-dropzone">
        </form>
    </div>
{% endblock %}