{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}criticalmass.in{% endblock %}

{% block body %}
<img id="cmscreenlogo" src="{{ asset('bundles/calderacriticalmass/images/criticalmass-logo.png') }}" />
<p>Bitte wähle deine Stadt aus:</p>

<a href="#rightpanel" data-role="button" data-icon="home">Stadt auswählen</a>
{% endblock %}
