<form class="navbar-form navbar-right" role="search"
      action="{{ path('caldera_criticalmass_search_query') }}">
    <div class="form-group">
        <input id="search-input" type="text" class="form-control"
               placeholder="{% trans %}criticalmass.navigation.search.search{% endtrans %}"
               name="query"/>
    </div>
    <button type="submit" class="btn btn-success">
        {% trans %}criticalmass.navigation.search.search{% endtrans %}
    </button>
</form>

<script type="text/javascript">
    CriticalMass.loadModule('Search', '#search-input');
</script>
