{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block body %}
	<h1>Benachrichtigungen senden</h1>

	<div data-role="controlgroup">
		<button>Tour ankündigen</button>
		<button>Uhrzeit ankündigen</button>
		<button>Treffpunkt ankündigen</button>
	</div>
{% endblock %}
