{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Critical Mass in Deutschland</h1>

        <p>Die Critical Mass findet überall statt. Auch in deiner Nähe.</p>

        <div class="row">
            {% for city in cities %}
                <div class="col-md-4">
                    <a href="#"><h2>{{ city.getCity() }}</h2></a>
                    <p>{{ city.getDescription() }}</p>
                    <p>{{ city.getEventDateTimeLocationString() }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}