{% extends 'CalderaCriticalmassDesktopBundle::BaseTemplate.html.twig' %}

{% block body %}
    <script>

        function parallax(){
            var jumboHeight = $('#cityListJumbotron').outerHeight();
            var scrolled = $(window).scrollTop();
            var backgroundHeight = (jumboHeight-scrolled) + 'px';
            $('.bg').css('height', backgroundHeight);
        }

        $(window).scroll(function(e){
            parallax();
        });
    </script>
    <div class="bg"></div>
    <div class="jumbotron" id="cityListJumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        <h1>Critical Mass in Deutschland</h1>
        <p>Die Critical Mass findet überall statt. Auch in deiner Nähe.</p>
    </div>

        <div class="row">
            {% for city in cities %}
                <div class="col-md-4">
                    <a href="#"><h2>{{ city.getCity() }}</h2></a>
                    <p>{{ city.getDescription() }}</p>
                    <p>{{ city.getEventDateTimeLocationString() }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}