{% extends 'CalderaCriticalmassSiteBundle:Template:StandardTemplate.html.twig' %}

{% block title %}Handy-Nummer editieren{% endblock %}

{% block breadcrumb %}
    <li class="active">
        Handy-Nummer editieren
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Handy-Nummer editieren
                </h1>
            </div>
        </div>

        {{ form_start(mobilePhoneNumberForm) }}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group{% if form_errors(mobilePhoneNumberForm.mobilePhoneNumber) %} has-error has-feedback{% endif %}">
                    <label class="control-label" for="">Deine Handy-Nummer:</label>
                    {{ form_widget(mobilePhoneNumberForm.mobilePhoneNumber, { 'attr' : { 'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success pull-right">
                    Speichern
                </button>
            </div>
        </div>
        {{ form_end(mobilePhoneNumberForm) }}
    </div>
{% endblock %}
