{% extends 'CalderaCriticalmassBundle:Default:layout.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block body %}
	<div data-role="header">
		<a href="#mainpanel" data-icon="bars" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Menü</a>
		<h1>Impressum</h1>
	</div>

	foo
{% endblock %}

