<div class="dropdown" id="cityListButton">
    <button class="btn btn-default dropdown-toggle" type="button" id="cityListDropdown" data-toggle="dropdown">
        <i class="fa fa-sort"></i>
        Sortierung
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="cityListDropdown">
        <li role="presentation" class="sortOption" data-sortAttribute="cityName">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-university"></i>
                Stadt
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="cityLocation">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-map-signs"></i>
                Entfernung
            </a>
        </li>
        <li role="presentation" class="sortOption" data-sortAttribute="currentRide">
            <a role="menuitem" tabindex="-1" href="#">
                <i class="fa fa-calendar"></i>
                nächster Tour
            </a>
        </li>
    </ul>
</div>

<script>
    CriticalMass.loadModule('SortableTable', null, {
        tableId: 'cityList',
        buttonId: 'cityListButton'
    });
</script>